.form-group
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Habitats
		hr
		div(collapse='isCollapsed')
			h3 Habitats Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.habitats.habitatsAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Habitat
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.habitats.habitatsAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.habitats.habitatsAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							|               {{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.habitats.habitatsAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.habitats.habitatsAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Habitats Unstructured:
			input.form-control(type='text', name='habitats', ng-model='formData.habitats.habitatsUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.habitats.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.habitats.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Distribution
		hr
		div(collapse='isCollapsed')
			h3 Distribution Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.habitats.distributionAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Distribution
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.habitats.distributionAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.habitats.distributionAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							|               {{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.habitats.distributionAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.habitats.distributionAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Distribution Unstructured:
			input.form-control(type='text', name='habitats', ng-model='formData.habitats.distributionUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.habitats.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.habitats.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	h3 Endemic Atomized:
	hr
	div(ng-controller='CollapseDemoCtrl')
		.selected-item(ng-repeat='measurementOrFact in formData.endemicAtomized.measurementOrFact')
			div(ng-show='measurementOrFact')
				div {{measurementOrFact}}
		button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Endemic
		div(collapse='isCollapsed_1')
			.panel(ng-controller='checkBoxController')
				div(ng-repeat='employee in employees')
					.action-checkbox
						input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.endemicAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.endemicAtomized.measurementOrFact,employee.name)')
						label(for='{{employee.name}}')
						|             {{employee.name}}
	//
		<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.endemicAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
		<div ng-repeat="ancillary in formData.endemicAtomized.ancillaryData">
		<div class="form-group">
		<h4>License:</h4>
		<input type="text"  ng-model="ancillary.license"/>
		<hr>
		<h4>Rights Holder:</h4>
		<input type="text"  ng-model="ancillary.rightsHolder"/>
		<hr>
		<h4>Bibliographic Citation:</h4>
		<input type="text"  ng-model="ancillary.bibliographicCitation"/>
		<hr>
		<h4>Source:</h4>
		<input type="text"  ng-model="ancillary.source"/>
		<hr>
		<h4>Media URL:</h4>
		<input type="text"  ng-model="ancillary.mediaURL"/>
		<hr>
		<h4>References:</h4>
		<div ng-repeat="ref in ancillary.reference">
		<h5>Identifier:</h5>
		<input type="text"  ng-model="ref.identifier"/>
		<br>
		<h5>Datatype:</h5>
		<input type="text"  ng-model="ref.datatype"/>
		<br>
		<h5>Source:</h5>
		<input type="text"  ng-model="ref.source"/>
		<hr>
		</div>
		<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
		<hr>
		</div>
		</div>
	br
.col-xs-6.col-xs-offset-3
	a.btn.btn-block.btn-info(ui-sref='form.demogra')
		| Next Section
		span.glyphicon.glyphicon-circle-arrow-right
