.form-group
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Life Form
		hr
		div(collapse='isCollapsed')
			h3 Life Form Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.lifeForm.lifeFormAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Life Form
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.lifeForm.lifeFormAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.lifeForm.lifeFormAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.lifeForm.lifeFormAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.lifeForm.lifeFormAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Life Form Unstructured:
			input.form-control(type='text', name='lifeForm', ng-model='formData.lifeForm.lifeFormUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.lifeForm.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.lifeForm.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Life Cycle
		hr
		div(collapse='isCollapsed')
			h3 Life Cycle Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.lifeCycle.lifeCycleAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Life Cycle
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.lifeCycle.lifeCycleAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.lifeCycle.lifeCycleAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.lifeCycle.lifeCycleAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.lifeCycle.lifeCycleAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Life Cycle Unstructured:
			input.form-control(type='text', name='lifeCycle', ng-model='formData.lifeCycle.lifeCycleUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.lifeCycle.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.lifeCycle.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Reproduction
		hr
		div(collapse='isCollapsed')
			h3 Reproduction Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.reproduction.reproductionAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Reproduction
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.reproduction.reproductionAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.reproduction.reproductionAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.reproduction.reproductionAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.reproduction.reproductionAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Reproduction Unstructured:
			input.form-control(type='text', name='reproduction', ng-model='formData.reproduction.reproductionUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.reproduction.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.reproduction.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Annual Cycles
		hr
		div(collapse='isCollapsed')
			h3 Annual Cycle Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.annualCycle.annualCycleAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Annual Cycle
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.annualCycle.annualCycleAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.annualCycle.annualCycleAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.annualCycle.annualCycleAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.annualCycle.annualCycleAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Annual Cycle Unstructured:
			input.form-control(type='text', name='annualCycle', ng-model='formData.annualCycle.annualCycleUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.annualCycle.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.annualCycle.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Feeding
		hr
		div(collapse='isCollapsed')
			h3 Feeding Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.feeding.feedingAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Feeding
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.feeding.feedingAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.feeding.feedingAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.feeding.feedingAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.feeding.feedingAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Feeding Unstructured:
			input.form-control(type='text', name='feeding', ng-model='formData.feeding.feedingUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.feeding.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.feeding.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Dispersal
		hr
		div(collapse='isCollapsed')
			h3 Dispersal Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.dispersal.dispersalAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Dispersal
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.dispersal.dispersalAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.dispersal.dispersalAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.dispersal.dispersalAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.dispersal.dispersalAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Dispersal Unstructured:
			input.form-control(type='text', name='dispersal', ng-model='formData.dispersal.dispersalUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.dispersal.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.dispersal.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Behavior
		hr
		div(collapse='isCollapsed')
			h3 Behavior Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.behavior.behaviorAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Behavior
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.behavior.behaviorAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.behavior.behaviorAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.behavior.behaviorAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.behavior.behaviorAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Behavior Unstructured:
			input.form-control(type='text', name='behavior', ng-model='formData.behavior.behaviorUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.behavior.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.behavior.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Interactions
		hr
		div(collapse='isCollapsed')
			h3 Interactions Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.interactions.interactionsAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Interactions
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.interactions.interactionsAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.interactions.interactionsAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.interactions.interactionsAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.interactions.interactionsAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Interactions Unstructured:
			input.form-control(type='text', name='interactions', ng-model='formData.interactions.interactionsUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.interactions.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.interactions.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Molecular Data
		hr
		div(collapse='isCollapsed')
			h3 Molecular Data Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.molecularData.molecularDataAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Interactions
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.molecularData.molecularDataAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.molecularData.molecularDataAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.molecularData.molecularDataAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.molecularData.molecularDataAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Molecular Data Unstructured:
			input.form-control(type='text', name='molecularData', ng-model='formData.molecularData.molecularDataUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.molecularData.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.molecularData.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Migratory
		hr
		div(collapse='isCollapsed')
			h3 Migratory Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.migratory.migratoryAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Migratory
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.migratory.migratoryAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.migratory.migratoryAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.migratory.migratoryAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.migratory.migratoryAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Migratory Unstructured:
			input.form-control(type='text', name='migratory', ng-model='formData.migratory.migratoryUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.migratory.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.migratory.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Ecological Significance
		hr
		div(collapse='isCollapsed')
			h3 Ecological Significance Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.ecologicalSignificance.ecologicalSignificanceAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Ecological Significance
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.ecologicalSignificance.ecologicalSignificanceAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.ecologicalSignificance.ecologicalSignificanceAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.ecologicalSignificance.ecologicalSignificanceAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.ecologicalSignificance.ecologicalSignificanceAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Ecological Significance Unstructured:
			input.form-control(type='text', name='ecologicalSignificance', ng-model='formData.ecologicalSignificance.ecologicalSignificanceUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.ecologicalSignificance.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.ecologicalSignificance.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Environmental Envelope
		hr
		div(collapse='isCollapsed')
			h3 Environmental Envelope Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.environmentalEnvelope.environmentalEnvelopeAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Environmental Envelope
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.environmentalEnvelope.environmentalEnvelopeAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.environmentalEnvelope.environmentalEnvelopeAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.environmentalEnvelope.environmentalEnvelopeAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.environmentalEnvelope.environmentalEnvelopeAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
			h3 Environmental Envelope Unstructured:
			input.form-control(type='text', name='environmentalEnvelope', ng-model='formData.environmentalEnvelope.environmentalEnvelopeUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.environmentalEnvelope.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.environmentalEnvelope.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
	br
.col-xs-6.col-xs-offset-3
	a.btn.btn-block.btn-info(ui-sref='form.invasiveness')
		| Next Section
		span.glyphicon.glyphicon-circle-arrow-right
