.form-group
	h3 Language:
	hr
	input.form-control(type='text', name='language', ng-model='formData.language')
	br
	h3 Version:
	hr
	input.form-control(type='text', name='version', ng-model='formData.version.preferredFlag')
	br
	h3 Revision:
	hr
	div(ng-repeat='rev in formData.revisiones')
		.form-group
			h4 Associated Party:
			input(type='text', ng-model='rev.associatedParty')
			br
			h4 PubDate:
			input(type='text', ng-model='rev.pubDate')
			br
			h4 Created:
			input(type='text', ng-model='rev.created')
			button.btn.btn-info.btn-sm(type='button', ng-show='$last', ng-click='removeRevision()')
				span.glyphicon.glyphicon-minus
	button.btn.btn-info.btn-sm(type='button', ng-click='addRevision(formData.revisiones)')
		| Add Revision
		span.glyphicon.glyphicon-plus
.form-group.row
	.col-xs-6.col-xs-offset-3
		a.btn.btn-block.btn-info(ui-sref='form.nomeAndClass')
			| Next Section
			span.glyphicon.glyphicon-circle-arrow-right
