h3 References
hr
.row.equal
	.col-md-5
		div
			h4 Add a manual reference:
			button.btn.btn-info.btn-sm(type='button', ng-click='addReferenceDirec(formData.references)')
				| Add
				span.glyphicon.glyphicon-plus
	.col-md-5
		div(ng-app='fileUpload', ng-controller='UploadFile')
			h4 Drop File:
			.drop-box(ngf-drop='', ngf-select='', ng-model='files', ngf-drag-over-class='dragover', ngf-multiple='true', ngf-allow-dir='true', accept='image/*,application/pdf')
				| Drop ris here or click to upload
hr
div(ng-repeat='ref in formData.references')
	.form-group
		h4 Identifier:
		input(type='text', ng-model='ref.identifier')
		br
		h4 Datatype:
		input(type='text', ng-model='ref.datatype')
		br
		h4 Source:
		input(type='text', ng-model='ref.source')
		button.btn.btn-info.btn-sm(type='button', ng-show='$last', ng-click='removeReferenceDirec()')
			span.glyphicon.glyphicon-minus
		hr
.col-xs-6.col-xs-offset-3
	a.btn.btn-block.btn-info(ui-sref='form.ancillary')
		| Next Section
		span.glyphicon.glyphicon-circle-arrow-right
