.form-group
	h3 Brief Description:
	hr
	input.form-control(type='text', name='briefDescription', ng-model='formData.briefDescription')
	br
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed')  Full Description
		hr
		div(collapse='isCollapsed')
			h3 Full Description Unstructured:
			input.form-control(type='text', name='fullDescription', ng-model='formData.fullDescription.fullDescriptionUnstructured')
			button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.fullDescription.ancillaryData)')
				| Add Ancillary Data
				span.glyphicon.glyphicon-plus
			div(ng-repeat='ancillary in formData.fullDescription.ancillaryData')
				.form-group
					h4 License:
					input(type='text', ng-model='ancillary.license')
					hr
					h4 Rights Holder:
					input(type='text', ng-model='ancillary.rightsHolder')
					hr
					h4 Bibliographic Citation:
					input(type='text', ng-model='ancillary.bibliographicCitation')
					hr
					h4 Source:
					input(type='text', ng-model='ancillary.source')
					hr
					h4 Media URL:
					input(type='text', ng-model='ancillary.mediaURL')
					hr
					h4 References:
					div(ng-repeat='ref in ancillary.reference')
						h5 Identifier:
						input(type='text', ng-model='ref.identifier')
						br
						h5 Datatype:
						input(type='text', ng-model='ref.datatype')
						br
						h5 Source:
						input(type='text', ng-model='ref.source')
						hr
					button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
						| Add Reference
						span.glyphicon.glyphicon-plus
					hr
			br
			h3 Full Description Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.fullDescription.fullDescriptionAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Full Description
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.fullDescription.fullDescriptionAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.fullDescription.fullDescriptionAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.fullDescription.fullDescriptionAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in formData.fullDescription.fullDescriptionAtomized.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
	br
	h3 Identification Keys:
	hr
	input.form-control(type='text', name='identificationKeys', ng-model='formData.identificationKeys.keys')
	button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.identificationKeys.ancillaryData)')
		| Add Ancillary Data
		span.glyphicon.glyphicon-plus
	div(ng-repeat='ancillary in formData.identificationKeys.ancillaryData')
		.form-group
			h4 License:
			input(type='text', ng-model='ancillary.license')
			hr
			h4 Rights Holder:
			input(type='text', ng-model='ancillary.rightsHolder')
			hr
			h4 Bibliographic Citation:
			input(type='text', ng-model='ancillary.bibliographicCitation')
			hr
			h4 Source:
			input(type='text', ng-model='ancillary.source')
			hr
			h4 Media URL:
			input(type='text', ng-model='ancillary.mediaURL')
			hr
			h4 References:
			div(ng-repeat='ref in ancillary.reference')
				h5 Identifier:
				input(type='text', ng-model='ref.identifier')
				br
				h5 Datatype:
				input(type='text', ng-model='ref.datatype')
				br
				h5 Source:
				input(type='text', ng-model='ref.source')
				hr
			button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
				| Add Reference
				span.glyphicon.glyphicon-plus
			hr
.col-xs-6.col-xs-offset-3
	a.btn.btn-block.btn-info(ui-sref='form.history')
		| Next Section
		span.glyphicon.glyphicon-circle-arrow-right
