.form-group
	div(ng-controller='CollapseDemoCtrl')
		button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Uses
		hr
		div(collapse='isCollapsed')
			h3 Uses Atomized:
			.selected-item(ng-repeat='measurementOrFact in formData.uses.usesAtomized.measurementOrFact')
				div(ng-show='measurementOrFact')
					div {{measurementOrFact}}
			button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Uses
			div(collapse='isCollapsed_1')
				.panel(ng-controller='checkBoxController')
					div(ng-repeat='employee in employees')
						.action-checkbox
							input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.uses.usesAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.uses.usesAtomized.measurementOrFact,employee.name)')
							label(for='{{employee.name}}')
							| 							{{employee.name}}
			//
				<div class="form-group">
				<input type="text" class="form-control" name="usesAtomized" ng-model="use.measurementOrFact"/>
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(use.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in use.ancillaryData">
				<div class="form-group">
				<h4>License:</h4>
				<input type="text"  ng-model="ancillary.license"/>
				<hr>
				<h4>Rights Holder:</h4>
				<input type="text"  ng-model="ancillary.rightsHolder"/>
				<hr>
				<h4>Bibliographic Citation:</h4>
				<input type="text"  ng-model="ancillary.bibliographicCitation"/>
				<hr>
				<h4>Source:</h4>
				<input type="text"  ng-model="ancillary.source"/>
				<hr>
				<h4>Media URL:</h4>
				<input type="text"  ng-model="ancillary.mediaURL"/>
				<hr>
				<h4>References:</h4>
				<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
				<hr>
				</div>
				</div>
				<button  type="button" class="btn btn-info btn-sm" ng-show="$last" ng-click="removeUses()"><span class="glyphicon glyphicon-minus"></span></button>
				</div>
				</div>
				<button type="button" class="btn btn-info btn-sm" ng-click="addUses(formData.uses)">Add Use<span class="glyphicon glyphicon-plus"></span> </button>
				<br>
				<br>
		div(ng-controller='CollapseDemoCtrl')
			button.btn.btn-default(ng-click='isCollapsed = !isCollapsed') Management And Conservation
			hr
			div(collapse='isCollapsed')
				h3 Management And Conservation Atomized:
				.selected-item(ng-repeat='measurementOrFact in formData.managementAndConservation.managementAndConservationAtomized.measurementOrFact')
					div(ng-show='measurementOrFact')
						div {{measurementOrFact}}
				button.btn.btn-default(ng-click='isCollapsed_1 = !isCollapsed_1')  Add Uses
				div(collapse='isCollapsed_1')
					.panel(ng-controller='checkBoxController')
						div(ng-repeat='employee in employees')
							.action-checkbox
								input(id='{{employee.name}}', type='checkbox', value='{{employee.name}}', ng-checked='formData.managementAndConservation.managementAndConservationAtomized.measurementOrFact.indexOf(employee.name) > -1', ng-click='toggleSelection(formData.managementAndConservation.managementAndConservationAtomized.measurementOrFact,employee.name)')
								label(for='{{employee.name}}')
								| 							{{employee.name}}
				//
					<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.managementAndConservation.managementAndConservationAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
					<div ng-repeat="ancillary in formData.managementAndConservation.managementAndConservationAtomized.ancillaryData">
					<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
					<h5>Identifier:</h5>
					<input type="text"  ng-model="ref.identifier"/>
					<br>
					<h5>Datatype:</h5>
					<input type="text"  ng-model="ref.datatype"/>
					<br>
					<h5>Source:</h5>
					<input type="text"  ng-model="ref.source"/>
					<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
					</div>
					</div>
				h3 Management And Conservation Unstructured:
				input.form-control(type='text', name='managementAndConservation', ng-model='formData.managementAndConservation.managementAndConservationUnstructured')
				button.btn.btn-info.btn-sm(type='button', ng-click='addAncillaryData(formData.managementAndConservation.ancillaryData)')
					| Add Ancillary Data
					span.glyphicon.glyphicon-plus
				div(ng-repeat='ancillary in formData.managementAndConservation.ancillaryData')
					.form-group
						h4 License:
						input(type='text', ng-model='ancillary.license')
						hr
						h4 Rights Holder:
						input(type='text', ng-model='ancillary.rightsHolder')
						hr
						h4 Bibliographic Citation:
						input(type='text', ng-model='ancillary.bibliographicCitation')
						hr
						h4 Source:
						input(type='text', ng-model='ancillary.source')
						hr
						h4 Media URL:
						input(type='text', ng-model='ancillary.mediaURL')
						hr
						h4 References:
						div(ng-repeat='ref in ancillary.reference')
							h5 Identifier:
							input(type='text', ng-model='ref.identifier')
							br
							h5 Datatype:
							input(type='text', ng-model='ref.datatype')
							br
							h5 Source:
							input(type='text', ng-model='ref.source')
							hr
						button.btn.btn-info.btn-sm(type='button', ng-click='addReference(ancillary.reference)')
							| Add Reference
							span.glyphicon.glyphicon-plus
						hr
				br
		br
		h3 Associated Party (*):
		hr
		input.form-control(type='text', name='associatedParty', ng-model='formData.associatedParty')
		br
		h3 Measurement Or Fact (*):
		hr
		input.form-control(type='text', name='measurementOrFact', ng-model='formData.measurementOrFact')
		br
		h3 Detail Atomized (*):
		hr
		input.form-control(type='text', name='detailAtomized', ng-model='formData.detailAtomized')
		br
	.col-xs-6.col-xs-offset-3
		a.btn.btn-block.btn-info(ui-sref='form.references')
			| Next Section
			span.glyphicon.glyphicon-circle-arrow-right
