div(data-ng-controller='AbstractCtrl')
	.panel.panel-default
		.panel-heading
			spant {{"simplePliCTerm.name.Abstract"|translate}}
			a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Abstract"|translate}}')
				span.glyphicon.glyphicon-info-sign
			//button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addAbstract()') 
				span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
		.panel-body
			.form-group
				textarea(rows='3', name='abstract', data-ng-model='formData.abstract')
			
