div(ng-controller='BriefDescriptionCtrl')
	.panel.panel-default
		.panel-heading
			spant
				| {{"simplePliCTerm.name.BriefDescription"|translate}} 
				spant
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.BriefDescription"|translate}}')
						span.glyphicon.glyphicon-info-sign
			//button.btn.btn-success.btn-xs.pull-right(type='button', ng-click='addBriefDescription()') 
				span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
		.panel-body
		.panel-body
			textarea(rows='3', name='briefDescription', ng-model='formData.briefDescription')
