div(ng-controller='CommonNameCtrl')
	div(ng-controller='CollapseDemoCtrl')
		.panel.panel-default
			.panel-heading
				spant {{"simplePliCTerm.name.CommonNamesAtomized"|translate}}
				a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.CommonNamesAtomized"|translate}}')
					span.glyphicon.glyphicon-info-sign
				button.btn.btn-success.btn-xs.pull-right(ng-click='isCollapsed = !isCollapsed')
					span(ng-class="{'glyphicon glyphicon-plus': isCollapsed , 'glyphicon glyphicon-minus' : !isCollapsed}", aria-hidden='true')
			.panel-body
				div.table-responsive(ng-show='(formData.commonNameAtomized).length')
					table.table.table-striped
						thead
							tr
								th {{"simplePliCTerm.name.Name"|translate}}
								th {{"simplePliCTerm.name.Language"|translate}}
								th {{"simplePliCTerm.name.UsedIn"|translate}}
								th {{"simplePliCTerm.name.UsedBy"|translate}}
								th
						
						tbody
							tr(ng-repeat="commonName in formData.commonNameAtomized track by $index| orderBy:'-language'")
								td
									div(ng-show='commonName.name')
										| {{commonName.name}}
								td
									div(ng-show='commonName.language')
										| {{commonName.language}}
								td
									div(ng-show='commonName.usedIn.distributionUnstructured')
										| {{commonName.usedIn.distributionUnstructured}}
								td
									div(ng-show='commonName.usedBy')
										| {{commonName.usedBy}}
								td
									button.btn(ng-click='removeCommonNamesAtomized(formData.commonNameAtomized,commonName)')
										span(class="glyphicon glyphicon-trash", aria-hidden='true')
									button.btn(ng-click='editCommonNamesAtomized(formData.commonNameAtomized,commonName)')
										span(class="glyphicon glyphicon-pencil", aria-hidden='true')
					hr
				div(uib-collapse='isCollapsed', id='commonNameForm')
					.form-group
						.form-group
							label.col-xs-2.control-label(for='canonicalName', translate='') simplePliCTerm.name.Name
							.col-xs-10
								input(type='text', ng-model='commonName.name')
								a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Name"|translate}}')
									span.glyphicon.glyphicon-info-sign
						.form-group
							label.col-xs-2.control-label(for='language', translate='') simplePliCTerm.name.Language
							.col-xs-10
								select(ng-model='commonName.language', ng-options='lang.Idioma as lang.Idioma for lang in idiomas ')
									option(value='') - Seleccione -
								a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Language"|translate}}')
									span.glyphicon.glyphicon-info-sign
						.form-group
							label.col-xs-2.control-label(for='usedIn', translate='') simplePliCTerm.name.UsedIn
							.col-xs-10
								input(type='text', ng-model='commonName.usedIn.distributionUnstructured')
								a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.UsedIn"|translate}}')
									span.glyphicon.glyphicon-info-sign
						.form-group
							label.col-xs-2.control-label(for='usedBy', translate='') simplePliCTerm.name.UsedBy
							.col-xs-10
								input(type='text', ng-model='commonName.usedBy')
								a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.UsedBy"|translate}}')
									span.glyphicon.glyphicon-info-sign
						.form-group
							label.col-xs-2.control-label(for='ancillaryData', translate='') simplePliCTerm.name.AncillaryData
							.col-xs-10
								div.table-responsive(ng-show='(commonName.ancillaryData).length')
									table.table.table-striped
										thead
											tr
												th {{"simplePliCTerm.name.source"|translate}}
												th
										
										tbody
											tr(ng-repeat="ancillary in commonName.ancillaryData track by $index")
												td
													| {{ancillary.source}}
												td
													button.btn(ng-click='removeAncillaryData(commonName.ancillaryData,ancillary)')
														span(class="glyphicon glyphicon-trash", aria-hidden='true')
													button.btn(ng-click='editAncillaryData(commonName.ancillaryData,ancillary)')
														span(class="glyphicon glyphicon-pencil", aria-hidden='true')
								input(type='text', ng-model='ancillaryData.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')
								button.btn-xs(ng-click='findAncillary(ancillaryData.source)')
									span.glyphicon.glyphicon-search
								.panel.panel-default
									.panel-heading
										spant {{"simplePliCTerm.name.References"|translate}}
										button.btn.btn-success.btn-xs.pull-right(ng-click='isCollapsed_1 = !isCollapsed_1')
											span(ng-class="{'glyphicon glyphicon-plus': isCollapsed_1 , 'glyphicon glyphicon-minus' : !isCollapsed_1}", aria-hidden='true')
										a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.References"|translate}}')
											span.glyphicon.glyphicon-info-sign
									.panel-body
										div.table-responsive(ng-show='(ancillaryData.reference).length')
											table.table.table-striped
												thead
													tr
														th {{"simplePliCTerm.name.type"|translate}}
														th {{"simplePliCTerm.name.Source"|translate}}
														th {{"simplePliCTerm.name.title"|translate}}
														th
												
												tbody
													tr(ng-repeat="ref in ancillaryData.reference track by $index")
														td
															| {{ref.type|references_translate:this}}
														td
															| {{ref.source}}
														td
															| {{ref.title}}
														td
															button.btn(ng-click='removeReference(ancillaryData.reference,reference)')
																span(class="glyphicon glyphicon-trash", aria-hidden='true')
															button.btn(ng-click='editReference(ancillaryData.reference,ref)')
																span(class="glyphicon glyphicon-pencil", aria-hidden='true')
				
										div(uib-collapse='isCollapsed_1', id='referenceCommonName')
											.form-group
												select(ng-model='reference.type', ng-options='type.original as type.view for type in reference_type ')
													option(value='') - {{"simplePliCTerm.name.type"|translate}} 
												input(type='text', ng-model='reference.source', placeholder='{{"simplePliCTerm.name.Source"|translate}}')
												input(type='text', ng-model='reference.title', placeholder='{{"simplePliCTerm.name.title"|translate}}')
												input(type='text', ng-model='reference.authors', placeholder='{{"simplePliCTerm.name.authors"|translate}}')
												input(type='text', ng-model='reference.year', placeholder='{{"simplePliCTerm.name.year"|translate}}')
												input(type='text', ng-model='reference.volume', placeholder='{{"simplePliCTerm.name.volume"|translate}}')
												input(type='text', ng-model='reference.issue', placeholder='{{"simplePliCTerm.name.issue"|translate}}')
												input(type='text', ng-model='reference.pages', placeholder='{{"simplePliCTerm.name.pages"|translate}}')
												input(type='text', ng-model='reference.series', placeholder='{{"simplePliCTerm.name.series"|translate}}')
												input(type='text', ng-model='reference.chapter', placeholder='{{"simplePliCTerm.name.chapter"|translate}}')
												input(type='text', ng-model='reference.websites', placeholder='{{"simplePliCTerm.name.websites"|translate}}')
												input(type='text', ng-model='reference.accessed', placeholder='{{"simplePliCTerm.name.accessed"|translate}}')
												input(type='text', ng-model='reference.publisher', placeholder='{{"simplePliCTerm.name.publisher"|translate}}')
												input(type='text', ng-model='reference.city', placeholder='{{"simplePliCTerm.name.city"|translate}}')
												input(type='text', ng-model='reference.edition', placeholder='{{"simplePliCTerm.name.edition"|translate}}')
												input(type='text', ng-model='reference.institution', placeholder='{{"simplePliCTerm.name.institution"|translate}}')
												input(type='text', ng-model='reference.editors', placeholder='{{"simplePliCTerm.name.editors"|translate}}')
												input(type='text', ng-model='reference.keywords', placeholder='{{"simplePliCTerm.name.keywords"|translate}}')
												input(type='text', ng-model='reference.doi', placeholder='{{"simplePliCTerm.name.doi"|translate}}')
												input(type='text', ng-model='reference.isbn', placeholder='{{"simplePliCTerm.name.isbn"|translate}}')
												input(type='text', ng-model='reference.issn', placeholder='{{"simplePliCTerm.name.issn"|translate}}')
												//input(type='text', ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')
											button.btn.btn-primary.btn-xs.pull-right(type='button', ng-click='addReference(ancillaryData.reference,reference)', translate='') Guardar 
											button.btn.btn-primary.btn-xs.pull-right(type='button', ng-click='cancelReference()') Cancelar
						.form-group
							button.btn.btn-primary.btn-xs.pull-right(type='button', ng-click='addAncillaryData(commonName.ancillaryData,ancillaryData)', translate='') Guardar I. Adicional
						.form-group
							button.btn.btn-success.btn-sm.pull-right(type='button', ng-click='addCommonNamesAtomized(formData.commonNameAtomized,commonName)') Guardar
							button.btn.btn-success.btn-sm.pull-right(type='button', ng-click='cancelCommonNamesAtomized()') Cancelar

