div(data-ng-controller='CommonNameCtrl')
	div(data-ng-controller='CollapseDemoCtrl')
		.panel.panel-default
			.panel-heading
				spant {{"simplePliCTerm.name.CommonNamesAtomized"|translate}}
				a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.CommonNamesAtomized"|translate}}')
					span.glyphicon.glyphicon-info-sign
				button.btn.btn-success.btn-xs.pull-right(data-ng-click='isCollapsed = !isCollapsed')
					span(ng-class="{'glyphicon glyphicon-plus': isCollapsed , 'glyphicon glyphicon-minus' : !isCollapsed}", aria-hidden='true')
			.panel-body
				div(uib-collapse='isCollapsed', id='commonNameForm')
					.form-group
						.form-group
							label.col-xs-2.control-label(for='canonicalName', translate='') simplePliCTerm.name.Name
							.col-xs-10
								input(type='text', data-ng-model='commonName.name')
								a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Name"|translate}}')
									span.glyphicon.glyphicon-info-sign
						.form-group
							label.col-xs-2.control-label(for='language', translate='') simplePliCTerm.name.Language
						
							.col-xs-4
								select(data-ng-model='commonName.language', ng-options='lang.Idioma as lang.Idioma for lang in idiomas ')
									option(value='') - Seleccione -
							.col-xs-4
								input(type='text', data-ng-model='commonName.language', placeholder='Otro')
							.col-xs-2
								a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Language"|translate}}')
									span.glyphicon.glyphicon-info-sign
						.form-group
							label.col-xs-2.control-label(for='usedIn', translate='') simplePliCTerm.name.UsedIn
							.col-xs-10
								input(type='text', data-ng-model='commonName.usedIn.distributionUnstructured')
								a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.UsedIn"|translate}}')
									span.glyphicon.glyphicon-info-sign
						.form-group
							label.col-xs-2.control-label(for='usedBy', translate='') simplePliCTerm.name.UsedBy
							.col-xs-10
								input(type='text', data-ng-model='commonName.usedBy')
								a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.UsedBy"|translate}}')
									span.glyphicon.glyphicon-info-sign
						.form-group
							label.col-xs-2.control-label(for='ancillaryData', translate='') Referencias
							.col-xs-10
								div.table-responsive(data-ng-show='(commonName.ancillaryData).length')
									table.table.table-striped
										thead
											tr
												//th {{"simplePliCTerm.name.license"|translate}}
												th {{"simplePliCTerm.name.References"|translate}}
												th
										
										tbody
											tr(data-ng-repeat="ancillary in commonName.ancillaryData track by $index")
												//td
													| {{ancillary.license}}
												td 
													.selected-item(data-ng-repeat='ref in ancillary.reference track by $index')
														div(data-ng-show='ref')
															textarea(disabled)
																| {{ref|references_format}}
												td
													button.btn(data-ng-click='removeAncillaryData(commonName.ancillaryData,ancillary)')
														span(class="glyphicon glyphicon-trash", aria-hidden='true')
													button.btn(data-ng-click='editAncillaryData(commonName.ancillaryData,ancillary,$index)')
														span(class="glyphicon glyphicon-pencil", aria-hidden='true')
								//input(type='text', data-ng-model='ancillaryData.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')
								//button.btn-xs(data-ng-click='findAncillary(ancillaryData.source)')
									span.glyphicon.glyphicon-search
								.panel.panel-default
									.panel-heading
										spant {{"simplePliCTerm.name.References"|translate}}
										a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.References"|translate}}')
											span.glyphicon.glyphicon-info-sign
										span(data-ng-controller="ModalCtrl")
											script(type = "text/ng-template" id="referenceSearch")
												include referenceSearch
											button.btn.btn-success.btn-xs.pull-right(data-ng-click="open(formData.references,ancillaryData.reference)")
												span.glyphicon.glyphicon-search
											button.btn.btn-success.btn-xs.pull-right(href="", data-ng-click="slide()")
												span(ng-class="{'glyphicon glyphicon-plus': !checked , 'glyphicon glyphicon-minus' : checked}", aria-hidden='true')
										
									.panel-body
										div.table-responsive(data-ng-show='(ancillaryData.reference).length')
											table.table.table-striped
												tbody
													tr(data-ng-repeat="ref in ancillaryData.reference track by $index")
														td.col-xs-9
															textarea(disabled)
																| {{ref|references_format}}
														td.col-xs-1
															button.btn(data-ng-click='removeReference(ancillaryData.reference,reference)')
																span(class="glyphicon glyphicon-trash", aria-hidden='true')
															button.btn(data-ng-click='editReference(ancillaryData.reference,ref,$index)')
																span(class="glyphicon glyphicon-pencil", aria-hidden='true')
				
										div(pageslide ps-open="checked" ps-key-listener="true")
											div(style="padding:30px" id="demo-right")
												h3 Agregar nueva referencia
												.form-group
													select(data-ng-model='reference.type', ng-options='type.original as type.view for type in lenguajes.reference_type ')
														option(value='') - {{"simplePliCTerm.name.type"|translate}} 
													input(type='text', data-ng-model='reference.source', placeholder='{{"simplePliCTerm.name.Source"|translate}}')
													input(type='text', data-ng-model='reference.title', placeholder='{{"simplePliCTerm.name.title"|translate}}')
													input(type='text', data-ng-model='reference.authors', placeholder='{{"simplePliCTerm.name.authors"|translate}}')
													input(type='text', data-ng-model='reference.year', placeholder='{{"simplePliCTerm.name.year"|translate}}')
													input(type='text', data-ng-model='reference.volume', placeholder='{{"simplePliCTerm.name.volume"|translate}}')
													input(type='text', data-ng-model='reference.issue', placeholder='{{"simplePliCTerm.name.issue"|translate}}')
													input(type='text', data-ng-model='reference.pages', placeholder='{{"simplePliCTerm.name.pages"|translate}}')
													input(type='text', data-ng-model='reference.series', placeholder='{{"simplePliCTerm.name.series"|translate}}')
													input(type='text', data-ng-model='reference.chapter', placeholder='{{"simplePliCTerm.name.chapter"|translate}}')
													input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.websites"|translate}}')
													input(type='text', data-ng-model='reference.accessed', placeholder='{{"simplePliCTerm.name.accessed"|translate}}')
													input(type='text', data-ng-model='reference.publisher', placeholder='{{"simplePliCTerm.name.publisher"|translate}}')
													input(type='text', data-ng-model='reference.address', placeholder='{{"simplePliCTerm.name.city"|translate}}')
													input(type='text', data-ng-model='reference.edition', placeholder='{{"simplePliCTerm.name.edition"|translate}}')
													input(type='text', data-ng-model='reference.institution', placeholder='{{"simplePliCTerm.name.institution"|translate}}')
													input(type='text', data-ng-model='reference.editors', placeholder='{{"simplePliCTerm.name.editors"|translate}}')
													input(type='text', data-ng-model='reference.keywords', placeholder='{{"simplePliCTerm.name.keywords"|translate}}')
													input(type='text', data-ng-model='reference.doi', placeholder='{{"simplePliCTerm.name.doi"|translate}}')
													input(type='text', data-ng-model='reference.isbn', placeholder='{{"simplePliCTerm.name.isbn"|translate}}')
													input(type='text', data-ng-model='reference.issn', placeholder='{{"simplePliCTerm.name.issn"|translate}}')
													//input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')
													div.pull-right
														button.btn.btn-primary.btn-xs(type='button', data-ng-click='addReference(ancillaryData.reference,reference, checked)', translate='') Guardar
														button.btn.btn-primary.btn-xs(type='button', data-ng-click='cancelReference()', translate='') Cancelar
								//.form-group
									panel(data-ng-controller='CheckBoxCrtl')
										div(data-ng-repeat="lic in lincese_list | filter:{nombre : '!Otra'}")
											input(type='checkbox', data-ng-model='lic.checked', data-ng-click='updateSelectionLicence(lic, lincese_list, "ManualLicenseFullDescription")')
											a(data-ng-href='{{lic.url}}',target="_blank")
												img(id="image", data-ng-src="{{lic.image_url || '//:0' }}", hspace=10, vspace =7)
												| {{lic.nombre}}
											spant(data-ng-show='lic.definicion')
											a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{lic.definicion}}')
												span.glyphicon.glyphicon-info-sign
										p(id='ManualLicenseFullDescription')
										p(style="font-size:90%;")
											i * Para uso de otras licencias que no estén en este listado por favor escribenos a: sib+ac@humboldt.org.co
									label.control-label(for='rights', translate='') simplePliCTerm.name.rights
									select(data-ng-model='ancillaryData.rights', ng-options="prov.proveedorDeContenido as prov.proveedorDeContenido for prov in prov_contenido | unique:'proveedorDeContenido'")
										option(value='') - Seleccione -
						.form-group
							button.btn.btn-primary.btn-xs.pull-right(type='button', data-ng-click='addAncillaryData(commonName.ancillaryData,ancillaryData)', translate='') Guardar licencia
						.form-group
							div.pull-right
								button.btn.btn-success.btn-sm(type='button', data-ng-click='addCommonNamesAtomized(formData.commonNameAtomized,commonName)') Guardar
								button.btn.btn-success.btn-sm(type='button', data-ng-click='cancelCommonNamesAtomized()') Cancelar
						
				div.divider

				div.table-responsive(data-ng-show='(formData.commonNameAtomized).length')
					hr
					table.table.table-striped
						thead
							tr
								th.col-md-2 
									| {{"simplePliCTerm.name.Name"|translate}}
								th.col-md-2 
									| {{"simplePliCTerm.name.Language"|translate}}
								th.col-md-2 
									| {{"simplePliCTerm.name.UsedIn"|translate}}
								th.col-md-2 
									| {{"simplePliCTerm.name.UsedBy"|translate}}
								th.col-md-2
						
						tbody
							tr(data-ng-repeat="commonName in formData.commonNameAtomized track by $index| orderBy:'language'")
								td
									div(data-ng-show='commonName.name')
										| {{commonName.name}}
								td
									div(data-ng-show='commonName.language')
										| {{commonName.language}}
								td
									div(data-ng-show='commonName.usedIn.distributionUnstructured')
										| {{commonName.usedIn.distributionUnstructured}}
								td
									div(data-ng-show='commonName.usedBy')
										| {{commonName.usedBy}}
								td
									button.btn(data-ng-click='removeCommonNamesAtomized(formData.commonNameAtomized,commonName)')
										span(class="glyphicon glyphicon-trash", aria-hidden='true')
									button.btn(data-ng-click='editCommonNamesAtomized(formData.commonNameAtomized,commonName,$index)')
										span(class="glyphicon glyphicon-pencil", aria-hidden='true')
