div(data-ng-controller='DispersalCtrl')
	.panel.panel-default
		.panel-heading
			spant
				| {{"simplePliCTerm.name.Dispersal" | translate}}
				spant
				a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Dispersal"|translate}}')
					span.glyphicon.glyphicon-info-sign
			button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addDispersal()') 
				span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
		.panel-body
			.form-group
				label.col-xs-2.control-label(for='purpose', translate='') simplePliCTerm.name.Purpose
				.col-xs-10
					input(type='text', data-ng-model='formData.dispersal.dispersalAtomized.purpose')
			.form-group
				label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.mechanismDispersion
				.col-xs-10
					.panel(data-ng-controller='CheckBoxCrtl')
						div(data-ng-repeat='type in lenguajes.dispersalType')
							.action-checkbox
								input(type='checkbox', data-ng-model='type.checked', data-ng-click='updateSelectionDispersalType(type, lenguajes.dispersalType)')
								| {{type.name}}
			.form-group
				label.col-xs-2.control-label(for='structureDispersed', translate='') simplePliCTerm.name.StructureDispersed
				.col-xs-10
					.panel(data-ng-controller='CheckBoxCrtl')
						div(data-ng-repeat='structure in lenguajes.structureDispersed')
							.action-checkbox
								input(type='checkbox', data-ng-model='structure.checked', data-ng-click='updateSelectionStructureDispersed(structure, lenguajes.structureDispersed)')
								| {{structure.name}}
			.form-group
				label.col-xs-2.control-label(for='distance', translate='') simplePliCTerm.name.Distance
				.col-xs-5
					input(type="number" step = "0.001" data-ng-model="formData.dispersal.dispersalAtomized.distance.measurementOrFact.measurementValue")
				.col-xs-5
					select(data-ng-model='ormData.dispersal.dispersalAtomized.distance.measurementOrFact.measurementUnit', ng-options="attr.measurementunit as attr.measurementunit for attr in lenguajes.distance | unique:'measurementunit'")
						option(value='') - Seleccione -
			.form-group
				hr
				label(for='dispersalUnstructured', translate='') simplePliCTerm.name.DispersalUnstructured
				em (opcional)
				a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.DispersalUnstructured"|translate}}')
					span.glyphicon.glyphicon-info-sign
				textarea(rows='3', name='dispersal', data-ng-model='formData.dispersal.dispersalUnstructured')

				div(data-ng-controller='CollapseDemoCtrl')
					.form-group
						div.table-responsive(data-ng-show='(formData.dispersal.ancillaryData).length')
							table.table.table-striped
								thead
									tr
										//th.col-xs-1 {{"simplePliCTerm.name.source"|translate}}
										//th.col-xs-1  {{"simplePliCTerm.name.bibliographicCitation"|translate}}
										th.col-xs-3  {{"simplePliCTerm.name.license"|translate}}
										//th.col-xs-1  {{"simplePliCTerm.name.rights"|translate}}
										th.col-xs-6 {{"simplePliCTerm.name.References"|translate}}
										th.col-xs-1
								
								tbody
									tr(data-ng-repeat="ancillary in formData.dispersal.ancillaryData track by $index")
										//td
											| {{ancillary.source}}
										//td
											| {{ancillary.bibliographicCitation}}
										td
											| {{ancillary.license}}	
										//td
											| {{ancillary.rights}}

										td
											.selected-item(data-ng-repeat='ref in ancillary.reference track by $index')
												div(data-ng-show='ref')
													textarea(disabled)
															| {{ref|references_format}}
										td
											button.btn(data-ng-click='removeAncillaryData(formData.dispersal.ancillaryData,ancillary)')
												span(class="glyphicon glyphicon-trash", aria-hidden='true')
											button.btn(data-ng-click='editAncillaryData(formData.dispersal.ancillaryData,ancillary,$index)')
												span(class="glyphicon glyphicon-pencil", aria-hidden='true')
													
						button.btn.btn-primary.btn-xs.pull-right(type='button', data-ng-click='isCollapsed = !isCollapsed') Referencias y licencias
						div.divider
						.col-xs-9.col-xs-offset-1
							div(uib-collapse='isCollapsed', id='ancillaryDispersal')
								//input(type='text', data-ng-model='ancillaryData.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')
								//button.btn-xs(data-ng-click='findAncillary(ancillaryData.source)')
									span.glyphicon.glyphicon-search
								.form-group
									label.control-label(for='reference', translate='') simplePliCTerm.name.References
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.References"|translate}}')
										span.glyphicon.glyphicon-info-sign
									span(data-ng-controller="ModalCtrl")
										script(type = "text/ng-template" id="referenceSearch")
											include referenceSearch
										button.btn.btn-success.btn-xs(data-ng-click="open(formData.references,ancillaryData.reference)")
											span.glyphicon.glyphicon-search
									button.btn.btn-success.btn-xs(href="", data-ng-click="slide()")
										span(ng-class="{'glyphicon glyphicon-plus': !checked , 'glyphicon glyphicon-minus' : checked}", aria-hidden='true')
									hr
									div.table-responsive(data-ng-show='(ancillaryData.reference).length')
										table.table.table-striped
											tbody
												tr(data-ng-repeat="ref in ancillaryData.reference track by $index")
													td.col-xs-9
														textarea(disabled)
															| {{ref|references_format}}
													td.col-xs-1
														button.btn(data-ng-click='removeReference(ancillaryData.reference,ref)')
															span(class="glyphicon glyphicon-trash", aria-hidden='true')
														button.btn(data-ng-click='editReference(ancillaryData.reference,ref,$index)')
															span(class="glyphicon glyphicon-pencil", aria-hidden='true')
									div(pageslide ps-open="checked" ps-key-listener="true")
										div(style="padding:30px" id="demo-right")
											h3 Agregar nueva referencia
											.form-group
												select(data-ng-model='reference.type', ng-options='type.original as type.view for type in lenguajes.reference_type ')
													option(value='') - {{"simplePliCTerm.name.type"|translate}} 
												input(type='text', data-ng-model='reference.source', placeholder='{{"simplePliCTerm.name.Source"|translate}}')
												input(type='text', data-ng-model='reference.title', placeholder='{{"simplePliCTerm.name.title"|translate}}')
												input(type='text', data-ng-model='reference.authors', placeholder='{{"simplePliCTerm.name.authors"|translate}}')
												input(type='text', data-ng-model='reference.year', placeholder='{{"simplePliCTerm.name.year"|translate}}')
												input(type='text', data-ng-model='reference.volume', placeholder='{{"simplePliCTerm.name.volume"|translate}}')
												input(type='text', data-ng-model='reference.issue', placeholder='{{"simplePliCTerm.name.issue"|translate}}')
												input(type='text', data-ng-model='reference.pages', placeholder='{{"simplePliCTerm.name.pages"|translate}}')
												input(type='text', data-ng-model='reference.series', placeholder='{{"simplePliCTerm.name.series"|translate}}')
												input(type='text', data-ng-model='reference.chapter', placeholder='{{"simplePliCTerm.name.chapter"|translate}}')
												input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.websites"|translate}}')
												input(type='text', data-ng-model='reference.accessed', placeholder='{{"simplePliCTerm.name.accessed"|translate}}')
												input(type='text', data-ng-model='reference.publisher', placeholder='{{"simplePliCTerm.name.publisher"|translate}}')
												input(type='text', data-ng-model='reference.address', placeholder='{{"simplePliCTerm.name.city"|translate}}')
												input(type='text', data-ng-model='reference.edition', placeholder='{{"simplePliCTerm.name.edition"|translate}}')
												input(type='text', data-ng-model='reference.institution', placeholder='{{"simplePliCTerm.name.institution"|translate}}')
												input(type='text', data-ng-model='reference.editors', placeholder='{{"simplePliCTerm.name.editors"|translate}}')
												input(type='text', data-ng-model='reference.keywords', placeholder='{{"simplePliCTerm.name.keywords"|translate}}')
												input(type='text', data-ng-model='reference.doi', placeholder='{{"simplePliCTerm.name.doi"|translate}}')
												input(type='text', data-ng-model='reference.isbn', placeholder='{{"simplePliCTerm.name.isbn"|translate}}')
												input(type='text', data-ng-model='reference.issn', placeholder='{{"simplePliCTerm.name.issn"|translate}}')
												//input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')
												div.pull-right
													button.btn.btn-primary.btn-xs(type='button', data-ng-click='addReference(ancillaryData.reference,reference, checked)', translate='') Guardar
													button.btn.btn-primary.btn-xs(type='button', data-ng-click='cancelReference()', translate='') Cancelar
								.form-group
									label.control-label(for='license', translate='') simplePliCTerm.name.license
									panel(data-ng-controller='CheckBoxCrtl')
										div(data-ng-repeat="lic in lincese_list | filter:{nombre : '!Otra'}")
											input(type='checkbox', data-ng-model='lic.checked', data-ng-click='updateSelectionLicence(lic, lincese_list, "ManualLicenseFullDescription")')
											a(data-ng-href='{{lic.url}}',target="_blank")
												img(id="image", data-ng-src="{{lic.image_url || '//:0' }}", hspace=10, vspace =7)
												| {{lic.nombre}}
											spant(data-ng-show='lic.definicion')
											a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{lic.definicion}}')
												span.glyphicon.glyphicon-info-sign
										p(id='ManualLicenseFullDescription')
										p(style="font-size:90%;")
											i * Para uso de otras licencias que no estén en este listado por favor escribenos a: sib+ac@humboldt.org.co
									label.control-label(for='rights', translate='') simplePliCTerm.name.rights
									select(data-ng-model='ancillaryData.rightsHolder', ng-options="prov.proveedorDeContenido as prov.proveedorDeContenido for prov in prov_contenido | unique:'proveedorDeContenido'")
										option(value='') - Seleccione -
									//label.control-label(for='bibliographicCitation', translate='') simplePliCTerm.name.bibliographicCitation	
									//input(type='text', data-ng-model='ancillaryData.bibliographicCitation')
								button.btn.btn-primary.btn-sm(type='button', data-ng-click='addAncillaryData(formData.dispersal.ancillaryData,ancillaryData)', translate='') Guardar
								button.btn.btn-primary.btn-sm(type='button', data-ng-click='cancelAncillaryData()') Cancelar