div(data-ng-controller='PopulationBiologyCtrl')
	.panel.panel-default
		.panel-heading
			spant
				| {{"simplePliCTerm.name.PopulationBiology"|translate}}
				spant
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.PopulationBiology"|translate}}')
						span.glyphicon.glyphicon-info-sign
			//button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addPopulationBiology()') 
				span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
		.panel-body							
			.form-group
				label.col-xs-2.control-label(for='Region', translate='') simplePliCTerm.name.Region
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.region.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Region"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='abundanceData', translate='') simplePliCTerm.name.AbundanceData
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.abundanceData.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.AbundanceData"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='densityData', translate='') simplePliCTerm.name.DensityData
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.densityData.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.DensityData"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='patternDistribution', translate='') simplePliCTerm.name.PatternDistrubution
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.patternDistribution.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.PatternDistrubution"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='size', translate='') simplePliCTerm.name.Size
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.size.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Size"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='sexRatio', translate='') simplePliCTerm.name.SexRatio
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.sexRatio.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.SexRatio"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='fecundity', translate='') simplePliCTerm.name.Fecundity
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.fecundity.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Fecundity"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='mortalityRate', translate='') simplePliCTerm.name.MortalityRate
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.mortalityRate.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.MortalityRate"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='birthRate', translate='') simplePliCTerm.name.BirthRate
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.birthRate.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.BirthRate"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='numberIndividualsPerObservation', translate='') simplePliCTerm.name.NumberIndividualsPerObservation
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.numberIndividualsPerObservation.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.NumberIndividualsPerObservation"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='averageDensity', translate='') simplePliCTerm.name.AverageDensity
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.averageDensity.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.AverageDensity"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='populationTrend', translate='') simplePliCTerm.name.PopulationTrend
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.populationTrend.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.PopulationTrend"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='recruitment', translate='') simplePliCTerm.name.Recruitment
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.recruitment.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Recruitment"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='populationGrowthRate', translate='') simplePliCTerm.name.PopulationGrowthRate
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.populationGrowthRate.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.PopulationGrowthRate"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='emigration', translate='') simplePliCTerm.name.Emigration
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.emigration.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Emigration"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='immigration', translate='') simplePliCTerm.name.Immigration
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.immigration.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Immigration"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='descriptionLifeStages', translate='') simplePliCTerm.name.DescriptionLifeStages
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.descriptionLifeStages.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.DescriptionLifeStages"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='proportionIndividualsPerStageLife', translate='') simplePliCTerm.name.ProportionIndividualsPerStage
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.proportionIndividualsPerStageLife.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.ProportionIndividualsPerStage"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				label.col-xs-2.control-label(for='carryingCapacity', translate='') simplePliCTerm.name.CarryingCapacity
				.col-xs-10
					input(type='text', data-ng-model='populationBiologyAtomized.carryingCapacity.measurementValue')
					a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.CarryingCapacity"|translate}}')
						span.glyphicon.glyphicon-info-sign
			.form-group
				button.btn.btn-success.btn-sm.pull-right(type='button', data-ng-click='addPopulationBiologyAtomized(formData.populationBiology.populationBiologyAtomized, populationBiologyAtomized)') Guardar

			div.divider 

			div.table-responsive(data-ng-show='(formData.populationBiology.populationBiologyAtomized).length')
				table.table.table-striped
					tbody
						tr(data-ng-repeat="populationBiologyAtomized in formData.populationBiology.populationBiologyAtomized track by $index")
							td
								.parrafo-pegado
									div(data-ng-show='populationBiologyAtomized.region.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.Region
										| : {{populationBiologyAtomized.region.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.abundanceData.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.AbundanceData
										| : {{populationBiologyAtomized.abundanceData.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.densityData.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.DensityData
										| : {{populationBiologyAtomized.densityData.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.patternDistribution.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.PatternDistrubution
										| : {{populationBiologyAtomized.patternDistribution.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.size.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.Size
										|: {{populationBiologyAtomized.size.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.sexRatio.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.SexRatio
										| : {{populationBiologyAtomized.sexRatio.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.fecundity.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.Fecundity
										| : {{populationBiologyAtomized.fecundity.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.mortalityRate.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.MortalityRate
										| : {{populationBiologyAtomized.mortalityRate.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.birthRate.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.BirthRate
										| : {{populationBiologyAtomized.birthRate.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.numberIndividualsPerObservation.measurementValue')
										p(translate='', class='text_type_bold')
										| {{"simplePliCTerm.name.NumberIndividualsPerObservation"|translate}} : {{populationBiologyAtomized.numberIndividualsPerObservation.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.averageDensity.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.AverageDensity
										| : {{populationBiologyAtomized.averageDensity.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.populationTrend.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.PopulationTrend
										| : {{populationBiologyAtomized.populationTrend.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.recruitment.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.Recruitment
										| : {{populationBiologyAtomized.recruitment.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.populationGrowthRate.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.PopulationGrowthRate
										| : {{populationBiologyAtomized.populationGrowthRate.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.emigration.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.Emigration
										| : {{populationBiologyAtomized.emigration.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.immigration.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.Immigration
										| : {{populationBiologyAtomized.immigration.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.descriptionLifeStages.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.DescriptionLifeStages
										| : {{populationBiologyAtomized.descriptionLifeStages.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.proportionIndividualsPerStageLife.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.ProportionIndividualsPerStage
										| : {{populationBiologyAtomized.proportionIndividualsPerStageLife.measurementValue}}
									div(data-ng-show='populationBiologyAtomized.carryingCapacity.measurementValue')
										p(translate='', class='text_type_bold') simplePliCTerm.name.CarryingCapacity
										| : {{populationBiologyAtomized.carryingCapacity.measurementValue}}
							td
								button.btn(data-ng-click='removePopulation(formData.populationBiology.populationBiologyAtomized,populationBiologyAtomized)')
									span(class="glyphicon glyphicon-trash", aria-hidden='true')
								button.btn(data-ng-click='editPopulation(formData.populationBiology.populationBiologyAtomized,populationBiologyAtomized)')
									span(class="glyphicon glyphicon-pencil", aria-hidden='true')
			.form-group
				hr
				label.col-xs-2.control-label(for='populationBiologyUnstructured', translate='') simplePliCTerm.name.PopulationBiologyUnstructured
				em (opcional)
				a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.PopulationBiologyUnstructured"|translate}}')
					span.glyphicon.glyphicon-info-sign
				textarea(rows='3', name='populationBiology', data-ng-model='formData.populationBiology.populationBiologyUnstructured')

				div(data-ng-controller='CollapseDemoCtrl')
					.form-group
						div.table-responsive(data-ng-show='(formData.populationBiology.ancillaryData).length')
							table.table.table-striped
								thead
									tr
										//th.col-xs-1 {{"simplePliCTerm.name.source"|translate}}
										//th.col-xs-1 {{"simplePliCTerm.name.bibliographicCitation"|translate}}
										th.col-xs-3 {{"simplePliCTerm.name.license"|translate}}
										//th.col-xs-1 {{"simplePliCTerm.name.rights"|translate}}
										th.col-xs-6 {{"simplePliCTerm.name.References"|translate}}
										th.col-xs-1
								
								tbody
									tr(data-ng-repeat="ancillary in formData.populationBiology.ancillaryData track by $index")
										//td
											| {{ancillary.source}}
										//td
											| {{ancillary.bibliographicCitation}}
										td
											| {{ancillary.license}}	
										//td
											| {{ancillary.rights}}

										td
											.selected-item(data-ng-repeat='ref in ancillary.reference track by $index')
												div(data-ng-show='ref')
													textarea(disabled)
															| {{ref|references_format}}	
										td
											button.btn(data-ng-click='removeAncillaryData(formData.populationBiology.ancillaryData,ancillary)')
												span(class="glyphicon glyphicon-trash", aria-hidden='true')
											button.btn(data-ng-click='editAncillaryData(formData.populationBiology.ancillaryData,ancillary)')
												span(class="glyphicon glyphicon-pencil", aria-hidden='true')
						button.btn.btn-primary.btn-xs.pull-right(type='button', data-ng-click='isCollapsed = !isCollapsed') Referencias y licencias
						div.divider
						.col-xs-9.col-xs-offset-1
							div(uib-collapse='isCollapsed', id='ancillaryPopulation')
								//input(type='text', data-ng-model='ancillaryData.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')
								//button.btn-xs(data-ng-click='findAncillary(ancillaryData.source)')
									span.glyphicon.glyphicon-search
								.form-group
									label.control-label(for='reference', translate='') simplePliCTerm.name.References
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.References"|translate}}')
										span.glyphicon.glyphicon-info-sign
									span(data-ng-controller="ModalCtrl")
										script(type = "text/ng-template" id="referenceSearch")
											include referenceSearch
										button.btn.btn-success.btn-xs(data-ng-click="open(formData.references,ancillaryData.reference)")
											span.glyphicon.glyphicon-search
									button.btn.btn-success.btn-xs(href="", data-ng-click="slide()")
										span(ng-class="{'glyphicon glyphicon-plus': !checked , 'glyphicon glyphicon-minus' : checked}", aria-hidden='true')
									hr
									div.table-responsive(data-ng-show='(ancillaryData.reference).length')
										table.table.table-striped
											tbody
												tr(data-ng-repeat="ref in ancillaryData.reference track by $index")
													td.col-xs-9
														textarea(disabled)
															| {{ref|references_format}}
													td.col-xs-1
														button.btn(data-ng-click='removeReference(ancillaryData.reference,ref)')
															span(class="glyphicon glyphicon-trash", aria-hidden='true')
														button.btn(data-ng-click='editReference(ancillaryData.reference,ref)')
															span(class="glyphicon glyphicon-pencil", aria-hidden='true')
									div(pageslide ps-open="checked" ps-key-listener="true")
										div(style="padding:30px" id="demo-right")
											h3 Agregar nueva referencia
											.form-group
												select(data-ng-model='reference.type', ng-options='type.original as type.view for type in lenguajes.reference_type ')
													option(value='') - {{"simplePliCTerm.name.type"|translate}} 
												input(type='text', data-ng-model='reference.source', placeholder='{{"simplePliCTerm.name.Source"|translate}}')
												input(type='text', data-ng-model='reference.title', placeholder='{{"simplePliCTerm.name.title"|translate}}')
												input(type='text', data-ng-model='reference.authors', placeholder='{{"simplePliCTerm.name.authors"|translate}}')
												input(type='text', data-ng-model='reference.year', placeholder='{{"simplePliCTerm.name.year"|translate}}')
												input(type='text', data-ng-model='reference.volume', placeholder='{{"simplePliCTerm.name.volume"|translate}}')
												input(type='text', data-ng-model='reference.issue', placeholder='{{"simplePliCTerm.name.issue"|translate}}')
												input(type='text', data-ng-model='reference.pages', placeholder='{{"simplePliCTerm.name.pages"|translate}}')
												input(type='text', data-ng-model='reference.series', placeholder='{{"simplePliCTerm.name.series"|translate}}')
												input(type='text', data-ng-model='reference.chapter', placeholder='{{"simplePliCTerm.name.chapter"|translate}}')
												input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.websites"|translate}}')
												input(type='text', data-ng-model='reference.accessed', placeholder='{{"simplePliCTerm.name.accessed"|translate}}')
												input(type='text', data-ng-model='reference.publisher', placeholder='{{"simplePliCTerm.name.publisher"|translate}}')
												input(type='text', data-ng-model='reference.address', placeholder='{{"simplePliCTerm.name.city"|translate}}')
												input(type='text', data-ng-model='reference.edition', placeholder='{{"simplePliCTerm.name.edition"|translate}}')
												input(type='text', data-ng-model='reference.institution', placeholder='{{"simplePliCTerm.name.institution"|translate}}')
												input(type='text', data-ng-model='reference.editors', placeholder='{{"simplePliCTerm.name.editors"|translate}}')
												input(type='text', data-ng-model='reference.keywords', placeholder='{{"simplePliCTerm.name.keywords"|translate}}')
												input(type='text', data-ng-model='reference.doi', placeholder='{{"simplePliCTerm.name.doi"|translate}}')
												input(type='text', data-ng-model='reference.isbn', placeholder='{{"simplePliCTerm.name.isbn"|translate}}')
												input(type='text', data-ng-model='reference.issn', placeholder='{{"simplePliCTerm.name.issn"|translate}}')
												//input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')
												div.pull-right
													button.btn.btn-primary.btn-xs(type='button', data-ng-click='addReference(ancillaryData.reference,reference, checked)', translate='') Guardar
													button.btn.btn-primary.btn-xs(type='button', data-ng-click='cancelReference()', translate='') Cancelar
								.form-group
									label.control-label(for='license', translate='') simplePliCTerm.name.license
									panel(data-ng-controller='CheckBoxCrtl')
										div(data-ng-repeat="lic in lincese_list | filter:{nombre : '!Otra'}")
											input(type='checkbox', data-ng-model='lic.checked', data-ng-click='updateSelectionLicence(lic, lincese_list, "ManualLicenseFullDescription")')
											a(data-ng-href='{{lic.url}}',target="_blank")
												img(id="image", data-ng-src="{{lic.image_url || '//:0' }}", hspace=10, vspace =7)
												{{lic.nombre}}
											spant(data-ng-show='lic.definicion')
											a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{lic.definicion}}')
												span.glyphicon.glyphicon-info-sign
										p(id='ManualLicenseFullDescription')
										p(style="font-size:90%;")
											i * Para uso de otras licencias que no estén en este listado por favor escribenos a: sib+ac@humboldt.org.co
									label.control-label(for='rights', translate='') simplePliCTerm.name.rights
									select(data-ng-model='ancillaryData.rights', ng-options="prov.proveedorDeContenido as prov.proveedorDeContenido for prov in prov_contenido | unique:'proveedorDeContenido'")
										option(value='') - Seleccione -
									//label.control-label(for='bibliographicCitation', translate='') simplePliCTerm.name.bibliographicCitation	
									//input(type='text', data-ng-model='ancillaryData.bibliographicCitation')
								button.btn.btn-primary.btn-sm(type='button', data-ng-click='addAncillaryData(formData.populationBiology.ancillaryData,ancillaryData)', translate='') Guardar
								button.btn.btn-primary.btn-sm(type='button', data-ng-click='cancelAncillaryData()') Cancelar
