div.modal-header
	h3.modal-title
		| Referencias disponibles
		button.btn.btn-xs.pull-right(data-ng-click="cancel()")
			span(class="glyphicon glyphicon-remove", aria-hidden='true')
div.modal-body
	div(data-ng-repeat="item in items")
		input(type="checkbox", ng-checked="list.indexOf(item) > -1", data-ng-click="toggleSelection(item)")
		| {{item|references_format_without_url}}

div.modal-footer
	