div(ng-controller='SynonmyCtrl')
	div(ng-controller='CollapseDemoCtrl')
		.panel.panel-default
			.panel-heading
				spant {{"simplePliCTerm.name.SynonymsAtomized"|translate}}
				a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.SynonymsAtomized"|translate}}')
					span.glyphicon.glyphicon-info-sign
				button.btn.btn-success.btn-xs.pull-right(ng-click='isCollapsed = !isCollapsed')
					span(ng-class="{'glyphicon glyphicon-plus': isCollapsed , 'glyphicon glyphicon-minus' : !isCollapsed}", aria-hidden='true')
			.panel-body
				div.table-responsive(ng-show='(formData.synonymsAtomized).length')
					table.table.table-striped
						thead
							tr
								th {{"simplePliCTerm.name.SynonymName"|translate}}
								th {{"simplePliCTerm.name.SynonymStatus"|translate}}
								th
						
						tbody
							tr(ng-repeat="synonymAtomized in formData.synonymsAtomized track by $index")
								td
									div(ng-show='synonymAtomized.synonymName.canonicalName.simple')
										| {{synonymAtomized.synonymName.canonicalName.simple}}
								td
									div(ng-show='synonymAtomized.synonymStatus')
										|  {{synonymAtomized.synonymStatus}}
								td
									button.btn(ng-click='removeSynonymsAtomized(formData.synonymsAtomized,synonymAtomized)')
										span(class="glyphicon glyphicon-trash", aria-hidden='true')

				div(collapse='isCollapsed')
					hr
					.form-group
						label.col-xs-2.control-label(for='canonicalName', translate='') simplePliCTerm.name.SynonymName
						.col-xs-10
							input(type='text', ng-model='synonmy.synonymName.canonicalName.simple')
							a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.SynonymName"|translate}}')
								span.glyphicon.glyphicon-info-sign
					.form-group
						label.col-xs-2.control-label(for='synonymStatus', translate='') simplePliCTerm.name.SynonymStatus
						.col-xs-10
							input(type='text', ng-model='synonmy.synonymStatus')
							a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.SynonymStatus"|translate}}')
								span.glyphicon.glyphicon-info-sign
					.form-group
						label.col-xs-2.control-label(for='publishedln', translate='') simplePliCTerm.name.Publishedln
						a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Publishedln"|translate}}')
							span.glyphicon.glyphicon-info-sign
						.col-xs-10
							input(type='text', ng-model='synonmy.synonymName.publishedln.identifier', placeholder='{{"simplePliCTerm.name.Identifier"|translate}}')
							input(type='text', ng-model='synonmy.synonymName.publishedln.datatype', placeholder='{{"simplePliCTerm.name.Datatype"|translate}}')
							input(type='text', ng-model='synonmy.synonymName.publishedln.source', placeholder='{{"simplePliCTerm.name.Source"|translate}}')
					.form-group
						label.col-xs-2.control-label(for='ancillaryData', translate='') simplePliCTerm.name.AncillaryData
						a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.AncillaryData"|translate}}')
							span.glyphicon.glyphicon-info-sign
						.col-xs-10
							div.table-responsive(ng-show='(synonmy.ancillaryData).length')
								table.table.table-striped
									thead
										tr
											th {{"simplePliCTerm.name.source"|translate}}
											th
									
									tbody
										tr(ng-repeat="ancillary in synonmy.ancillaryData track by $index")
											td
												| {{ancillary.source}}
											td
												button.btn(ng-click='removeAncillaryData(synonmy.ancillaryData,ancillary)')
													span(class="glyphicon glyphicon-trash", aria-hidden='true')
							input(type='text', ng-model='ancillaryData.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')
							.panel.panel-default
								.panel-heading
									spant {{"simplePliCTerm.name.References"|translate}}
									button.btn.btn-success.btn-xs.pull-right(ng-click='isCollapsed_1 = !isCollapsed_1')
										span(ng-class="{'glyphicon glyphicon-plus': isCollapsed_1 , 'glyphicon glyphicon-minus' : !isCollapsed_1}", aria-hidden='true')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.References"|translate}}')
										span.glyphicon.glyphicon-info-sign
								.panel-body

									div.table-responsive(ng-show='(ancillaryData.reference).length')
										table.table.table-striped
											thead
												tr
													th {{"simplePliCTerm.name.Type"|translate}}
													th {{"simplePliCTerm.name.Source"|translate}}
													th {{"simplePliCTerm.name.title"|translate}}
													th
											
											tbody
												tr(ng-repeat="ref in ancillaryData.reference track by $index")
													td
														| {{ref.type}}
													td
														| {{ref.source}}
													td
														| {{ref.title}}
													td
														button.btn(ng-click='removeReference(ancillaryData.reference,reference)')
															span(class="glyphicon glyphicon-trash", aria-hidden='true')
			
									div(collapse='isCollapsed_1')
										.form-group
											select(ng-model='reference.type', ng-options='type.original as type.view for type in reference_type ')
												option(value='') - {{"simplePliCTerm.name.Type"|translate}} 
											input(type='text', ng-model='reference.source', placeholder='{{"simplePliCTerm.name.Source"|translate}}')
											input(type='text', ng-model='reference.title', placeholder='{{"simplePliCTerm.name.title"|translate}}')
											input(type='text', ng-model='reference.authors', placeholder='{{"simplePliCTerm.name.authors"|translate}}')
											input(type='text', ng-model='reference.year', placeholder='{{"simplePliCTerm.name.year"|translate}}')
											input(type='text', ng-model='reference.volume', placeholder='{{"simplePliCTerm.name.volume"|translate}}')
											input(type='text', ng-model='reference.issue', placeholder='{{"simplePliCTerm.name.issue"|translate}}')
											input(type='text', ng-model='reference.pages', placeholder='{{"simplePliCTerm.name.pages"|translate}}')
											input(type='text', ng-model='reference.series', placeholder='{{"simplePliCTerm.name.series"|translate}}')
											input(type='text', ng-model='reference.chapter', placeholder='{{"simplePliCTerm.name.chapter"|translate}}')
											input(type='text', ng-model='reference.websites', placeholder='{{"simplePliCTerm.name.websites"|translate}}')
											input(type='text', ng-model='reference.accessed', placeholder='{{"simplePliCTerm.name.accessed"|translate}}')
											input(type='text', ng-model='reference.publisher', placeholder='{{"simplePliCTerm.name.publisher"|translate}}')
											input(type='text', ng-model='reference.city', placeholder='{{"simplePliCTerm.name.city"|translate}}')
											input(type='text', ng-model='reference.edition', placeholder='{{"simplePliCTerm.name.edition"|translate}}')
											input(type='text', ng-model='reference.institution', placeholder='{{"simplePliCTerm.name.institution"|translate}}')
											input(type='text', ng-model='reference.editors', placeholder='{{"simplePliCTerm.name.editors"|translate}}')
											input(type='text', ng-model='reference.keywords', placeholder='{{"simplePliCTerm.name.keywords"|translate}}')
											input(type='text', ng-model='reference.doi', placeholder='{{"simplePliCTerm.name.doi"|translate}}')
											input(type='text', ng-model='reference.isbn', placeholder='{{"simplePliCTerm.name.isbn"|translate}}')
											input(type='text', ng-model='reference.issn', placeholder='{{"simplePliCTerm.name.issn"|translate}}')
											input(type='text', ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')
										button.btn.btn-primary.btn-xs.pull-right(type='button', ng-click='addReference(ancillaryData.reference,reference)', translate='') Guardar Referencia 
										
							button.btn.btn-primary.btn-xs.pull-right(type='button', ng-click='addAncillaryData(synonmy.ancillaryData,ancillaryData)', translate='')
								| Añadir DA
								span.glyphicon.glyphicon-plus
						button.btn.btn-success.btn-sm.pull-right(type='button', ng-click='addSynonymsAtomized(formData.synonymsAtomized,synonmy)') Guardar
