
<div data-ng-controller="InvasivenessCtrl">
  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <spant>{{"simplePliCTerm.name.Invasiveness" | translate}}
          <spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.Invasiveness&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
        </spant>
        <!--button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addInvasiveness()') span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
        -->
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="origin" translate="" class="col-xs-2 control-label">simplePliCTerm.name.origin</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="ori in lenguajes.origin">
                <input type="checkbox" data-ng-model="ori.checked" data-ng-click="updateSelectionOrigin(ori, lenguajes.origin)"/>{{ori.name}}
                <spant data-ng-show="ori.help"><a data-container="body" data-toggle="popover" data-placement="left" title="{{ori.help}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="presence" translate="" class="col-xs-2 control-label">simplePliCTerm.name.presence</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="pre in lenguajes.presence">
                <input type="checkbox" data-ng-model="pre.checked" data-ng-click="updateSelectionPresence(pre, lenguajes.presence)"/>{{pre.name}}
                <spant data-ng-show="pre.help"><a data-container="body" data-toggle="popover" data-placement="left" title="{{pre.help}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="persistence" translate="" class="col-xs-2 control-label">simplePliCTerm.name.persistence</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="per in lenguajes.persistence">
                <input type="checkbox" data-ng-model="per.checked" data-ng-click="updateSelectionPersistence(per, lenguajes.persistence)"/>{{per.name}}
                <spant data-ng-show="per.help"><a data-container="body" data-toggle="popover" data-placement="left" title="{{per.help}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="distribution" translate="" class="col-xs-2 control-label">simplePliCTerm.name.distribution</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="dis in lenguajes.distribution">
                <input type="checkbox" data-ng-model="dis.checked" data-ng-click="updateSelectionDistribution(dis, lenguajes.distribution)"/>{{dis.name}}
                <spant data-ng-show="dis.help"><a data-container="body" data-toggle="popover" data-placement="left" title="{{dis.help}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="harmful" translate="" class="col-xs-2 control-label">simplePliCTerm.name.harmful</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="har in lenguajes.harmful">
                <input type="checkbox" data-ng-model="har.checked" data-ng-click="updateSelectionHarmful(har, lenguajes.harmful)"/>{{har.name}}
                <spant data-ng-show="har.help"><a data-container="body" data-toggle="popover" data-placement="left" title="{{har.help}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
              </div>
            </div>
          </div>
        </div>
        <!--.form-group
        label.col-xs-2.control-label(for='modified', translate='') simplePliCTerm.name.modified
        .col-xs-10
        	div(data-ng-controller='DatepickerCtrl')
        		p.input-group
        			input.form-control(type='text', uib-datepicker-popup="yyyy/MM/dd", data-ng-model="invasivenessAtomizedType.modified", is-open="status.opened", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", close-text="Close" , disabled)
        			span.input-group-btn
        				button.btn.btn-default(type="button",data-ng-click="open($event)")
        					i.glyphicon.glyphicon-calendar
        -->
        <div class="form-group">
          <label for="startValidateDate" translate="" class="col-xs-2 control-label">simplePliCTerm.name.startValidateDate</label>
          <div class="col-xs-10">
            <div data-ng-controller="DatepickerCtrl">
              <p class="input-group">
                <input type="text" uib-datepicker-popup="yyyy/MM/dd" data-ng-model="invasivenessAtomizedType.startValidateDate" is-open="status.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" disabled="disabled" class="form-control"/><span class="input-group-btn">
                  <button type="button" data-ng-click="open($event)" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button></span>
              </p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="publicationDatePrecision" translate="" class="col-xs-2 control-label">simplePliCTerm.name.publicationDatePrecision</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="pdp in lenguajes.publicationDatePrecision">
                <input type="checkbox" data-ng-model="pdp.checked" data-ng-click="updateSelectionPublicationDatePrecision(pdp, lenguajes.publicationDatePrecision)"/>{{pdp.name}}
              </div>
            </div>
          </div>
        </div>
        <!--.form-group
        label.col-xs-2.control-label(for='endValidateDate', translate='') simplePliCTerm.name.endValidateDate
        .col-xs-10
        	div(data-ng-controller='DatepickerCtrl')
        		p.input-group
        			input.form-control(type='text', uib-datepicker-popup="yyyy/MM/dd", data-ng-model="invasivenessAtomizedType.endValidateDate", is-open="status.opened", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", close-text="Close", disabled )
        			span.input-group-btn
        				button.btn.btn-default(type="button",data-ng-click="open($event)")
        					i.glyphicon.glyphicon-calendar
        -->
        <div class="form-group">
          <label for="countryCode" translate="" class="col-xs-2 control-label">simplePliCTerm.name.countryCode</label>
          <div class="col-xs-10">
            <div data-ng-controller="UbicacionCtrl">
              <select data-ng-model="invasivenessAtomizedType.countryCode" ng-options="attr.countryName as attr.countryName for attr in ubicacion ">
                <option value="">- Seleccione -</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="stateProvince" translate="" class="col-xs-2 control-label">simplePliCTerm.name.stateProvince</label>
          <div class="col-xs-10">
            <div data-ng-controller="UbicacionCtrl">
              <select data-ng-model="invasivenessAtomizedType.stateProvince" data-ng-disabled="!invasivenessAtomizedType.countryCode" ng-options="item.departmentName as item.departmentName for item in selectedAttr.departments ">
                <option value="">- Seleccione -</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="county" translate="" class="col-xs-2 control-label">simplePliCTerm.name.county</label>
          <div class="col-xs-10">
            <div data-ng-controller="UbicacionCtrl">
              <select data-ng-model="invasivenessAtomizedType.county" data-ng-disabled="!invasivenessAtomizedType.countryCode || !invasivenessAtomizedType.stateProvince" ng-options="item.countyName as item.countyName for item in selectedAttr2.counties ">
                <option value="">- Seleccione -</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="localityName" translate="" class="col-xs-2 control-label">simplePliCTerm.name.localityName</label>
          <div class="col-xs-10">
            <input type="text" name="localityName" data-ng-model="invasivenessAtomizedType.localityName"/>
          </div>
        </div>
        <!--.form-group
        label.col-xs-2.control-label(for='language', translate='') simplePliCTerm.name.language
        .col-xs-10
        	select(data-ng-model='invasivenessAtomizedType.language', ng-options='lang.Idioma as lang.Idioma for lang in idiomas ')
        		option(value='') - Seleccione -
        -->
        <!--.form-group
        label.col-xs-2.control-label(for='citation', translate='') simplePliCTerm.name.citation
        .col-xs-10
        	input(type='text', name='citation', data-ng-model='invasivenessAtomizedType.citation')
        -->
        <div class="form-group">
          <label for="abundance" translate="" class="col-xs-2 control-label">simplePliCTerm.name.abundance</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="abu in lenguajes.abundance">
                <input type="checkbox" data-ng-model="abu.checked" data-ng-click="updateSelectionAbundance(abu, lenguajes.abundance)"/>{{abu.name}}
                <spant data-ng-show="abu.help"><a data-container="body" data-toggle="popover" data-placement="left" title="{{abu.help}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="trend" translate="" class="col-xs-2 control-label">simplePliCTerm.name.trend</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="tre in lenguajes.trend">
                <input type="checkbox" data-ng-model="tre.checked" data-ng-click="updateSelectionTrend(tre, lenguajes.trend)"/>{{tre.name}}
                <spant data-ng-show="tre.help"><a data-container="body" data-toggle="popover" data-placement="left" title="{{tre.help}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="rateOfSpread" translate="" class="col-xs-2 control-label">simplePliCTerm.name.rateOfSpread</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="ros in lenguajes.rateOfSpread">
                <input type="checkbox" data-ng-model="ros.checked" data-ng-click="updateSelectionRateOfSpread(ros, lenguajes.rateOfSpread)"/>{{ros.name}}
                <spant data-ng-show="ros.help"><a data-container="body" data-toggle="popover" data-placement="left" title="{{ros.help}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="regulatoryListing" translate="" class="col-xs-2 control-label">simplePliCTerm.name.regulatoryListing</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="rl in lenguajes.regulatoryListing">
                <input type="checkbox" data-ng-model="rl.checked" data-ng-click="updateSelectionRegulatoryListing(rl, lenguajes.regulatoryListing)"/>{{rl.name}}
                <spant data-ng-show="rl.help"><a data-container="body" data-toggle="popover" data-placement="left" title="{{rl.help}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="memo" translate="" class="col-xs-2 control-label">simplePliCTerm.name.memo</label>
          <div class="col-xs-10">
            <textarea rows="3" name="memo" data-ng-model="invasivenessAtomizedType.memo"></textarea>
          </div>
        </div>
        <!--.form-group
        label.col-xs-2.control-label(for='publicationDate', translate='') simplePliCTerm.name.publicationDate
        .col-xs-10
        	div(data-ng-controller='DatepickerCtrl')
        		p.input-group
        			input.form-control(type='text', uib-datepicker-popup="yyyy/MM/dd", data-ng-model="invasivenessAtomizedType.publicationDate", is-open="status.opened", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", close-text="Close", disabled)
        			span.input-group-btn
        				button.btn.btn-default(type="button",data-ng-click="open($event)")
        					i.glyphicon.glyphicon-calendar
        -->
        <div class="form-group">
          <label for="localityType" translate="" class="col-xs-2 control-label">simplePliCTerm.name.localityType</label>
          <div class="col-xs-10">
            <div data-ng-controller="CheckBoxCrtl" class="panel">
              <div data-ng-repeat="lt in lenguajes.localityType">
                <input type="checkbox" data-ng-model="lt.checked" data-ng-click="updateSelectionLocalityType(lt, lenguajes.localityType)"/>{{lt.name}}
                <spant data-ng-show="lt.help"><a data-container="body" data-toggle="popover" data-placement="left" title="{{lt.help}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
              </div>
            </div>
          </div>
        </div>
        <!--.form-group
        label.col-xs-2.control-label(for='locationValue', translate='') simplePliCTerm.name.locationValue
        .col-xs-10
        	.panel(data-ng-controller='CheckBoxCrtl')
        		div(data-ng-repeat='ls in lenguajes.locationStandard')
        			input(type='checkbox', data-ng-model='ls.checked', data-ng-click='updateSelectionLocationValue(ls, lenguajes.locationStandard)')
        			| {{ls.name}}
        
        -->
        <div class="form-group">
          <label for="WhatImpact" translate="" class="col-xs-2 control-label">simplePliCTerm.name.WhatImpact</label>
          <div class="col-xs-10">
            <textarea rows="3" name="whatImpact" data-ng-model="invasivenessAtomizedType.whatImpact"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="vector" translate="" class="col-xs-2 control-label">simplePliCTerm.name.vector</label>
          <div class="col-xs-10">
            <textarea rows="3" name="whatImpact" data-ng-model="invasivenessAtomizedType.vector"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="route" translate="" class="col-xs-2 control-label">simplePliCTerm.name.route</label>
          <div class="col-xs-10">
            <textarea rows="3" name="route" data-ng-model="invasivenessAtomizedType.route"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="target" translate="" class="col-xs-2 control-label">simplePliCTerm.name.target</label>
          <div class="col-xs-10">
            <textarea rows="3" name="route" data-ng-model="invasivenessAtomizedType.target"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="Mechanism" translate="" class="col-xs-2 control-label">simplePliCTerm.name.Mechanism</label>
          <div class="col-xs-10">
            <textarea rows="3" name="mechanism" data-ng-model="invasivenessAtomizedType.mechanism"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div data-ng-show="(invasivenessAtomizedType.ancillaryData).length" class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <!--th.col-xs-1 {{"simplePliCTerm.name.source"|translate}}-->
                  <!--th.col-xs-1 {{"simplePliCTerm.name.bibliographicCitation"|translate}}-->
                  <th class="col-xs-3">{{"simplePliCTerm.name.license"|translate}}</th>
                  <!--th.col-xs-1 {{"simplePliCTerm.name.rights"|translate}}-->
                  <th class="col-xs-6">{{"simplePliCTerm.name.References"|translate}}</th>
                  <th class="col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="ancillary in invasivenessAtomizedType.ancillaryData track by $index">
                  <td>{{ancillary.source}}</td>
                  <!--td| {{ancillary.bibliographicCitation}}
                  -->
                  <!--td| {{ancillary.license}}	
                  -->
                  <!--td
                  | {{ancillary.rights}}
                  
                  -->
                  <td>
                    <div data-ng-repeat="ref in ancillary.reference track by $index" class="selected-item">
                      <div data-ng-show="ref">
                        <textarea disabled="disabled">{{ref|references_format}}	</textarea>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button data-ng-click="removeAncillaryData(invasivenessAtomizedType.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                    <button data-ng-click="editAncillaryDataAto(invasivenessAtomizedType.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div data-ng-controller="CollapseDemoCtrl">
            <div class="form-group">
              <button type="button" data-ng-click="isCollapsed = !isCollapsed" class="btn btn-primary btn-xs pull-right">Referencias y licencias</button>
              <div class="divider"></div>
              <div class="col-xs-9 col-xs-offset-1">
                <div uib-collapse="isCollapsed" id="ancillaryInvasivenessAto">
                  <!--input(type='text', data-ng-model='ancillaryDataAto.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')-->
                  <!--button.btn-xs(data-ng-click='findAncillaryAto(ancillaryDataAto.source)')span.glyphicon.glyphicon-search
                  -->
                  <div class="form-group">
                    <label for="reference" translate="" class="control-label">simplePliCTerm.name.References</label><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.References&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a><span data-ng-controller="ModalCtrl">
                      <script type="text/ng-template" id="referenceSearch">
                        <div class="modal-header">
                          <h3 class="modal-title">Referencias disponibles
                            <button data-ng-click="cancel()" class="btn btn-xs pull-right"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
                          </h3>
                        </div>
                        <div class="modal-body">
                          <div data-ng-repeat="item in items track by $index">
                            <input type="checkbox" ng-checked="list.indexOf(item) &gt; -1" data-ng-click="toggleSelection(item)"/>{{item|references_format_without_url}}
                          </div>
                        </div>
                        <div class="modal-footer"></div>
                      </script>
                      <button data-ng-click="open(formData.references,ancillaryDataAto.reference)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-search"></span></button></span>
                    <button href="" data-ng-click="slide_ato()" class="btn btn-success btn-xs"><span ng-class="{'glyphicon glyphicon-plus': !checked_ato , 'glyphicon glyphicon-minus' : checked_ato}" aria-hidden="true"></span></button>
                    <hr/>
                    <div data-ng-show="(ancillaryDataAto.reference).length" class="table-responsive">
                      <table class="table table-striped">
                        <tbody>
                          <tr data-ng-repeat="ref in ancillaryDataAto.reference track by $index">
                            <td class="col-xs-9">
                              <textarea disabled="disabled">{{ref|references_format}}</textarea>
                            </td>
                            <td class="col-xs-1">
                              <button data-ng-click="removeReference(ancillaryDataAto.reference,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                              <button data-ng-click="editReference(ancillaryDataAto.reference,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div pageslide="pageslide" ps-open="checked_ato" ps-key-listener="true">
                      <div style="padding:30px" id="demo-right">
                        <h3>Agregar nueva referencia</h3>
                        <div class="form-group">
                          <select data-ng-model="referenceAto.type" ng-options="type.original as type.view for type in lenguajes.reference_type ">
                            <option value="">- {{"simplePliCTerm.name.type"|translate}} </option>
                          </select>
                          <input type="text" data-ng-model="referenceAto.source" placeholder="{{&quot;simplePliCTerm.name.Source&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.title" placeholder="{{&quot;simplePliCTerm.name.title&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.authors" placeholder="{{&quot;simplePliCTerm.name.authors&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.year" placeholder="{{&quot;simplePliCTerm.name.year&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.volume" placeholder="{{&quot;simplePliCTerm.name.volume&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.issue" placeholder="{{&quot;simplePliCTerm.name.issue&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.pages" placeholder="{{&quot;simplePliCTerm.name.pages&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.series" placeholder="{{&quot;simplePliCTerm.name.series&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.chapter" placeholder="{{&quot;simplePliCTerm.name.chapter&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.link" placeholder="{{&quot;simplePliCTerm.name.websites&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.accessed" placeholder="{{&quot;simplePliCTerm.name.accessed&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.publisher" placeholder="{{&quot;simplePliCTerm.name.publisher&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.address" placeholder="{{&quot;simplePliCTerm.name.city&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.edition" placeholder="{{&quot;simplePliCTerm.name.edition&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.institution" placeholder="{{&quot;simplePliCTerm.name.institution&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.editors" placeholder="{{&quot;simplePliCTerm.name.editors&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.keywords" placeholder="{{&quot;simplePliCTerm.name.keywords&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.doi" placeholder="{{&quot;simplePliCTerm.name.doi&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.isbn" placeholder="{{&quot;simplePliCTerm.name.isbn&quot;|translate}}"/>
                          <input type="text" data-ng-model="referenceAto.issn" placeholder="{{&quot;simplePliCTerm.name.issn&quot;|translate}}"/>
                          <!--input(type='text', data-ng-model='referenceAto.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')-->
                          <div class="pull-right">
                            <button type="button" data-ng-click="addReferenceAto(ancillaryDataAto.reference,referenceAto)" translate="" class="btn btn-primary btn-xs">Guardar</button>
                            <button type="button" data-ng-click="cancelReferenceAto()" translate="" class="btn btn-primary btn-xs">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="license" translate="" class="control-label">simplePliCTerm.name.license</label>
                    <panel data-ng-controller="CheckBoxCrtl">
                      <div data-ng-repeat="lic in lincese_list | filter:{nombre : '!Otra'}">
                        <input type="checkbox" data-ng-model="lic.checked" data-ng-click="updateSelectionLicence(lic, lincese_list, &quot;ManualLicenseFullDescription&quot;)"/><a data-ng-href="{{lic.url}}" target="_blank"><img id="image" data-ng-src="{{lic.image_url || '//:0' }}" hspace="10" vspace="7"/>{{lic.nombre}}</a>
                        <spant data-ng-show="lic.definicion"></spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{lic.definicion}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
                      </div>
                      <p id="ManualLicenseFullDescription"></p>
                      <p style="font-size:90%;"><i>* Para uso de otras licencias que no estén en este listado por favor escribenos a: sib+ac@humboldt.org.co</i></p>
                    </panel>
                    <label for="rights" translate="" class="control-label">simplePliCTerm.name.rights</label>
                    <select data-ng-model="ancillaryDataAto.rightsHolder" ng-options="prov.proveedorDeContenido as prov.proveedorDeContenido for prov in prov_contenido_ato | unique:'proveedorDeContenido'">
                      <option value="">- Seleccione -</option>
                    </select>
                    <input type="text" data-ng-model="ancillaryDataAto.rights"/>
                    <!--label.control-label(for='bibliographicCitation', translate='') simplePliCTerm.name.bibliographicCitation	-->
                    <!--input(type='text', data-ng-model='ancillaryDataAto.bibliographicCitation')-->
                  </div>
                  <button type="button" data-ng-click="addAncillaryDataAto(invasivenessAtomizedType.ancillaryData,ancillaryDataAto)" translate="" class="btn btn-primary btn-sm">Guardar</button>
                  <button type="button" data-ng-click="cancelAncillaryDataAto()" class="btn btn-primary btn-sm">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="pull-right">
            <button type="button" data-ng-click="addInvasivenessAtomizedType(formData.invasiveness.invasivenessAtomized, invasivenessAtomizedType)" class="btn btn-success btn-sm">Guardar</button>
            <button type="button" data-ng-click="cancelInvasivenessAtomizedType(invasivenessAtomizedType)" class="btn btn-success btn-sm">Cancelar</button>
          </div>
        </div>
        <div data-ng-show="(formData.invasiveness.invasivenessAtomized).length" class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr data-ng-repeat="invasivenessAtomizedType in formData.invasiveness.invasivenessAtomized track by $index">
                <td>
                  <div class="parrafo-pegado">
                    <div data-ng-show="invasivenessAtomizedType.origin">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.origin</p>: {{invasivenessAtomizedType.origin}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.presence">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.presence</p>: {{invasivenessAtomizedType.presence}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.persistence">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.persistence</p>: {{invasivenessAtomizedType.persistence}}
                    </div>
                    <div data-ng-repeat="distribution in invasivenessAtomizedType.distribution" class="selected-item">
                      <div data-ng-show="distribution">
                        <p translate="" class="text_type_bold">simplePliCTerm.name.distribution</p>: {{distribution}}
                      </div>
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.harmful">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.harmful</p>: {{invasivenessAtomizedType.harmful}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.modified"><span class="datepicker-date">
                        <p translate="" class="text_type_bold">simplePliCTerm.name.modified</p>: {{invasivenessAtomizedType.modified| date:'yyyy/MM/dd'}}</span></div>
                    <div data-ng-show="invasivenessAtomizedType.startValidateDate"><span class="datepicker-date">
                        <p translate="" class="text_type_bold">simplePliCTerm.name.startValidateDate</p>: {{invasivenessAtomizedType.startValidateDate| date:'yyyy/MM/dd'}}	</span></div>
                    <div data-ng-show="invasivenessAtomizedType.endValidateDate"><span class="datepicker-date">
                        <p translate="" class="text_type_bold">simplePliCTerm.name.endValidateDate</p>: {{invasivenessAtomizedType.endValidateDate| date:'yyyy/MM/dd'}}</span></div>
                    <div data-ng-show="invasivenessAtomizedType.countryCode">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.countryCode</p>: {{invasivenessAtomizedType.countryCode}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.stateProvince">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.stateProvince</p>: {{invasivenessAtomizedType.stateProvince}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.county">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.county</p>: {{invasivenessAtomizedType.county}}	
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.localityName">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.localityName</p>: {{invasivenessAtomizedType.localityName}}	
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.language">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.language</p>: {{invasivenessAtomizedType.language}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.citation">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.citation</p>: {{invasivenessAtomizedType.citation}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.abundance">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.abundance</p>: {{invasivenessAtomizedType.abundance}}	
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.trend">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.trend</p>: {{invasivenessAtomizedType.trend}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.rateOfSpread">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.rateOfSpread</p>: {{invasivenessAtomizedType.rateOfSpread}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.regulatoryListing">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.regulatoryListing</p>: {{invasivenessAtomizedType.regulatoryListing}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.memo">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.memo</p>: {{invasivenessAtomizedType.memo}}	
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.publicationDate"><span class="datepicker-date">
                        <p translate="" class="text_type_bold">simplePliCTerm.name.publicationDate</p>: {{invasivenessAtomizedType.publicationDate| date:'yyyy/MM/dd'}}</span></div>
                    <div data-ng-show="invasivenessAtomizedType.localityType">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.localityType</p>: {{invasivenessAtomizedType.localityType}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.locationValue">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.locationValue</p>: {{invasivenessAtomizedType.locationValue}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.publicationDatePrecision">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.publicationDatePrecision</p>: {{invasivenessAtomizedType.publicationDatePrecision}}	
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.whatImpact">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.WhatImpact</p>: {{invasivenessAtomizedType.whatImpact}}	
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.vector">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.vector</p>: {{invasivenessAtomizedType.vector}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.route">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.route</p>: {{invasivenessAtomizedType.route}}
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.target">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.target</p>: {{invasivenessAtomizedType.target}}	
                    </div>
                    <div data-ng-show="invasivenessAtomizedType.mechanism">
                      <p translate="" class="text_type_bold">simplePliCTerm.name.Mechanism</p>: {{invasivenessAtomizedType.mechanism}}		
                    </div>
                  </div>
                </td>
                <td>
                  <button data-ng-click="removeInvasivenessAtomized(formData.invasiveness.invasivenessAtomized,invasivenessAtomizedType)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                  <button data-ng-click="editInvasivenessAtomized(formData.invasiveness.invasivenessAtomized,invasivenessAtomizedType)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <hr/>
          <label for="invasivenessUnstructured" translate="">Descripción</label><em>(opcional)</em>
          <textarea rows="3" name="invasiveness" data-ng-model="formData.invasiveness.invasivenessUnstructured"></textarea>
          <div data-ng-show="(formData.invasiveness.ancillaryData).length" class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <!--th.col-xs-1 {{"simplePliCTerm.name.source"|translate}}-->
                  <!--th.col-xs-1  {{"simplePliCTerm.name.bibliographicCitation"|translate}}-->
                  <th class="col-xs-3"> {{"simplePliCTerm.name.license"|translate}}</th>
                  <!--th.col-xs-1  {{"simplePliCTerm.name.rights"|translate}}-->
                  <th class="col-xs-6">{{"simplePliCTerm.name.References"|translate}}</th>
                  <th class="col-xs-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="ancillary in formData.invasiveness.ancillaryData track by $index">
                  <!--td| {{ancillary.source}}
                  -->
                  <!--td| {{ancillary.bibliographicCitation}}
                  -->
                  <td>{{ancillary.license}}	</td>
                  <!--td
                  | {{ancillary.rights}}
                  
                  -->
                  <td>
                    <div data-ng-repeat="ref in ancillary.reference track by $index" class="selected-item">
                      <div data-ng-show="ref">
                        <textarea disabled="disabled">{{ref|references_format}}	</textarea>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button data-ng-click="removeAncillaryData(formData.invasiveness.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                    <button data-ng-click="editAncillaryData(formData.invasiveness.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div data-ng-controller="CollapseDemoCtrl">
            <div class="form-group">
              <button type="button" data-ng-click="isCollapsed = !isCollapsed" class="btn btn-primary btn-xs pull-right">Referencias y licencias</button>
              <div class="divider"></div>
              <div class="col-xs-9 col-xs-offset-1">
                <div uib-collapse="isCollapsed" id="ancillaryInvasiveness">
                  <!--input(type='text', data-ng-model='ancillaryData.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')-->
                  <!--button.btn-xs(data-ng-click='findAncillary(ancillaryData.source)')span.glyphicon.glyphicon-search
                  -->
                  <div class="form-group">
                    <label for="reference" translate="" class="control-label">simplePliCTerm.name.References</label><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.References&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a><span data-ng-controller="ModalCtrl">
                      <script type="text/ng-template" id="referenceSearch">
                        <div class="modal-header">
                          <h3 class="modal-title">Referencias disponibles
                            <button data-ng-click="cancel()" class="btn btn-xs pull-right"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
                          </h3>
                        </div>
                        <div class="modal-body">
                          <div data-ng-repeat="item in items track by $index">
                            <input type="checkbox" ng-checked="list.indexOf(item) &gt; -1" data-ng-click="toggleSelection(item)"/>{{item|references_format_without_url}}
                          </div>
                        </div>
                        <div class="modal-footer"></div>
                      </script>
                      <button data-ng-click="open(formData.references,ancillaryData.reference)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-search"></span></button></span>
                    <button href="" data-ng-click="slide()" class="btn btn-success btn-xs"><span ng-class="{'glyphicon glyphicon-plus': !checked , 'glyphicon glyphicon-minus' : checked}" aria-hidden="true"></span></button>
                    <hr/>
                    <div data-ng-show="(ancillaryData.reference).length" class="table-responsive">
                      <table class="table table-striped">
                        <tbody>
                          <tr data-ng-repeat="ref in ancillaryData.reference track by $index">
                            <td class="col-xs-9">
                              <textarea disabled="disabled">{{ref|references_format}}</textarea>
                            </td>
                            <td class="col-xs-1">
                              <button data-ng-click="removeReference(ancillaryData.reference,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                              <button data-ng-click="editReference(ancillaryData.reference,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div pageslide="pageslide" ps-open="checked" ps-key-listener="true">
                      <div style="padding:30px" id="demo-right">
                        <h3>Agregar nueva referencia</h3>
                        <div class="form-group">
                          <select data-ng-model="reference.type" ng-options="type.original as type.view for type in lenguajes.reference_type ">
                            <option value="">- {{"simplePliCTerm.name.type"|translate}} </option>
                          </select>
                          <input type="text" data-ng-model="reference.source" placeholder="{{&quot;simplePliCTerm.name.Source&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.title" placeholder="{{&quot;simplePliCTerm.name.title&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.authors" placeholder="{{&quot;simplePliCTerm.name.authors&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.year" placeholder="{{&quot;simplePliCTerm.name.year&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.volume" placeholder="{{&quot;simplePliCTerm.name.volume&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.issue" placeholder="{{&quot;simplePliCTerm.name.issue&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.pages" placeholder="{{&quot;simplePliCTerm.name.pages&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.series" placeholder="{{&quot;simplePliCTerm.name.series&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.chapter" placeholder="{{&quot;simplePliCTerm.name.chapter&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.link" placeholder="{{&quot;simplePliCTerm.name.websites&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.accessed" placeholder="{{&quot;simplePliCTerm.name.accessed&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.publisher" placeholder="{{&quot;simplePliCTerm.name.publisher&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.address" placeholder="{{&quot;simplePliCTerm.name.city&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.edition" placeholder="{{&quot;simplePliCTerm.name.edition&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.institution" placeholder="{{&quot;simplePliCTerm.name.institution&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.editors" placeholder="{{&quot;simplePliCTerm.name.editors&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.keywords" placeholder="{{&quot;simplePliCTerm.name.keywords&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.doi" placeholder="{{&quot;simplePliCTerm.name.doi&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.isbn" placeholder="{{&quot;simplePliCTerm.name.isbn&quot;|translate}}"/>
                          <input type="text" data-ng-model="reference.issn" placeholder="{{&quot;simplePliCTerm.name.issn&quot;|translate}}"/>
                          <!--input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')-->
                          <div class="pull-right">
                            <button type="button" data-ng-click="addReference(ancillaryData.reference,reference)" translate="" class="btn btn-primary btn-xs">Guardar</button>
                            <button type="button" data-ng-click="cancelReference()" translate="" class="btn btn-primary btn-xs">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="license" translate="" class="control-label">simplePliCTerm.name.license</label>
                    <panel data-ng-controller="CheckBoxCrtl">
                      <div data-ng-repeat="lic in lincese_list | filter:{nombre : '!Otra'}">
                        <input type="checkbox" data-ng-model="lic.checked" data-ng-click="updateSelectionLicence(lic, lincese_list, &quot;ManualLicenseFullDescription&quot;)"/><a data-ng-href="{{lic.url}}" target="_blank"><img id="image" data-ng-src="{{lic.image_url || '//:0' }}" hspace="10" vspace="7"/>{{lic.nombre}}</a>
                        <spant data-ng-show="lic.definicion"></spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{lic.definicion}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
                      </div>
                      <p id="ManualLicenseFullDescription"></p>
                      <p style="font-size:90%;"><i>* Para uso de otras licencias que no estén en este listado por favor escribenos a: sib+ac@humboldt.org.co</i></p>
                    </panel>
                    <label for="rights" translate="" class="control-label">simplePliCTerm.name.rights</label>
                    <select data-ng-model="ancillaryData.rights" ng-options="prov.proveedorDeContenido as prov.proveedorDeContenido for prov in prov_contenido | unique:'proveedorDeContenido'">
                      <option value="">- Seleccione -</option>
                    </select>
                    <!--label.control-label(for='bibliographicCitation', translate='') simplePliCTerm.name.bibliographicCitation	-->
                    <!--input(type='text', data-ng-model='ancillaryData.bibliographicCitation')-->
                  </div>
                  <button type="button" data-ng-click="addAncillaryData(formData.invasiveness.ancillaryData,ancillaryData)" translate="" class="btn btn-primary btn-sm">Guardar</button>
                  <button type="button" data-ng-click="cancelAncillaryData()" class="btn btn-primary btn-sm">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-xs-offset-3">
    <ul class="pager">
      <li><a ui-sref="form.historyC" class="btn btn-block"><span class="glyphicon glyphicon-circle-arrow-left"></span>	Sección Anterior</a></li>
      <li><a ui-sref="form.habitat" class="btn btn-block">Siguiente Sección <span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>
      <li>
        <button type="button" data-ng-click="saveFile()" class="btn btn-success btn-sm">
           
           Guardar Ficha <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
      </li>
    </ul>
  </div>
</div>