
<div class="form-group">
  <div data-ng-controller="TaxonRecordNameCtrl">
    <input type="text" name="taxonRecordName" data-ng-model="taxonNameResearch"/>
    <button data-ng-click="getTaxonInformation(taxonNameResearch)" class="btn btn-success btn-sm">Traer información</button>
    <div data-ng-show="formData.taxonRecordName.scientificName.simple">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div>
            <spant for="canonicalName" translate="">simplePliCTerm.name.ScientificName</spant>		   			{{formData.taxonRecordName.scientificName.simple}}
          </div>
          <div data-ng-show="formData.taxonRecordName.scientificName.publishedln.simple">
            <div>Publicado en :{{formData.taxonRecordName.scientificName.publishedln.simple}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'./form/includes/hierarchy.html'"></div>
  <div ng-include="'./form/includes/abstract.html'"></div>
  <div ng-include="'./form/includes/synonyms.html'"></div>
  <div ng-include="'./form/includes/commonNames.html'"></div>
</div>
<div class="col-xs-6 col-xs-offset-3">
  <ul class="pager">
    <li><a ui-sref="form.taxoDesc" class="btn btn-block">Siguiente Sección <span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>
  </ul>
</div>