
<div data-ng-controller="ReferenceCrtl">
  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <spant>{{"simplePliCTerm.name.References"|translate}}
          <spant></spant>
        </spant>
        <!--button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addReferences()') span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
        -->
        <button href="" data-ng-click="slide()" class="btn btn-success btn-xs pull-right"><span ng-class="{'glyphicon glyphicon-plus': !checked , 'glyphicon glyphicon-minus' : checked}" aria-hidden="true"></span></button>
      </div>
      <div class="panel-body">
        <div pageslide="pageslide" ps-open="checked" ps-key-listener="true">
          <div style="padding:30px" id="demo-right">
            <h3>Agregar nueva referencia			</h3>
            <div class="form-group">
              <div data-ng-controller="UploadFile">
                <h4>Cargar referencias desde un archivo .bib</h4>
                <input type="file" on-read-file="showContent($fileContent)"/>
              </div>
              <div>
                <div class="form-group">
                  <select data-ng-model="reference.type" ng-options="type.original as type.view for type in lenguajes.reference_type ">
                    <option value="">- {{"simplePliCTerm.name.type"|translate}} </option>
                  </select>
                  <input type="text" data-ng-model="reference.source" placeholder="{{&quot;simplePliCTerm.name.Source&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.title" placeholder="{{&quot;simplePliCTerm.name.title&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.authors" placeholder="{{&quot;simplePliCTerm.name.authors&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.year" placeholder="{{&quot;simplePliCTerm.name.year&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.volume" placeholder="{{&quot;simplePliCTerm.name.volume&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.issue" placeholder="{{&quot;simplePliCTerm.name.issue&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.pages" placeholder="{{&quot;simplePliCTerm.name.pages&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.series" placeholder="{{&quot;simplePliCTerm.name.series&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.chapter" placeholder="{{&quot;simplePliCTerm.name.chapter&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.accessed" placeholder="{{&quot;simplePliCTerm.name.accessed&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.publisher" placeholder="{{&quot;simplePliCTerm.name.publisher&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.address" placeholder="{{&quot;simplePliCTerm.name.city&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.edition" placeholder="{{&quot;simplePliCTerm.name.edition&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.institution" placeholder="{{&quot;simplePliCTerm.name.institution&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.editors" placeholder="{{&quot;simplePliCTerm.name.editors&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.keywords" placeholder="{{&quot;simplePliCTerm.name.keywords&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.doi" placeholder="{{&quot;simplePliCTerm.name.doi&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.isbn" placeholder="{{&quot;simplePliCTerm.name.isbn&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.issn" placeholder="{{&quot;simplePliCTerm.name.issn&quot;|translate}}"/>
                  <input type="text" data-ng-model="reference.link" placeholder="{{&quot;simplePliCTerm.name.websites&quot;|translate}}"/>
                  <div class="pull-right">
                    <button type="button" data-ng-click="addReference(formData.references,reference)" translate="" class="btn btn-primary btn-xs">Guardar</button>
                    <button type="button" data-ng-click="cancelReference()" translate="" class="btn btn-primary btn-xs">Cancelar </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div data-ng-show="(formData.references).length" class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr data-ng-repeat="ref in formData.references track by $index">
                <td class="col-xs-11">
                  <textarea disabled="disabled">{{ref|references_format}}</textarea>
                </td>
                <td class="col-xs-1">
                  <button data-ng-click="removeReference(formData.references,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                  <button data-ng-click="editReference(formData.references,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-xs-offset-3">
  <ul class="pager">
    <li><a ui-sref="form.associatedParty" class="btn btn-block"><span class="glyphicon glyphicon-circle-arrow-left"></span>	Sección Anterior</a></li>
    <li><a ui-sref="form.ancillary" class="btn btn-block">Siguiente Sección <span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>
    <li>
      <button type="button" data-ng-click="saveFile()" class="btn btn-success btn-sm">
         
         Guardar Ficha <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
    </li>
  </ul>
</div>