doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title= title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width,initial-scale=1')

		<!-- build:css(src/public) stylesheets/final/vendor.css -->
		//- bower:css
		//- run `gulp inject` to automatically populate bower styles dependencies
		//- endbower
		<!-- endbuild -->

		<!-- build:css(src/public) stylesheets/final/app.css -->
		//- inject:css
		//- css files will be automatically insert here
		//- endinject
		<!-- endbuild -->

	body
		.wrapper
			//include ../includes/header
			block content
			//include ../includes/footer

		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="/bower_components/angular/angular.min.js")
		script(src="/bower_components/angular-cookies/angular-cookies.js")
		script(src="/bower_components/angular-sanitize/angular-sanitize.js")
		script(src="/bower_components/angular-translate/angular-translate.js")
		script(src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js")
		script(src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js")
		script(src="/bower_components/angular-translate-storage-local/angular-translate-storage-local.js")
		script(src="/bower_components/angular-ui/build/angular-ui.min.js")
		script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
		script(src="/bower_components/angular-animate/angular-animate.min.js")
		script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
		script(src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js")
		script(src="/bower_components/ng-file-upload/ng-file-upload.min.js")
		script(src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js")
		script(src="/bower_components/oboe/dist/oboe-browser.min.js")
		script(src="/bower_components/angular-route/angular-route.min.js")
		script(src="/bower_components/angular-resource/angular-resource.min.js")
		script(src="/bower_components/bibtex-parser-js/bibtexParse.js")
		script(src="/bower_components/ng-table/dist/ng-table.min.js")
		script(src="/bower_components/ng-pageslide/dist/angular-pageslide-directive.min.js")

		<!-- build:js(src/public) javascripts/final/app.js -->
		//- inject:js
		//- js files will be automatically insert here
		//- endinject
		<!-- endbuild -->
