div(data-ng-controller='AssociatedPartyCtrl')
	.form-group
		.panel.panel-default
			.panel-heading
				spant
					| {{"simplePliCTerm.name.associatedParty"|translate}}
					spant
						a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.associatedParty"|translate}}')
							span.glyphicon.glyphicon-info-sign
				button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addAssociated()') 
					span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
			.panel-body
				div.table-responsive(data-ng-show='(formData.associatedParty).length')
					table.table.table-striped
						thead
							tr
								th {{"simplePliCTerm.name.givenName"|translate}}
								th {{"simplePliCTerm.name.positionName"|translate}}
								th {{"simplePliCTerm.name.organizationName"|translate}}
								th
						
						tbody
							tr(data-ng-repeat="associatedParty in formData.associatedParty track by $index")
								td
									| {{associatedParty.firstName}} {{associatedParty.lastName}}
								td
									| {{associatedParty.position}}	
								td
									| {{associatedParty.organisation}}	
								td
									button.btn(data-ng-click='removeAssociatedParty(formData.associatedParty,associatedParty)')
										span(class="glyphicon glyphicon-trash", aria-hidden='true')
									button.btn(data-ng-click='editAssociatedParty(formData.associatedParty,associatedParty, $index)')
										span(class="glyphicon glyphicon-pencil", aria-hidden='true')
				.form-group
					label.col-xs-2.control-label(for='givenName', translate='') simplePliCTerm.name.givenName
					.col-xs-10
						input(type='text', data-ng-model='associatedParty.firstName')
				.form-group
					label.col-xs-2.control-label(for='surName', translate='') simplePliCTerm.name.surName
					.col-xs-10
						input(type='text', data-ng-model='associatedParty.lastName')
				.form-group
					label.col-xs-2.control-label(for='positionName', translate='') simplePliCTerm.name.positionName
					.col-xs-10
						input(type='text', data-ng-model='associatedParty.position')
				.form-group
					label.col-xs-2.control-label(for='organizationName', translate='') simplePliCTerm.name.organizationName
					.col-xs-10
						input(type='text', data-ng-model='associatedParty.organisation')
				.form-group
					label.col-xs-2.control-label(for='deliverypoint', translate='') simplePliCTerm.name.deliverypoint
					.col-xs-10
						input(type='text', data-ng-model='associatedParty.address')
				.form-group
					label.col-xs-2.control-label(for='country', translate='') simplePliCTerm.name.country
					.col-xs-10
						div(data-ng-controller='UbicacionCtrl')
							select(data-ng-model='associatedParty.country', ng-options='attr.countryName as attr.countryName for attr in ubicacion ')
								option(value='') - Seleccione -
				.form-group
					label.col-xs-2.control-label(for='administrativeArea', translate='') simplePliCTerm.name.administrativeArea
					.col-xs-10
						div(data-ng-controller='UbicacionCtrl')
							select(data-ng-model='associatedParty.state', data-ng-disabled='!associatedParty.country', ng-options='item.departmentName as item.departmentName for item in selectedAttr.departments ')
								option(value='') - Seleccione -
				.form-group
					label.col-xs-2.control-label(for='city', translate='') simplePliCTerm.name.city
					.col-xs-10
						div(data-ng-controller='UbicacionCtrl')
							select(data-ng-model='associatedParty.city', data-ng-disabled='!associatedParty.country || !associatedParty.state', ng-options='item.countyName as item.countyName for item in selectedAttr2.counties ')
								option(value='') - Seleccione -
				.form-group
					label.col-xs-2.control-label(for='postalCode', translate='') simplePliCTerm.name.postalCode
					.col-xs-10
						input(type='text', data-ng-model='associatedParty.postalCode')
				.form-group
					label.col-xs-2.control-label(for='phone', translate='') simplePliCTerm.name.phone
					.col-xs-10
						input(type='text', data-ng-model='associatedParty.phone')
				.form-group
					label.col-xs-2.control-label(for='electronicMailAddress', translate='') simplePliCTerm.name.electronicMailAddress
					.col-xs-10
						input(type='text', data-ng-model='associatedParty.email')
				.form-group
					label.col-xs-2.control-label(for='onlineUrl', translate='') simplePliCTerm.name.onlineUrl
					.col-xs-10
						input(type='text', data-ng-model='associatedParty.homepage')
				.form-group
					label.col-xs-2.control-label(for='role', translate='') simplePliCTerm.name.role
					.col-xs-10
						input(type='text', data-ng-model='associatedParty.role')
						a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.role"|translate}}')
							span.glyphicon.glyphicon-info-sign
				.form-group
					div.pull-right
						button.btn.btn-success.btn-sm(type='button', data-ng-click='addAssociatedParty(formData.associatedParty, associatedParty)') Añadir 
						button.btn.btn-success.btn-sm(type='button', data-ng-click='cancelAssociatedParty()') Cancelar 
	.col-xs-6.col-xs-offset-3
		ul.pager
			li
				a.btn.btn-block(ui-sref='form.uses')
					span.glyphicon.glyphicon-circle-arrow-left
					|  Sección Anterior
			li
				a.btn.btn-block(ui-sref='form.references')
					| Siguiente Sección 
					span.glyphicon.glyphicon-circle-arrow-right