.form-group
	h3 Taxon Record ID:
	hr
	input(type='text', name='taxonRecordID', ng-model='formData.taxonRecordID')
	br
	h3 Taxon Concept ID:
	hr
	input(type='text', name='taxonConceptID', ng-model='formData.taxonConceptID')
	br
	h3 Global Unique Identifier:
	hr
	input(type='text', name='globalUniqueIdentifier', ng-model='formData.globalUniqueIdentifier')
	br
	h3 Descripción General:
	hr
	input(type='text', name='abstract', ng-model='formData.abstract')
	br
.form-group.row
	.col-xs-6.col-xs-offset-3
		a.btn.btn-block.btn-info(ui-sref='form.recordMeta')
			| Siguiente Sección 
			span.glyphicon.glyphicon-circle-arrow-right