.form-group
	h3 Taxon Record ID:
	hr
	input(type='text', name='taxonRecordID', data-ng-model='formData.taxonRecordID')
	br
	h3 Taxon Concept ID:
	hr
	input(type='text', name='taxonConceptID', data-ng-model='formData.taxonConceptID')
	br
	h3 Global Unique Identifier:
	hr
	input(type='text', name='globalUniqueIdentifier', data-ng-model='formData.globalUniqueIdentifier')
	br
	h3 Descripción General:
	hr
	input(type='text', name='abstract', data-ng-model='formData.abstract')
	br
.form-group.row
	.col-xs-6.col-xs-offset-3
		a.btn.btn-block(ui-sref='form.recordMeta')
			| Siguiente Sección 
			span.glyphicon.glyphicon-circle-arrow-right
		li
			button.btn.btn-success.btn-sm(type='button', data-ng-click="saveFile()") 
				|  Guardar Ficha 
				span.glyphicon.glyphicon-floppy-disk