.form-group
	div(ng-include="'./form/includes/habitats.html'")
	div(ng-include="'./form/includes/distribution.html'")
	div(ng-include="'./form/includes/endemic.html'")
.col-xs-6.col-xs-offset-3
	ul.pager
		li
			a.btn.btn-block(ui-sref='form.invasiveness')
				span.glyphicon.glyphicon-circle-arrow-left
				|  Sección Anterior
		li
			a.btn.btn-block(ui-sref='form.demogra')
				| Siguiente Sección 
				span.glyphicon.glyphicon-circle-arrow-right
