div(data-ng-controller='InvasivenessCtrl')
	.form-group
		.panel.panel-default
			.panel-heading
				spant
					| {{"simplePliCTerm.name.Invasiveness" | translate}}
					spant
						a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.Invasiveness"|translate}}')
							span.glyphicon.glyphicon-info-sign
				//button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addInvasiveness()') 
					span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
			.panel-body
				.form-group
					label.col-xs-2.control-label(for='origin', translate='') simplePliCTerm.name.origin
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='ori in lenguajes.origin')
								input(type='checkbox', data-ng-model='ori.checked', data-ng-click='updateSelectionOrigin(ori, lenguajes.origin)')
								| {{ori.name}}
								spant(data-ng-show='ori.help')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{ori.help}}')
										span.glyphicon.glyphicon-info-sign
				.form-group
					label.col-xs-2.control-label(for='presence', translate='') simplePliCTerm.name.presence
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='pre in lenguajes.presence')
								input(type='checkbox', data-ng-model='pre.checked', data-ng-click='updateSelectionPresence(pre, lenguajes.presence)')
								| {{pre.name}}
								spant(data-ng-show='pre.help')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{pre.help}}')
										span.glyphicon.glyphicon-info-sign
				.form-group
					label.col-xs-2.control-label(for='persistence', translate='') simplePliCTerm.name.persistence
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='per in lenguajes.persistence')
								input(type='checkbox', data-ng-model='per.checked', data-ng-click='updateSelectionPersistence(per, lenguajes.persistence)')
								| {{per.name}}
								spant(data-ng-show='per.help')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{per.help}}')
										span.glyphicon.glyphicon-info-sign
				.form-group
					label.col-xs-2.control-label(for='distribution', translate='') simplePliCTerm.name.distribution
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='dis in lenguajes.distribution')
								input(type='checkbox', data-ng-model='dis.checked', data-ng-click='updateSelectionDistribution(dis, lenguajes.distribution)')
								| {{dis.name}}
								spant(data-ng-show='dis.help')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{dis.help}}')
										span.glyphicon.glyphicon-info-sign
				.form-group
					label.col-xs-2.control-label(for='harmful', translate='') simplePliCTerm.name.harmful
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='har in lenguajes.harmful')
								input(type='checkbox', data-ng-model='har.checked', data-ng-click='updateSelectionHarmful(har, lenguajes.harmful)')
								| {{har.name}}
								spant(data-ng-show='har.help')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{har.help}}')
										span.glyphicon.glyphicon-info-sign
				//.form-group
					label.col-xs-2.control-label(for='modified', translate='') simplePliCTerm.name.modified
					.col-xs-10
						div(data-ng-controller='DatepickerCtrl')
							p.input-group
								input.form-control(type='text', uib-datepicker-popup="yyyy/MM/dd", data-ng-model="invasivenessAtomizedType.modified", is-open="status.opened", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", close-text="Close" , disabled)
								span.input-group-btn
									button.btn.btn-default(type="button",data-ng-click="open($event)")
										i.glyphicon.glyphicon-calendar
				.form-group
					label.col-xs-2.control-label(for='startValidateDate', translate='') simplePliCTerm.name.startValidateDate
					.col-xs-10
						div(data-ng-controller='DatepickerCtrl')
							p.input-group
								input.form-control(type='text', uib-datepicker-popup="yyyy/MM/dd", data-ng-model="invasivenessAtomizedType.startValidateDate", is-open="status.opened", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", close-text="Close", disabled )
								span.input-group-btn
									button.btn.btn-default(type="button",data-ng-click="open($event)")
										i.glyphicon.glyphicon-calendar
				.form-group
					label.col-xs-2.control-label(for='publicationDatePrecision', translate='') simplePliCTerm.name.publicationDatePrecision
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='pdp in lenguajes.publicationDatePrecision')
								input(type='checkbox', data-ng-model='pdp.checked', data-ng-click='updateSelectionPublicationDatePrecision(pdp, lenguajes.publicationDatePrecision)')
								| {{pdp.name}}
				//.form-group
					label.col-xs-2.control-label(for='endValidateDate', translate='') simplePliCTerm.name.endValidateDate
					.col-xs-10
						div(data-ng-controller='DatepickerCtrl')
							p.input-group
								input.form-control(type='text', uib-datepicker-popup="yyyy/MM/dd", data-ng-model="invasivenessAtomizedType.endValidateDate", is-open="status.opened", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", close-text="Close", disabled )
								span.input-group-btn
									button.btn.btn-default(type="button",data-ng-click="open($event)")
										i.glyphicon.glyphicon-calendar
				.form-group
					label.col-xs-2.control-label(for='countryCode', translate='') simplePliCTerm.name.countryCode
					.col-xs-10
						div(data-ng-controller='UbicacionCtrl')
							select(data-ng-model='invasivenessAtomizedType.countryCode', ng-options='attr.countryName as attr.countryName for attr in ubicacion ')
								option(value='') - Seleccione -
				.form-group
					label.col-xs-2.control-label(for='stateProvince', translate='') simplePliCTerm.name.stateProvince
					.col-xs-10
						div(data-ng-controller='UbicacionCtrl')
							select(data-ng-model='invasivenessAtomizedType.stateProvince', data-ng-disabled='!invasivenessAtomizedType.countryCode', ng-options='item.departmentName as item.departmentName for item in selectedAttr.departments ')
								option(value='') - Seleccione -
				.form-group
					label.col-xs-2.control-label(for='county', translate='') simplePliCTerm.name.county
					.col-xs-10
						div(data-ng-controller='UbicacionCtrl')
							select(data-ng-model='invasivenessAtomizedType.county', data-ng-disabled='!invasivenessAtomizedType.countryCode || !invasivenessAtomizedType.stateProvince', ng-options='item.countyName as item.countyName for item in selectedAttr2.counties ')
								option(value='') - Seleccione -
				.form-group
					label.col-xs-2.control-label(for='localityName', translate='') simplePliCTerm.name.localityName
					.col-xs-10
						input(type='text', name='localityName', data-ng-model='invasivenessAtomizedType.localityName')
				//.form-group
					label.col-xs-2.control-label(for='language', translate='') simplePliCTerm.name.language
					.col-xs-10
						select(data-ng-model='invasivenessAtomizedType.language', ng-options='lang.Idioma as lang.Idioma for lang in idiomas ')
							option(value='') - Seleccione -
				//.form-group
					label.col-xs-2.control-label(for='citation', translate='') simplePliCTerm.name.citation
					.col-xs-10
						input(type='text', name='citation', data-ng-model='invasivenessAtomizedType.citation')
				.form-group
					label.col-xs-2.control-label(for='abundance', translate='') simplePliCTerm.name.abundance
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='abu in lenguajes.abundance')
								input(type='checkbox', data-ng-model='abu.checked', data-ng-click='updateSelectionAbundance(abu, lenguajes.abundance)')
								| {{abu.name}}
								spant(data-ng-show='abu.help')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{abu.help}}')
										span.glyphicon.glyphicon-info-sign
				.form-group
					label.col-xs-2.control-label(for='trend', translate='') simplePliCTerm.name.trend
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='tre in lenguajes.trend')
								input(type='checkbox', data-ng-model='tre.checked', data-ng-click='updateSelectionTrend(tre, lenguajes.trend)')
								| {{tre.name}}
								spant(data-ng-show='tre.help')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{tre.help}}')
										span.glyphicon.glyphicon-info-sign
				.form-group
					label.col-xs-2.control-label(for='rateOfSpread', translate='') simplePliCTerm.name.rateOfSpread
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='ros in lenguajes.rateOfSpread')
								input(type='checkbox', data-ng-model='ros.checked', data-ng-click='updateSelectionRateOfSpread(ros, lenguajes.rateOfSpread)')
								| {{ros.name}}
								spant(data-ng-show='ros.help')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{ros.help}}')
										span.glyphicon.glyphicon-info-sign
				.form-group
					label.col-xs-2.control-label(for='regulatoryListing', translate='') simplePliCTerm.name.regulatoryListing
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='rl in lenguajes.regulatoryListing')
								input(type='checkbox', data-ng-model='rl.checked', data-ng-click='updateSelectionRegulatoryListing(rl, lenguajes.regulatoryListing)')
								| {{rl.name}}
								spant(data-ng-show='rl.help')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{rl.help}}')
										span.glyphicon.glyphicon-info-sign
				.form-group
					label.col-xs-2.control-label(for='memo', translate='') simplePliCTerm.name.memo
					.col-xs-10
						textarea(rows='3', name='memo', data-ng-model='invasivenessAtomizedType.memo')
				//.form-group
					label.col-xs-2.control-label(for='publicationDate', translate='') simplePliCTerm.name.publicationDate
					.col-xs-10
						div(data-ng-controller='DatepickerCtrl')
							p.input-group
								input.form-control(type='text', uib-datepicker-popup="yyyy/MM/dd", data-ng-model="invasivenessAtomizedType.publicationDate", is-open="status.opened", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", close-text="Close", disabled)
								span.input-group-btn
									button.btn.btn-default(type="button",data-ng-click="open($event)")
										i.glyphicon.glyphicon-calendar
				.form-group
					label.col-xs-2.control-label(for='localityType', translate='') simplePliCTerm.name.localityType
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='lt in lenguajes.localityType')
								input(type='checkbox', data-ng-model='lt.checked', data-ng-click='updateSelectionLocalityType(lt, lenguajes.localityType)')
								| {{lt.name}}
								spant(data-ng-show='lt.help')
									a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{lt.help}}')
										span.glyphicon.glyphicon-info-sign
				//.form-group
					label.col-xs-2.control-label(for='locationValue', translate='') simplePliCTerm.name.locationValue
					.col-xs-10
						.panel(data-ng-controller='CheckBoxCrtl')
							div(data-ng-repeat='ls in lenguajes.locationStandard')
								input(type='checkbox', data-ng-model='ls.checked', data-ng-click='updateSelectionLocationValue(ls, lenguajes.locationStandard)')
								| {{ls.name}}
				
				.form-group
					label.col-xs-2.control-label(for='WhatImpact', translate='') simplePliCTerm.name.WhatImpact
					.col-xs-10
						textarea(rows='3', name='whatImpact', data-ng-model='invasivenessAtomizedType.whatImpact')
				.form-group
					label.col-xs-2.control-label(for='vector', translate='') simplePliCTerm.name.vector
					.col-xs-10
						textarea(rows='3', name='whatImpact', data-ng-model='invasivenessAtomizedType.vector')
				.form-group
					label.col-xs-2.control-label(for='route', translate='') simplePliCTerm.name.route
					.col-xs-10
						textarea(rows='3', name='route', data-ng-model='invasivenessAtomizedType.route')
				.form-group
					label.col-xs-2.control-label(for='target', translate='') simplePliCTerm.name.target
					.col-xs-10
						textarea(rows='3', name='route', data-ng-model='invasivenessAtomizedType.target')
				.form-group
					label.col-xs-2.control-label(for='Mechanism', translate='') simplePliCTerm.name.Mechanism
					.col-xs-10
						textarea(rows='3', name='mechanism', data-ng-model='invasivenessAtomizedType.mechanism')
				.form-group
					div.table-responsive(data-ng-show='(invasivenessAtomizedType.ancillaryData).length')
						table.table.table-striped
							thead
								tr
									//th.col-xs-1 {{"simplePliCTerm.name.source"|translate}}
									//th.col-xs-1 {{"simplePliCTerm.name.bibliographicCitation"|translate}}
									th.col-xs-3 {{"simplePliCTerm.name.license"|translate}}
									//th.col-xs-1 {{"simplePliCTerm.name.rights"|translate}}
									th.col-xs-6 {{"simplePliCTerm.name.References"|translate}}
									th.col-xs-1
							
							tbody
								tr(data-ng-repeat="ancillary in invasivenessAtomizedType.ancillaryData track by $index")
									td
										| {{ancillary.source}}
									//td
										| {{ancillary.bibliographicCitation}}
									//td
										| {{ancillary.license}}	
									//td
										| {{ancillary.rights}}

									td
										.selected-item(data-ng-repeat='ref in ancillary.reference track by $index')
											div(data-ng-show='ref')
												textarea(disabled)
														| {{ref|references_format}}	
									td
										button.btn(data-ng-click='removeAncillaryData(invasivenessAtomizedType.ancillaryData,ancillary)')
											span(class="glyphicon glyphicon-trash", aria-hidden='true')
										button.btn(data-ng-click='editAncillaryDataAto(invasivenessAtomizedType.ancillaryData,ancillary,$index)')
											span(class="glyphicon glyphicon-pencil", aria-hidden='true')
					div(data-ng-controller='CollapseDemoCtrl')
						.form-group
							button.btn.btn-primary.btn-xs.pull-right(type='button', data-ng-click='isCollapsed = !isCollapsed') Referencias y licencias
							div.divider
							.col-xs-9.col-xs-offset-1
								div(uib-collapse='isCollapsed', id='ancillaryInvasivenessAto')
									//input(type='text', data-ng-model='ancillaryDataAto.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')
									//button.btn-xs(data-ng-click='findAncillaryAto(ancillaryDataAto.source)')
										span.glyphicon.glyphicon-search
									.form-group
										label.control-label(for='reference', translate='') simplePliCTerm.name.References
										a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.References"|translate}}')
											span.glyphicon.glyphicon-info-sign
										span(data-ng-controller="ModalCtrl")
											script(type = "text/ng-template" id="referenceSearch")
												include includes/referenceSearch
											button.btn.btn-success.btn-xs(data-ng-click="open(formData.references,ancillaryDataAto.reference)")
												span.glyphicon.glyphicon-search
										button.btn.btn-success.btn-xs(href="", data-ng-click="slide_ato()")
											span(ng-class="{'glyphicon glyphicon-plus': !checked_ato , 'glyphicon glyphicon-minus' : checked_ato}", aria-hidden='true')
										hr
										div.table-responsive(data-ng-show='(ancillaryDataAto.reference).length')
											table.table.table-striped
												tbody
													tr(data-ng-repeat="ref in ancillaryDataAto.reference track by $index")
														td.col-xs-9
															textarea(disabled)
																| {{ref|references_format}}
														td.col-xs-1
															button.btn(data-ng-click='removeReference(ancillaryDataAto.reference,ref)')
																span(class="glyphicon glyphicon-trash", aria-hidden='true')
															button.btn(data-ng-click='editReference(ancillaryDataAto.reference,ref,$index)')
																span(class="glyphicon glyphicon-pencil", aria-hidden='true')
										div(pageslide ps-open="checked_ato" ps-key-listener="true")
											div(style="padding:30px" id="demo-right")
												h3 Agregar nueva referencia
												.form-group
													select(data-ng-model='referenceAto.type', ng-options='type.original as type.view for type in lenguajes.reference_type ')
														option(value='') - {{"simplePliCTerm.name.type"|translate}} 
													input(type='text', data-ng-model='referenceAto.source', placeholder='{{"simplePliCTerm.name.Source"|translate}}')
													input(type='text', data-ng-model='referenceAto.title', placeholder='{{"simplePliCTerm.name.title"|translate}}')
													input(type='text', data-ng-model='referenceAto.authors', placeholder='{{"simplePliCTerm.name.authors"|translate}}')
													input(type='text', data-ng-model='referenceAto.year', placeholder='{{"simplePliCTerm.name.year"|translate}}')
													input(type='text', data-ng-model='referenceAto.volume', placeholder='{{"simplePliCTerm.name.volume"|translate}}')
													input(type='text', data-ng-model='referenceAto.issue', placeholder='{{"simplePliCTerm.name.issue"|translate}}')
													input(type='text', data-ng-model='referenceAto.pages', placeholder='{{"simplePliCTerm.name.pages"|translate}}')
													input(type='text', data-ng-model='referenceAto.series', placeholder='{{"simplePliCTerm.name.series"|translate}}')
													input(type='text', data-ng-model='referenceAto.chapter', placeholder='{{"simplePliCTerm.name.chapter"|translate}}')
													input(type='text', data-ng-model='referenceAto.link', placeholder='{{"simplePliCTerm.name.websites"|translate}}')
													input(type='text', data-ng-model='referenceAto.accessed', placeholder='{{"simplePliCTerm.name.accessed"|translate}}')
													input(type='text', data-ng-model='referenceAto.publisher', placeholder='{{"simplePliCTerm.name.publisher"|translate}}')
													input(type='text', data-ng-model='referenceAto.address', placeholder='{{"simplePliCTerm.name.city"|translate}}')
													input(type='text', data-ng-model='referenceAto.edition', placeholder='{{"simplePliCTerm.name.edition"|translate}}')
													input(type='text', data-ng-model='referenceAto.institution', placeholder='{{"simplePliCTerm.name.institution"|translate}}')
													input(type='text', data-ng-model='referenceAto.editors', placeholder='{{"simplePliCTerm.name.editors"|translate}}')
													input(type='text', data-ng-model='referenceAto.keywords', placeholder='{{"simplePliCTerm.name.keywords"|translate}}')
													input(type='text', data-ng-model='referenceAto.doi', placeholder='{{"simplePliCTerm.name.doi"|translate}}')
													input(type='text', data-ng-model='referenceAto.isbn', placeholder='{{"simplePliCTerm.name.isbn"|translate}}')
													input(type='text', data-ng-model='referenceAto.issn', placeholder='{{"simplePliCTerm.name.issn"|translate}}')
													//input(type='text', data-ng-model='referenceAto.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')
													div.pull-right
														button.btn.btn-primary.btn-xs(type='button', data-ng-click='addReferenceAto(ancillaryDataAto.reference,referenceAto)', translate='') Guardar
														button.btn.btn-primary.btn-xs(type='button', data-ng-click='cancelReferenceAto()', translate='') Cancelar
									.form-group
										label.control-label(for='license', translate='') simplePliCTerm.name.license
										panel(data-ng-controller='CheckBoxCrtl')
											div(data-ng-repeat="lic in lincese_list | filter:{nombre : '!Otra'}")
												input(type='checkbox', data-ng-model='lic.checked', data-ng-click='updateSelectionLicence(lic, lincese_list, "ManualLicenseFullDescription")')
												a(data-ng-href='{{lic.url}}',target="_blank")
													img(id="image", data-ng-src="{{lic.image_url || '//:0' }}", hspace=10, vspace =7)
													| {{lic.nombre}}
												spant(data-ng-show='lic.definicion')
												a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{lic.definicion}}')
													span.glyphicon.glyphicon-info-sign
											p(id='ManualLicenseFullDescription')
											p(style="font-size:90%;")
												i * Para uso de otras licencias que no estén en este listado por favor escribenos a: sib+ac@humboldt.org.co
										label.control-label(for='rights', translate='') simplePliCTerm.name.rights
										select(data-ng-model='ancillaryDataAto.rightsHolder', ng-options="prov.proveedorDeContenido as prov.proveedorDeContenido for prov in prov_contenido_ato | unique:'proveedorDeContenido'")
											option(value='') - Seleccione -
										input(type='text', data-ng-model='ancillaryDataAto.rights')
										//label.control-label(for='bibliographicCitation', translate='') simplePliCTerm.name.bibliographicCitation	
										//input(type='text', data-ng-model='ancillaryDataAto.bibliographicCitation')
									button.btn.btn-primary.btn-sm(type='button', data-ng-click='addAncillaryDataAto(invasivenessAtomizedType.ancillaryData,ancillaryDataAto)', translate='') Guardar
									button.btn.btn-primary.btn-sm(type='button', data-ng-click='cancelAncillaryDataAto()') Cancelar
				.form-group
					div.pull-right
						button.btn.btn-success.btn-sm(type='button', data-ng-click='addInvasivenessAtomizedType(formData.invasiveness.invasivenessAtomized, invasivenessAtomizedType)') Guardar
						button.btn.btn-success.btn-sm(type='button', data-ng-click='cancelInvasivenessAtomizedType(invasivenessAtomizedType)') Cancelar
				div.divider
				.form-group
					div.table-responsive(data-ng-show='(formData.invasiveness.invasivenessAtomized).length')
						table.table.table-striped
							tbody
								tr(data-ng-repeat="invasivenessAtomizedType in formData.invasiveness.invasivenessAtomized track by $index")
									td
										.parrafo-pegado
											div(data-ng-show='invasivenessAtomizedType.origin')
												p(translate='', class='text_type_bold') simplePliCTerm.name.origin
												| : {{invasivenessAtomizedType.origin}}
											div(data-ng-show='invasivenessAtomizedType.presence')
												p(translate='', class='text_type_bold') simplePliCTerm.name.presence
												| : {{invasivenessAtomizedType.presence}}
											div(data-ng-show='invasivenessAtomizedType.persistence')
												p(translate='', class='text_type_bold') simplePliCTerm.name.persistence
												| : {{invasivenessAtomizedType.persistence}}
											.selected-item(data-ng-repeat='distribution in invasivenessAtomizedType.distribution')
												div(data-ng-show='distribution')
													p(translate='', class='text_type_bold') simplePliCTerm.name.distribution
													| : {{distribution}}
											div(data-ng-show='invasivenessAtomizedType.harmful')
												p(translate='', class='text_type_bold') simplePliCTerm.name.harmful
												| : {{invasivenessAtomizedType.harmful}}
											div(data-ng-show='invasivenessAtomizedType.modified')
												span.datepicker-date
													p(translate='', class='text_type_bold') simplePliCTerm.name.modified
													| : {{invasivenessAtomizedType.modified| date:'yyyy/MM/dd'}}
											div(data-ng-show='invasivenessAtomizedType.startValidateDate')
												span.datepicker-date
													p(translate='', class='text_type_bold') simplePliCTerm.name.startValidateDate
													| : {{invasivenessAtomizedType.startValidateDate| date:'yyyy/MM/dd'}}	
											div(data-ng-show='invasivenessAtomizedType.endValidateDate')
												span.datepicker-date
													p(translate='', class='text_type_bold') simplePliCTerm.name.endValidateDate
													| : {{invasivenessAtomizedType.endValidateDate| date:'yyyy/MM/dd'}}
											div(data-ng-show='invasivenessAtomizedType.countryCode')
												p(translate='', class='text_type_bold') simplePliCTerm.name.countryCode
												| : {{invasivenessAtomizedType.countryCode}}
											div(data-ng-show='invasivenessAtomizedType.stateProvince')
												p(translate='', class='text_type_bold') simplePliCTerm.name.stateProvince
												| : {{invasivenessAtomizedType.stateProvince}}
											div(data-ng-show='invasivenessAtomizedType.county')
												p(translate='', class='text_type_bold') simplePliCTerm.name.county
												| : {{invasivenessAtomizedType.county}}	
											div(data-ng-show='invasivenessAtomizedType.localityName')
												p(translate='', class='text_type_bold') simplePliCTerm.name.localityName
												| : {{invasivenessAtomizedType.localityName}}	
											div(data-ng-show='invasivenessAtomizedType.language')
												p(translate='', class='text_type_bold') simplePliCTerm.name.language
												| : {{invasivenessAtomizedType.language}}
											div(data-ng-show='invasivenessAtomizedType.citation')
												p(translate='', class='text_type_bold') simplePliCTerm.name.citation
												| : {{invasivenessAtomizedType.citation}}
											div(data-ng-show='invasivenessAtomizedType.abundance')
												p(translate='', class='text_type_bold') simplePliCTerm.name.abundance
												| : {{invasivenessAtomizedType.abundance}}	
											div(data-ng-show='invasivenessAtomizedType.trend')
												p(translate='', class='text_type_bold') simplePliCTerm.name.trend
												| : {{invasivenessAtomizedType.trend}}
											div(data-ng-show='invasivenessAtomizedType.rateOfSpread')
												p(translate='', class='text_type_bold') simplePliCTerm.name.rateOfSpread
												| : {{invasivenessAtomizedType.rateOfSpread}}
											div(data-ng-show='invasivenessAtomizedType.regulatoryListing')
												p(translate='', class='text_type_bold') simplePliCTerm.name.regulatoryListing
												| : {{invasivenessAtomizedType.regulatoryListing}}
											div(data-ng-show='invasivenessAtomizedType.memo')
												p(translate='', class='text_type_bold') simplePliCTerm.name.memo
												| : {{invasivenessAtomizedType.memo}}	
											div(data-ng-show='invasivenessAtomizedType.publicationDate')
												span.datepicker-date
													p(translate='', class='text_type_bold') simplePliCTerm.name.publicationDate
													| : {{invasivenessAtomizedType.publicationDate| date:'yyyy/MM/dd'}}
											div(data-ng-show='invasivenessAtomizedType.localityType')
												p(translate='', class='text_type_bold') simplePliCTerm.name.localityType
												| : {{invasivenessAtomizedType.localityType}}
											div(data-ng-show='invasivenessAtomizedType.locationValue')
												p(translate='', class='text_type_bold') simplePliCTerm.name.locationValue
												| : {{invasivenessAtomizedType.locationValue}}
											div(data-ng-show='invasivenessAtomizedType.publicationDatePrecision')
												p(translate='', class='text_type_bold') simplePliCTerm.name.publicationDatePrecision
												| : {{invasivenessAtomizedType.publicationDatePrecision}}	
											div(data-ng-show='invasivenessAtomizedType.whatImpact')
												p(translate='', class='text_type_bold') simplePliCTerm.name.WhatImpact
												| : {{invasivenessAtomizedType.whatImpact}}	
											div(data-ng-show='invasivenessAtomizedType.vector')
												p(translate='', class='text_type_bold') simplePliCTerm.name.vector
												| : {{invasivenessAtomizedType.vector}}
											div(data-ng-show='invasivenessAtomizedType.route')
												p(translate='', class='text_type_bold') simplePliCTerm.name.route
												| : {{invasivenessAtomizedType.route}}
											div(data-ng-show='invasivenessAtomizedType.target')
												p(translate='', class='text_type_bold') simplePliCTerm.name.target
												| : {{invasivenessAtomizedType.target}}	
											div(data-ng-show='invasivenessAtomizedType.mechanism')
												p(translate='', class='text_type_bold') simplePliCTerm.name.Mechanism
												| : {{invasivenessAtomizedType.mechanism}}		
									td
										button.btn(data-ng-click='removeInvasivenessAtomized(formData.invasiveness.invasivenessAtomized,invasivenessAtomizedType)')
											span(class="glyphicon glyphicon-trash", aria-hidden='true')
										button.btn(data-ng-click='editInvasivenessAtomized(formData.invasiveness.invasivenessAtomized,invasivenessAtomizedType,$index)')
											span(class="glyphicon glyphicon-pencil", aria-hidden='true')
				.form-group
					hr
					label(for='invasivenessUnstructured', translate='') Descripción
					em (opcional)
					textarea(rows='3', name='invasiveness', data-ng-model='formData.invasiveness.invasivenessUnstructured')
					div.table-responsive(data-ng-show='(formData.invasiveness.ancillaryData).length')
						table.table.table-striped
							thead
								tr
									//th.col-xs-1 {{"simplePliCTerm.name.source"|translate}}
									//th.col-xs-1  {{"simplePliCTerm.name.bibliographicCitation"|translate}}
									th.col-xs-3  {{"simplePliCTerm.name.license"|translate}}
									//th.col-xs-1  {{"simplePliCTerm.name.rights"|translate}}
									th.col-xs-6 {{"simplePliCTerm.name.References"|translate}}
									th.col-xs-1
							
							tbody
								tr(data-ng-repeat="ancillary in formData.invasiveness.ancillaryData track by $index")
									//td
										| {{ancillary.source}}
									//td
										| {{ancillary.bibliographicCitation}}
									td
										| {{ancillary.license}}	
									//td
										| {{ancillary.rights}}

									td
										.selected-item(data-ng-repeat='ref in ancillary.reference track by $index')
											div(data-ng-show='ref')
												textarea(disabled)
														| {{ref|references_format}}	
									td
										button.btn(data-ng-click='removeAncillaryData(formData.invasiveness.ancillaryData,ancillary)')
											span(class="glyphicon glyphicon-trash", aria-hidden='true')
										button.btn(data-ng-click='editAncillaryData(formData.invasiveness.ancillaryData,ancillary,$index)')
											span(class="glyphicon glyphicon-pencil", aria-hidden='true')
					div(data-ng-controller='CollapseDemoCtrl')
						.form-group
							button.btn.btn-primary.btn-xs.pull-right(type='button', data-ng-click='isCollapsed = !isCollapsed') Referencias y licencias
							div.divider
							.col-xs-9.col-xs-offset-1
								div(uib-collapse='isCollapsed', id='ancillaryInvasiveness')
									//input(type='text', data-ng-model='ancillaryData.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')
									//button.btn-xs(data-ng-click='findAncillary(ancillaryData.source)')
										span.glyphicon.glyphicon-search
									.form-group
										label.control-label(for='reference', translate='') simplePliCTerm.name.References
										a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.References"|translate}}')
											span.glyphicon.glyphicon-info-sign
										span(data-ng-controller="ModalCtrl")
											script(type = "text/ng-template" id="referenceSearch")
												include includes/referenceSearch
											button.btn.btn-success.btn-xs(data-ng-click="open(formData.references,ancillaryData.reference)")
												span.glyphicon.glyphicon-search
										button.btn.btn-success.btn-xs(href="", data-ng-click="slide()")
											span(ng-class="{'glyphicon glyphicon-plus': !checked , 'glyphicon glyphicon-minus' : checked}", aria-hidden='true')
										hr
										div.table-responsive(data-ng-show='(ancillaryData.reference).length')
											table.table.table-striped
												tbody
													tr(data-ng-repeat="ref in ancillaryData.reference track by $index")
														td.col-xs-9
															textarea(disabled)
																| {{ref|references_format}}
														td.col-xs-1
															button.btn(data-ng-click='removeReference(ancillaryData.reference,ref)')
																span(class="glyphicon glyphicon-trash", aria-hidden='true')
															button.btn(data-ng-click='editReference(ancillaryData.reference,ref,$index)')
																span(class="glyphicon glyphicon-pencil", aria-hidden='true')
										div(pageslide ps-open="checked" ps-key-listener="true")
											div(style="padding:30px" id="demo-right")
												h3 Agregar nueva referencia
												.form-group
													select(data-ng-model='reference.type', ng-options='type.original as type.view for type in lenguajes.reference_type ')
														option(value='') - {{"simplePliCTerm.name.type"|translate}} 
													input(type='text', data-ng-model='reference.source', placeholder='{{"simplePliCTerm.name.Source"|translate}}')
													input(type='text', data-ng-model='reference.title', placeholder='{{"simplePliCTerm.name.title"|translate}}')
													input(type='text', data-ng-model='reference.authors', placeholder='{{"simplePliCTerm.name.authors"|translate}}')
													input(type='text', data-ng-model='reference.year', placeholder='{{"simplePliCTerm.name.year"|translate}}')
													input(type='text', data-ng-model='reference.volume', placeholder='{{"simplePliCTerm.name.volume"|translate}}')
													input(type='text', data-ng-model='reference.issue', placeholder='{{"simplePliCTerm.name.issue"|translate}}')
													input(type='text', data-ng-model='reference.pages', placeholder='{{"simplePliCTerm.name.pages"|translate}}')
													input(type='text', data-ng-model='reference.series', placeholder='{{"simplePliCTerm.name.series"|translate}}')
													input(type='text', data-ng-model='reference.chapter', placeholder='{{"simplePliCTerm.name.chapter"|translate}}')
													input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.websites"|translate}}')
													input(type='text', data-ng-model='reference.accessed', placeholder='{{"simplePliCTerm.name.accessed"|translate}}')
													input(type='text', data-ng-model='reference.publisher', placeholder='{{"simplePliCTerm.name.publisher"|translate}}')
													input(type='text', data-ng-model='reference.address', placeholder='{{"simplePliCTerm.name.city"|translate}}')
													input(type='text', data-ng-model='reference.edition', placeholder='{{"simplePliCTerm.name.edition"|translate}}')
													input(type='text', data-ng-model='reference.institution', placeholder='{{"simplePliCTerm.name.institution"|translate}}')
													input(type='text', data-ng-model='reference.editors', placeholder='{{"simplePliCTerm.name.editors"|translate}}')
													input(type='text', data-ng-model='reference.keywords', placeholder='{{"simplePliCTerm.name.keywords"|translate}}')
													input(type='text', data-ng-model='reference.doi', placeholder='{{"simplePliCTerm.name.doi"|translate}}')
													input(type='text', data-ng-model='reference.isbn', placeholder='{{"simplePliCTerm.name.isbn"|translate}}')
													input(type='text', data-ng-model='reference.issn', placeholder='{{"simplePliCTerm.name.issn"|translate}}')
													//input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')
													div.pull-right
														button.btn.btn-primary.btn-xs(type='button', data-ng-click='addReference(ancillaryData.reference,reference)', translate='') Guardar
														button.btn.btn-primary.btn-xs(type='button', data-ng-click='cancelReference()', translate='') Cancelar
									.form-group
										label.control-label(for='license', translate='') simplePliCTerm.name.license
										panel(data-ng-controller='CheckBoxCrtl')
											div(data-ng-repeat="lic in lincese_list | filter:{nombre : '!Otra'}")
												input(type='checkbox', data-ng-model='lic.checked', data-ng-click='updateSelectionLicence(lic, lincese_list, "ManualLicenseFullDescription")')
												a(data-ng-href='{{lic.url}}',target="_blank")
													img(id="image", data-ng-src="{{lic.image_url || '//:0' }}", hspace=10, vspace =7)
													| {{lic.nombre}}
												spant(data-ng-show='lic.definicion')
												a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{lic.definicion}}')
													span.glyphicon.glyphicon-info-sign
											p(id='ManualLicenseFullDescription')
											p(style="font-size:90%;")
												i * Para uso de otras licencias que no estén en este listado por favor escribenos a: sib+ac@humboldt.org.co
										label.control-label(for='rights', translate='') simplePliCTerm.name.rights
										select(data-ng-model='ancillaryData.rights', ng-options="prov.proveedorDeContenido as prov.proveedorDeContenido for prov in prov_contenido | unique:'proveedorDeContenido'")
											option(value='') - Seleccione -
										//label.control-label(for='bibliographicCitation', translate='') simplePliCTerm.name.bibliographicCitation	
										//input(type='text', data-ng-model='ancillaryData.bibliographicCitation')
									button.btn.btn-primary.btn-sm(type='button', data-ng-click='addAncillaryData(formData.invasiveness.ancillaryData,ancillaryData)', translate='') Guardar
									button.btn.btn-primary.btn-sm(type='button', data-ng-click='cancelAncillaryData()') Cancelar


	.col-xs-6.col-xs-offset-3
		ul.pager
			li
				a.btn.btn-block(ui-sref='form.historyC')
					span.glyphicon.glyphicon-circle-arrow-left
					|	Sección Anterior
			li
				a.btn.btn-block(ui-sref='form.habitat')
					| Siguiente Sección 
					span.glyphicon.glyphicon-circle-arrow-right