div(data-ng-controller='ReferenceCrtl')
	.form-group
		.panel.panel-default
			.panel-heading
				spant
					| {{"simplePliCTerm.name.References"|translate}}
					spant
				//button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addReferences()') 
					span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
			.panel-body
				div.table-responsive(data-ng-show='(formData.references).length')
					table.table.table-striped						
						tbody
							tr(data-ng-repeat="ref in formData.references track by $index")
								td.col-xs-9
									textarea(disabled)
										| {{ref|references_format}}
								td.col-xs-1
									button.btn(data-ng-click='removeReference(formData.references,ref)')
										span(class="glyphicon glyphicon-trash", aria-hidden='true')
									button.btn(data-ng-click='editReference(formData.references,ref)')
										span(class="glyphicon glyphicon-pencil", aria-hidden='true')
				.form-group
					div(data-ng-controller="UploadFile")
						h4 Cargar referencias desde un archivo .bib
						input(type="file" on-read-file="showContent($fileContent)")
					div
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.type
							.col-xs-10
								select(data-ng-model='reference.type', ng-options='type.original as type.view for type in lenguajes.reference_type ')
									option(value='') - Seleccione -
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.Source
							.col-xs-10
								input(type='text', data-ng-model='reference.source')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.title
							.col-xs-10
								input(type='text', data-ng-model='reference.title')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.authors
							.col-xs-10
								input(type='text', data-ng-model='reference.authors')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.year
							.col-xs-10
								input(type='text', data-ng-model='reference.year')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.volume
							.col-xs-10
								input(type='text', data-ng-model='reference.volume')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.issue
							.col-xs-10
								input(type='text', data-ng-model='reference.issue')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.pages
							.col-xs-10
								input(type='text', data-ng-model='reference.pages')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.series
							.col-xs-10
								input(type='text', data-ng-model='reference.series')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.chapter
							.col-xs-10
								input(type='text', data-ng-model='reference.chapter')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.websites
							.col-xs-10
								input(type='text', data-ng-model='reference.websites')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.accessed
							.col-xs-10
								input(type='text', data-ng-model='reference.accessed')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.publisher
							.col-xs-10
								input(type='text', data-ng-model='reference.publisher')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.city
							.col-xs-10
								input(type='text', data-ng-model='reference.address')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.edition
							.col-xs-10
								input(type='text', data-ng-model='reference.edition')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.institution
							.col-xs-10
								input(type='text', data-ng-model='reference.institution')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.editors
							.col-xs-10
								input(type='text', data-ng-model='reference.editors')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.keywords
							.col-xs-10
								input(type='text', data-ng-model='reference.keywords')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.doi
							.col-xs-10
								input(type='text', data-ng-model='reference.doi')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.isbn
							.col-xs-10
								input(type='text', data-ng-model='reference.isbn')
						.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.issn
							.col-xs-10
								input(type='text', data-ng-model='reference.issn')
						//.form-group
							label.col-xs-2.control-label(for='type', translate='') simplePliCTerm.name.link
							.col-xs-10
								input(type='text', data-ng-model='reference.link')
						button.btn.btn-primary.btn-xs.pull-right(type='button', data-ng-click='addReference(formData.references,reference)', translate='') Guardar Referencia
						button.btn.btn-primary.btn-xs.pull-right(type='button', data-ng-click='cancelReference()', translate='') Cancelar 

.col-xs-6.col-xs-offset-3
	ul.pager
		li
			a.btn.btn-block(ui-sref='form.associatedParty')
				span.glyphicon.glyphicon-circle-arrow-left
				|	Sección Anterior
		li
			a.btn.btn-block(ui-sref='form.ancillary')
				| Siguiente Sección 
				span.glyphicon.glyphicon-circle-arrow-right