div(data-ng-controller='ReferenceCrtl')
	.form-group
		.panel.panel-default
			.panel-heading
				spant
					| {{"simplePliCTerm.name.References"|translate}}
					spant
				//button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addReferences()') 
					span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
				button.btn.btn-success.btn-xs.pull-right(href="", data-ng-click="slide()")
					span(ng-class="{'glyphicon glyphicon-plus': !checked , 'glyphicon glyphicon-minus' : checked}", aria-hidden='true')
			.panel-body
				div(pageslide ps-open="checked" ps-key-listener="true")
					div(style="padding:30px" id="demo-right")
						h3 Agregar nueva referencia			
						.form-group
							div(data-ng-controller="UploadFile")
								h4 Cargar referencias desde un archivo .bib
								input(type="file" on-read-file="showContent($fileContent)")
							div
								.form-group
									select(data-ng-model='reference.type', ng-options='type.original as type.view for type in lenguajes.reference_type ')
										option(value='') - {{"simplePliCTerm.name.type"|translate}} 
									input(type='text', data-ng-model='reference.source', placeholder='{{"simplePliCTerm.name.Source"|translate}}')
									input(type='text', data-ng-model='reference.title', placeholder='{{"simplePliCTerm.name.title"|translate}}')
									input(type='text', data-ng-model='reference.authors', placeholder='{{"simplePliCTerm.name.authors"|translate}}')
									input(type='text', data-ng-model='reference.year', placeholder='{{"simplePliCTerm.name.year"|translate}}')
									input(type='text', data-ng-model='reference.volume', placeholder='{{"simplePliCTerm.name.volume"|translate}}')
									input(type='text', data-ng-model='reference.issue', placeholder='{{"simplePliCTerm.name.issue"|translate}}')
									input(type='text', data-ng-model='reference.pages', placeholder='{{"simplePliCTerm.name.pages"|translate}}')
									input(type='text', data-ng-model='reference.series', placeholder='{{"simplePliCTerm.name.series"|translate}}')
									input(type='text', data-ng-model='reference.chapter', placeholder='{{"simplePliCTerm.name.chapter"|translate}}')
									input(type='text', data-ng-model='reference.accessed', placeholder='{{"simplePliCTerm.name.accessed"|translate}}')
									input(type='text', data-ng-model='reference.publisher', placeholder='{{"simplePliCTerm.name.publisher"|translate}}')
									input(type='text', data-ng-model='reference.address', placeholder='{{"simplePliCTerm.name.city"|translate}}')
									input(type='text', data-ng-model='reference.edition', placeholder='{{"simplePliCTerm.name.edition"|translate}}')
									input(type='text', data-ng-model='reference.institution', placeholder='{{"simplePliCTerm.name.institution"|translate}}')
									input(type='text', data-ng-model='reference.editors', placeholder='{{"simplePliCTerm.name.editors"|translate}}')
									input(type='text', data-ng-model='reference.keywords', placeholder='{{"simplePliCTerm.name.keywords"|translate}}')
									input(type='text', data-ng-model='reference.doi', placeholder='{{"simplePliCTerm.name.doi"|translate}}')
									input(type='text', data-ng-model='reference.isbn', placeholder='{{"simplePliCTerm.name.isbn"|translate}}')
									input(type='text', data-ng-model='reference.issn', placeholder='{{"simplePliCTerm.name.issn"|translate}}')
									input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.websites"|translate}}')
									div.pull-right
										button.btn.btn-primary.btn-xs(type='button', data-ng-click='addReference(formData.references,reference)', translate='') Guardar
										button.btn.btn-primary.btn-xs(type='button', data-ng-click='cancelReference()', translate='') Cancelar 

				div.divider

				div.table-responsive(data-ng-show='(formData.references).length')
					table.table.table-striped
						tbody
							tr(data-ng-repeat="ref in formData.references track by $index")
								td.col-xs-11
									textarea(disabled)
										| {{ref|references_format}}
								td.col-xs-1
									button.btn(data-ng-click='removeReference(formData.references,ref)')
										span(class="glyphicon glyphicon-trash", aria-hidden='true')
									button.btn(data-ng-click='editReference(formData.references,ref)')
										span(class="glyphicon glyphicon-pencil", aria-hidden='true')

.col-xs-6.col-xs-offset-3
	ul.pager
		li
			a.btn.btn-block(ui-sref='form.associatedParty')
				span.glyphicon.glyphicon-circle-arrow-left
				|	Sección Anterior
		li
			a.btn.btn-block(ui-sref='form.ancillary')
				| Siguiente Sección 
				span.glyphicon.glyphicon-circle-arrow-right
		li
			button.btn.btn-success.btn-sm(type='button', data-ng-click="saveFile()") 
				|  Guardar Ficha 
				span.glyphicon.glyphicon-floppy-disk
