.form-group
	div(ng-include="'./includes/briefDescription.html'")
	div(ng-include="'./includes/fullDescription.html'")
	div(ng-include="'./includes/identificationKeys.html'")
.col-xs-6.col-xs-offset-3
	ul.pager
		li
			a.btn.btn-block.btn-info(ui-sref='form.nomeAndClass')
				span.glyphicon.glyphicon-circle-arrow-left
				|	Sección Anterior
		li
			a.btn.btn-block.btn-info(ui-sref='form.history')
				| Siguiente Sección 
				span.glyphicon.glyphicon-circle-arrow-right