.form-group
	div(ng-include="'./form/includes/uses.html'")
	div(ng-include="'./form/includes/managementAndConservation.html'")
.col-xs-6.col-xs-offset-3
	ul.pager
		li
			a.btn.btn-block(ui-sref='form.demogra')
				span.glyphicon.glyphicon-circle-arrow-left
				|	Sección Anterior
		li
			a.btn.btn-block(ui-sref='form.associatedParty')
				| Siguiente Sección   
				span.glyphicon.glyphicon-circle-arrow-right
		li
			button.btn.btn-success.btn-sm(type='button', data-ng-click="saveFile()") 
				|  Guardar Ficha 
				span.glyphicon.glyphicon-floppy-disk
