.form-group
	div(ng-include="'./form/includes/uses.html'")
	div(ng-include="'./form/includes/managementAndConservation.html'")
.col-xs-6.col-xs-offset-3
	ul.pager
		li
			a.btn.btn-block.btn-info(ui-sref='form.demogra')
				span.glyphicon.glyphicon-circle-arrow-left
				|	Sección Anterior
		li
			a.btn.btn-block.btn-info(ui-sref='form.associatedParty')
				| Siguiente Sección
				span.glyphicon.glyphicon-circle-arrow-right
