extends ../../layouts/layout_min

block content
	div.contenedor
		div.jumbotron
			h1(style="color:rgb(255, 255, 255);") EDITOR DE FICHAS
			div.text-center
				a(href="/login")
					button.btn.btn-success.btn-lg(type="button")
						| Entrar 
						span.glyphicon.glyphicon-log-in