.row
	#form-container
		.page-header.text-center
			h1 EDITOR DE FICHAS
		ul.nav.nav-pills.nav-stacked.col-md-2
			li
				a(ui-sref='.nomeAndClass', data-target='#nomeAndClass', data-toggle='pill')
					p(translate='') simplePliCTerm.name.NomenclatureAndClassification
			li
				a(ui-sref='.taxoDesc', data-target='#taxoDesc', data-toggle='pill')
					p(translate='') simplePliCTerm.name.TaxonomicDescription
			li
				a(ui-sref='.history', data-target='#history', data-toggle='pill')
					p(translate='') simplePliCTerm.name.NaturalHistory
			li
				a(ui-sref='.historyC', data-target='#historyC', data-toggle='pill')
					p(translate='') simplePliCTerm.name.NaturalHistory
			li
				a(ui-sref='.invasiveness', data-target='#invasiveness', data-toggle='pill')
					p(translate='') simplePliCTerm.name.Invasiveness
			li
				a(ui-sref='.habitat', data-target='#habitat', data-toggle='pill')
					p(translate='') simplePliCTerm.name.HabitatAndDistribution
			li
				a(ui-sref='.demogra', data-target='#demogra', data-toggle='pill')
					p(translate='') simplePliCTerm.name.DemographyAndThreat
			li
				a(ui-sref='.uses', data-target='#uses', data-toggle='pill')
					p(translate='') simplePliCTerm.name.UsesManagementAndConservation
			li
				a(ui-sref='.associatedParty', data-target='#associatedParty', data-toggle='pill')
					p(translate='') simplePliCTerm.name.associatedParty
			li
				a(ui-sref='.references', data-target='#references', data-toggle='pill')
					p(translate='') simplePliCTerm.name.References
			li
				a(ui-sref='.ancillary', data-target='#ancillary', data-toggle='pill')
					p(translate='') simplePliCTerm.name.AncillaryData
		// use ng-submit to catch the form submission and use our Angular function
		.tab-content.col-md-10
			form#signup-form
				// our nested state views will be injected here
				#form-views.tab-content(ui-view='')
		// show our formData as it is being typed
		pre.
			\n      {{ formData | json}}
