extends ../../layouts/layout_min

block content
	div(data-ng-app="homeApp" data-ng-controller="homeController as home")
		// views will be injected here
		.container
			.row
				#form-container
					.page-header.text-center
						h1 EDITOR DE FICHAS
					a.pull-right(href="/new")
						p Crear una nueva ficha
					table(data-ng-table="tableParams", class="table table-striped table-bordered table-condensed")
						tr(data-ng-repeat="field in $data track by field._id")
							td(data-title="'Id'")
								a(href="/edit?id={{field._id}}")
									| {{field._id}}

							td(data-title="'Taxon'") {{field.taxonRecordName.scientificName.simple}}	
							td(data-title="'Creador'")
								.selected-item(data-ng-repeat='associatedParty in field.associatedParty')
									| {{associatedParty.firstName}}-{{associatedParty.lastName}}				
					
