extends ../../layouts/layout_min

block content
	div(data-ng-app="homeApp" data-ng-controller="homeController as home" data-ng-init="home.init('#{user ? user.firstname : ''}')")
		// views will be injected here
		.container
			.row
				#form-container
					.page-header.text-center
						h1 EDITOR DE FICHAS
					div.row
						div.col-md-3
							a(href="/new")
								button.btn.btn-success(type="button")
									| CREAR UNA NUEVA FICHA	
							if !user
								a(href="/login")
									button.btn.btn-success(type="button")
										| Login
							else
								p #{user.firstname}
								a(href="/logout")
									button.btn.btn-success(type="button")
										| Logout
						div.col-md-9
							form(data-ng-submit="search()")
								div.input-group
									input.form-control(type="search" name="q" x-webkit-speech data-ng-model="searchT" placeholder="Buscar las fichas por creador o nombre del taxon ..." required)
									span.input-group-btn
										button.btn.btn-default(type="submit")
											i.glyphicon.glyphicon-search
						
					div.divider
					div.row
						div.panel.panel-primary.filterable
							div.panel-heading
								h3.panel-title.text-center FICHAS

							table.table(data-ng-table="tableParams")
								thead
									tr.filters
										th.col-xs-3
											| ID
										th.col-xs-3
											| TAXON
										th.col-xs-3
											| CREADOR
										th.col-xs-3
											| FECHA DE CREACIÓN
								tbody
									tr(data-ng-repeat="field in $data track by field._id")
										td.text-center 
											a(href="/edit?id={{field._id}}")
												| {{field._id}}
										td.text-center
											| {{field.taxonRecordName.scientificName.simple}}
										td.text-center
											.selected-item(data-ng-repeat='associatedParty in field.associatedParty')
												| {{associatedParty.firstName}} - {{associatedParty.lastName}}
										td.text-center 
											| {{field.creation_date}}
										
				
					
