extends ../../layouts/final/layout

block content
	div(ng-app="formApp" ng-controller="formController" , ng-init="formData= #{JSON.stringify(json)}")
		// views will be injected here
		.container
			div(ui-view)
			#JSON.stringify(json)