extends ../../layouts/final/layout

block content
	div(data-ng-app="formApp" , data-ng-init="formDataGet = #{JSON.stringify(json)} ; lenguajes = #{JSON.stringify(lenguajes)}")
		// views will be injected here
		.container
			div(ui-view)