<div class="form-group">
	<div class="panel panel-default">
		<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.AncillaryData"|translate}}<spanT>
	  		<button type="button" class="btn btn-default btn-xs pull-right" ng-click="addAncillaryData(formData.ancillaryData)"><span class="glyphicon glyphicon-plus"></span> </button>

	  	</div>
	  	<div class="panel-body">
	  		<div ng-repeat="ancillary in formData.ancillaryData">
				<div class="form-group">
					<div class="form-group">
						<label for="license" class="col-xs-2 control-label" translate>simplePliCTerm.name.license</label>	
						<div class="col-xs-10">
							<input type="text"  ng-model="ancillary.license"/>
						</div>
					</div>

					<div class="form-group">
						<label for="rights" class="col-xs-2 control-label" translate>simplePliCTerm.name.rights</label>	
						<div class="col-xs-10">
							<input type="text"  ng-model="ancillary.rightsHolder"/>
						</div>
					</div>

					<div class="form-group">
						<label for="bibliographicCitation" class="col-xs-2 control-label" translate>simplePliCTerm.name.bibliographicCitation</label>	
						<div class="col-xs-10">
							<input type="text"  ng-model="ancillary.bibliographicCitation"/>
						</div>
					</div>

					<div class="form-group">
						<label for="source" class="col-xs-2 control-label" translate>simplePliCTerm.name.source</label>	
						<div class="col-xs-10">
							<input type="text"  ng-model="ancillary.source"/>
						</div>
					</div>

					<div class="form-group">
						<label for="source" class="col-xs-2 control-label" translate>simplePliCTerm.name.mediaURL</label>	
						<div class="col-xs-10">
							<input type="text"  ng-model="ancillary.mediaURL"/>
							<button  type="button" class="btn btn-primary btn-xs pull-right" ng-show="$last" ng-click="getInfoLicence(ancillary.mediaURL, ancillary)">Get license info</span></button>
						</div>
					</div>

					<div class="form-group">
						<label for="References" class="col-xs-2 control-label" translate>simplePliCTerm.name.References</label>	
						<div class="col-xs-10">
							<div ng-repeat="ref in ancillary.reference">
								<input type="text"  ng-model="ref.identifier" placeholder="Identifier"/>
								<input type="text"  ng-model="ref.datatype" placeholder="Datatype"/>
								<input type="text"  ng-model="ref.source" placeholder="Source"/>
							</div>
							<button type="button" class="btn btn-primary btn-xs" ng-click="addReference(ancillary.reference)" translate>simplePliCTerm.name.References<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
	  	</div>	
	</div>
</div> 