<div class="form-group">

	<div class="panel panel-default">
		<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.associatedParty"|translate}}<spanT> 
	  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.associatedParty"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
	  	</div>
	  	<div class="panel-body">
	  		<div ng-repeat="associatedParty in formData.associatedParty" class="selected-item">
				<div ng-show="associatedParty">
					<div>{{associatedParty.firstName}} {{associatedParty.lastName}} - {{associatedParty.organisation}}</div>
				</div>
			</div>
			<div class="form-group">
				<label for="givenName" class="col-xs-2 control-label" translate>simplePliCTerm.name.givenName</label>	
				<div class="col-xs-10">
					<input type="text"  ng-model="associatedParty.firstName"/>
				</div>
			</div>
			<div class="form-group">
				<label for="surName" class="col-xs-2 control-label" translate>simplePliCTerm.name.surName</label>	
				<div class="col-xs-10">
					<input type="text"  ng-model="associatedParty.lastName"/>
				</div>
			</div>
			<div class="form-group">
				<label for="positionName" class="col-xs-2 control-label" translate>simplePliCTerm.name.positionName</label>	
				<div class="col-xs-10">
					<input type="text"  ng-model="associatedParty.position"/>
				</div>
			</div>
			<div class="form-group">
				<label for="organizationName" class="col-xs-2 control-label" translate>simplePliCTerm.name.organizationName</label>	
				<div class="col-xs-10">
					<input type="text"  ng-model="associatedParty.organisation"/>
				</div>
			</div>
			<div class="form-group">
				<label for="deliverypoint" class="col-xs-2 control-label" translate>simplePliCTerm.name.deliverypoint</label>	
				<div class="col-xs-10">
					<input type="text"  ng-model="associatedParty.address"/>
				</div>
			</div>

			<div class="form-group">
				<label for="country" class="col-xs-2 control-label" translate>simplePliCTerm.name.country</label>	
				<div class="col-xs-10">
					<div ng-controller="UbicacionCtrl" >
						<select ng-model="associatedParty.country" ng-options="attr.countryName as attr.countryName for attr in ubicacion ">
							<option value="">- Seleccione -</option>
						</select>
					</div>	  
				</div>
			</div>

			<div class="form-group">
				<label for="administrativeArea" class="col-xs-2 control-label" translate>simplePliCTerm.name.administrativeArea</label>	
				<div class="col-xs-10">
					<div ng-controller="UbicacionCtrl" >
						<select ng-model="associatedParty.state" ng-disabled="!associatedParty.country" ng-options="item.departmentName as item.departmentName for item in selectedAttr.departments ">
							<option value="">- Seleccione -</option>
						</select>
					</div>	  
				</div>
			</div>

			<div class="form-group">
				<label for="city" class="col-xs-2 control-label" translate>simplePliCTerm.name.city</label>	
				<div class="col-xs-10">
					<div ng-controller="UbicacionCtrl" >
						<select ng-model="associatedParty.city" ng-disabled="!associatedParty.country || !associatedParty.state" ng-options="item.countyName as item.countyName for item in selectedAttr2.counties ">
							<option value="">- Seleccione -</option>
						</select>
					</div>	
				</div>
			</div>

			<div class="form-group">
				<label for="postalCode" class="col-xs-2 control-label" translate>simplePliCTerm.name.postalCode</label>	
				<div class="col-xs-10">
					<input type="text"  ng-model="associatedParty.postalCode"/>
				</div>
			</div>

			<div class="form-group">
				<label for="phone" class="col-xs-2 control-label" translate>simplePliCTerm.name.phone</label>	
				<div class="col-xs-10">
					<input type="text"  ng-model="associatedParty.phone"/>
				</div>
			</div>

			<div class="form-group">
				<label for="electronicMailAddress" class="col-xs-2 control-label" translate>simplePliCTerm.name.electronicMailAddress</label>	
				<div class="col-xs-10">
					<input type="text"  ng-model="associatedParty.email"/>
				</div>
			</div>

			<div class="form-group">
				<label for="onlineUrl" class="col-xs-2 control-label" translate>simplePliCTerm.name.onlineUrl</label>	
				<div class="col-xs-10">
					<input type="text"  ng-model="associatedParty.homepage"/>
				</div>
			</div>

			<div class="form-group">
				<label for="role" class="col-xs-2 control-label" translate>simplePliCTerm.name.role</label>	
				<div class="col-xs-10">
					<input type="text"  ng-model="associatedParty.role"/>
					<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.role"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				</div>
			</div>
			<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addAssociatedParty(associatedParty)">Guardar </button>
		</div>
	</div>
</div>

<div class="col-xs-6 col-xs-offset-3">
	<ul class="pager">
		<li> <a ui-sref="form.uses" class="btn btn-block btn-info"><span class="glyphicon glyphicon-circle-arrow-left"></span> Sección Anterior</a></li>
		<li> <a ui-sref="form.references" class="btn btn-block btn-info"> Siguiente Sección <span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>
	</ul>
</div>

