<div class="form-group">
	<div ng-controller="CollapseDemoCtrl">
	    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Territory</button>
	    <hr>
	    <div collapse="isCollapsed">
	    	<h3>Territory Atomized:</h3>
			<div ng-repeat="measurementOrFact in formData.territory.territoryAtomized.measurementOrFact" class="selected-item">
				<div ng-show="measurementOrFact">
					<div>{{measurementOrFact}}</div>
				</div>
			</div>

			<button class="btn btn-default" ng-click="isCollapsed_1 = !isCollapsed_1"> Add Territory </button>
			<div collapse="isCollapsed_1">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="employee in employees">
						<div class="action-checkbox">
							<input id="{{employee.name}}" type="checkbox" value="{{employee.name}}" ng-checked="formData.territory.territoryAtomized.measurementOrFact.indexOf(employee.name) > -1" ng-click="toggleSelection(formData.territory.territoryAtomized.measurementOrFact,employee.name)" />
							<label for="{{employee.name}}"></label>
							{{employee.name}}
						</div>
					</div>
				</div>
			</div>	
			
			<!--<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.territory.territoryAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in formData.territory.territoryAtomized.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div>-->
			<h3>Territory Unstructured:</h3>
			<input type="text" class="form-control" name="territory" ng-model="formData.territory.territoryUnstructured"/>
			
			<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.territory.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in formData.territory.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div>
			<br>
		</div>
	</div>		
	<br>

	<div ng-controller="CollapseDemoCtrl">
	 	<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Population Biology</button>
	    <hr>
	    <div collapse="isCollapsed">
	    	<h3>Population Biology Atomized:</h3>
			<div ng-repeat="measurementOrFact in formData.populationBiology.populationBiologyAtomized.measurementOrFact" class="selected-item">
				<div ng-show="measurementOrFact">
					<div>{{measurementOrFact}}</div>
				</div>
			</div>

			<button class="btn btn-default" ng-click="isCollapsed_1 = !isCollapsed_1"> Add Population Biology </button>
			<div collapse="isCollapsed_1">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="employee in employees">
						<div class="action-checkbox">
							<input id="{{employee.name}}" type="checkbox" value="{{employee.name}}" ng-checked="formData.populationBiology.populationBiologyAtomized.measurementOrFact.indexOf(employee.name) > -1" ng-click="toggleSelection(formData.populationBiology.populationBiologyAtomized.measurementOrFact,employee.name)" />
							<label for="{{employee.name}}"></label>
							{{employee.name}}
						</div>
					</div>
				</div>
			</div>	
			
			<!--<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.populationBiology.populationBiologyAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in formData.populationBiology.populationBiologyAtomized.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div>-->
			<h3>Population Biology Unstructured:</h3>
			<input type="text" class="form-control" name="populationBiology" ng-model="formData.populationBiology.populationBiologyUnstructured"/>
			
			<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.populationBiology.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in formData.populationBiology.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div>
			<br>
		</div>
	</div>		
	<br>

	<div ng-controller="CollapseDemoCtrl">
	 	<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Threat Status</button>
	    <hr>
	    <div collapse="isCollapsed">
	    	<h3>Threat Status Atomized:</h3>
			<div ng-repeat="measurementOrFact in formData.threatStatus.threatStatusAtomized.measurementOrFact" class="selected-item">
				<div ng-show="measurementOrFact">
					<div>{{measurementOrFact}}</div>
				</div>
			</div>

			<button class="btn btn-default" ng-click="isCollapsed_1 = !isCollapsed_1"> Add Threat Status </button>
			<div collapse="isCollapsed_1">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="employee in employees">
						<div class="action-checkbox">
							<input id="{{employee.name}}" type="checkbox" value="{{employee.name}}" ng-checked="formData.threatStatus.threatStatusAtomized.measurementOrFact.indexOf(employee.name) > -1" ng-click="toggleSelection(formData.threatStatus.threatStatusAtomized.measurementOrFact,employee.name)" />
							<label for="{{employee.name}}"></label>
							{{employee.name}}
						</div>
					</div>
				</div>
			</div>
			
			<!--<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(thre.threatStatusAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in thre.threatStatusAtomized.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div>
			<button  type="button" class="btn btn-info btn-sm" ng-show="$last" ng-click="removeThreatStatus()"><span class="glyphicon glyphicon-minus"></span></button>-->
			<h3>Threat Status Unstructured:</h3>
			<input type="text" class="form-control" name="threatStatus" ng-model="formData.threatStatus.threatStatusUnstructured"/>
			
			<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(thre.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in thre.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div>
			<br>
		</div>
	</div>
	<br>
	
	<div ng-controller="CollapseDemoCtrl">
	 	<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Direct Threats</button>
	    <hr>
	    <div collapse="isCollapsed">
	    	<h3>Direct Threats Atomized:</h3>
	    	<div ng-repeat="measurementOrFact in formData.directThreats.directThreatsAtomized.measurementOrFact" class="selected-item">
				<div ng-show="measurementOrFact">
					<div>{{measurementOrFact}}</div>
				</div>
			</div>

			<button class="btn btn-default" ng-click="isCollapsed_1 = !isCollapsed_1"> Add Direct Threats </button>
			<div collapse="isCollapsed_1">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="employee in employees">
						<div class="action-checkbox">
							<input id="{{employee.name}}" type="checkbox" value="{{employee.name}}" ng-checked="formData.directThreats.directThreatsAtomized.measurementOrFact.indexOf(employee.name) > -1" ng-click="toggleSelection(formData.directThreats.directThreatsAtomized.measurementOrFact,employee.name)" />
							<label for="{{employee.name}}"></label>
							{{employee.name}}
						</div>
					</div>
				</div>
			</div>

			<!--<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.directThreats.directThreatsAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in formData.directThreats.directThreatsAtomized.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
					</div>
				</div>
			</div>-->
			<h3>Direct Threats Unstructured:</h3>
			<input type="text" class="form-control" name="directThreats" ng-model="formData.directThreats.directThreatsUnstructured"/>
			
			<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.directThreats.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in formData.directThreats.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div>
			<br>
			
			
		</div>
	</div>			
	<br>

	<div ng-controller="CollapseDemoCtrl">
	 	<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Legislation</button>
	    <hr>
	    <div collapse="isCollapsed">
			<h3>Legislation Atomized:</h3>
			<div ng-repeat="measurementOrFact in formData.legislation.legislationAtomized.measurementOrFact" class="selected-item">
				<div ng-show="measurementOrFact">
					<div>{{measurementOrFact}}</div>
				</div>
			</div>

			<button class="btn btn-default" ng-click="isCollapsed_1 = !isCollapsed_1"> Add Legislation </button>
			<div collapse="isCollapsed_1">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="employee in employees">
						<div class="action-checkbox">
							<input id="{{employee.name}}" type="checkbox" value="{{employee.name}}" ng-checked="formData.legislation.legislationAtomized.measurementOrFact.indexOf(employee.name) > -1" ng-click="toggleSelection(formData.legislation.legislationAtomized.measurementOrFact,employee.name)" />
							<label for="{{employee.name}}"></label>
							{{employee.name}}
						</div>
					</div>
				</div>
			</div>
			
			<!--<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.legislation.legislationAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in formData.legislation.legislationAtomized.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div>-->
			<h3>Legislation Unstructured:</h3>
			<input type="text" class="form-control" name="legislation" ng-model="formData.legislation.legislationUnstructured"/>
			
			<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.legislation.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in formData.legislation.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div>
			<br>
		</div>
	</div>		
	<br>
</div> 

<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.uses" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>