<div class="form-group">
	<div class="panel panel-default">
    	<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.LifeForm" | translate}}<spanT>
	  	</div>
	  	<div class="panel-body">
	  		<div ng-repeat="lifeFormAtomized in formData.lifeForm.lifeFormAtomized" class="selected-item">
				<div ng-show="lifeFormAtomized">
       				<div>{{lifeFormAtomized.measurementType}}-{{lifeFormAtomized.measurementValue}}</div>
    			</div>
			</div>


			<div ng-controller="MeasurementCtrl" >
				<select ng-model="lifeFormAtomized.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in lifeForms | unique:'measurementtype'">
					<option value="">- Seleccione -</option>
				</select>  

				<select ng-model="lifeFormAtomized.measurementValue" ng-disabled="!lifeFormAtomized.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr">
					<option value="">- Seleccione -</option>
				</select>
				<button class="btn btn-default btn-xs pull-right" ng-click="addMeasurementOrFactVector(formData.lifeForm.lifeFormAtomized, measurementOrFact)"> Guardar </button>
			</div>

			<hr>
			<label for="lifeFormUnstructured" translate>simplePliCTerm.name.LifeFormUnstructured</label> <em>(opcional)</em>
			<textarea class="form-control" rows="3" name="lifeForm" ng-model="formData.lifeForm.lifeFormUnstructured"></textarea>
	  		
	  		<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addAncillaryData(formData.lifeForm.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
	  		
	  		<div class="form-group">
				<div class="col-xs-11">
					<div ng-repeat="ancillary in formData.lifeForm.ancillaryData">
						<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
						<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
						<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
						<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
						<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
						<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(formData.lifeForm.ancillaryData, ancillaryData)">Eliminar</button>
						
					</div>	
				</div>
			</div>
	  	</div>	
	</div>		

	<div class="panel panel-default">
    	<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.LifeCycle" | translate}}<spanT>
	  	</div>
	  	<div class="panel-body">
			<div ng-repeat="lifeCycleAtomized in formData.lifeCycle.lifeCycleAtomized" class="selected-item">
				<div ng-show="lifeCycleAtomized">
       				<div>{{lifeCycleAtomized.measurementType}}-{{lifeCycleAtomized.measurementValue}}</div>
    			</div>
			</div>

			<div ng-controller="MeasurementCtrl" >
				<select ng-model="lifeCycleAtomized.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in lifeCycles | unique:'measurementtype'">
					<option value="">- Seleccione -</option>
				</select>  

				<select ng-model="lifeCycleAtomized.measurementValue" ng-disabled="!lifeCycleAtomized.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr ">
					<option value="">- Seleccione -</option>
				</select>
				<button class="btn btn-default btn-xs pull-right" ng-click="addMeasurementOrFactVector(formData.lifeCycle.lifeCycleAtomized, measurementOrFact)"> Guardar </button>
			</div>
				
			<hr>

			<label for="lifeCycleUnstructured" translate>simplePliCTerm.name.LifeCycleUnstructured</label> <em>(opcional)</em>
			<textarea class="form-control" rows="3" name="lifeCycle" ng-model="formData.lifeCycle.lifeCycleUnstructured"></textarea>
	  		
	  		<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addAncillaryData(formData.lifeCycle.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
	  		
	  		<div class="form-group">
				<div class="col-xs-11">
					<div ng-repeat="ancillary in formData.lifeCycle.ancillaryData">
						<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
						<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
						<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
						<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
						<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
						<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(formData.lifeCycle.ancillaryData, ancillaryData)">Eliminar</button>
						
					</div>	
				</div>
			</div>
	  	</div>	
	</div>		


	<div class="panel panel-default">
		<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.Reproduction" | translate}}<spanT>
	  	</div>
	  	<div class="panel-body">
			<div ng-repeat="reproductionAtomized in formData.reproduction.reproductionAtomized" class="selected-item">
				<div ng-show="reproductionAtomized">
	   				<div>{{reproductionAtomized.measurementType}}-{{reproductionAtomized.measurementValue}}</div>
				</div>
			</div>

			<div ng-controller="MeasurementCtrl" >
				<select ng-model="reproductionAtomized.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in reproductions | unique:'measurementtype'">
					<option value="">- Seleccione -</option>
				</select>  

				<select ng-model="reproductionAtomized.measurementValue" ng-disabled="!reproductionAtomized.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr ">
					<option value="">- Seleccione -</option>
				</select>
				<button class="btn btn-default btn-xs pull-right" ng-click="addMeasurementOrFactVector(formData.reproduction.reproductionAtomized, measurementOrFact)"> Guardar </button>
			</div>
				
			<hr>
			
			<label for="reproductionUnstructured" translate>simplePliCTerm.name.ReproductionUnstructured</label> <em>(opcional)</em>
			<textarea class="form-control" rows="3" name="reproduction" ng-model="formData.reproduction.reproductionUnstructured"></textarea>
	  		
	  		<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addAncillaryData(formData.reproduction.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
	  		
	  		<div class="form-group">
				<div class="col-xs-11">
					<div ng-repeat="ancillary in formData.reproduction.ancillaryData">
						<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
						<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
						<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
						<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
						<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
						<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(formData.reproduction.ancillaryData, ancillaryData)">Eliminar</button>
						
					</div>	
				</div>
			</div>
	  	</div>	
	</div>		

	<div class="panel panel-default">
		<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.AnnualCycles" | translate}}<spanT>
	  	</div>
	  	<div class="panel-body">
			<div ng-repeat="annualCycleAtomized in formData.annualCycle.annualCycleAtomized" class="selected-item">
				<div ng-show="annualCycleAtomized">
	   				<div>Evento: {{annualCycleAtomized.Event}}</div>
	   				<div>Start Time: {{annualCycleAtomized.startTimeInterval| date: 'yyyy-MM-dd'}}</div>
	   				<div>End Time: {{annualCycleAtomized.endTimeInterval| date: 'yyyy-MM-dd'}}</div>
				</div>
			</div>

			<div class="form-group">
				<label for="event" class="col-xs-2 control-label" translate>Evento</label>
			    <div class="col-xs-10">
			    	<div ng-repeat="eve in event">
				        <input type="checkbox" ng-model="eve.checked" ng-click="updateSelection(eve, event, annualCycleAtomizedType.Event)"/>
				        {{eve.name}}
				    </div>
			    </div>
			</div>

			

			<div class="form-group">
				<label for="startTimeInterval" class="col-xs-2 control-label" translate>Start Time Interval</label>
			    <div class="col-xs-10">
			    	<input id="startTimeInterval" class="form-control" type="date" ng-model="annualCycleAtomizedType.startTimeInterval"/>
			    </div>
			</div>

			

			<div class="form-group">
				<label for="endTimeInterval" class="col-xs-2 control-label" translate>End Time Interval</label>
			    <div class="col-xs-10">
			    	<input id="endTimeInterval" class="form-control" type="date" ng-model="annualCycleAtomizedType.endTimeInterval"/>
			    </div>
			</div>

			<button type="button" class="btn btn-primary btn-sm " ng-click="addAncillaryData(annualCycleAtomizedType.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
			
	  		<div class="form-group">
				<div class="col-xs-11">
					<div ng-repeat="ancillary in annualCycleAtomizedType.ancillaryData">
						<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
						<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
						<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
						<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
						<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}><br/>
						<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(annualCycleAtomizedType.ancillaryData, ancillaryData)">Eliminar</button>
					
					</div>		
				</div>
			</div>

			<button type="button" class="btn btn-default btn-sm pull-right" ng-click="addAnnualCycleAtomizedType(formData.annualCycle.annualCycleAtomized, annualCycleAtomizedType)">Guardar</button>

			<br>
			<hr>

			<label for="annualCyclesUnstructured" translate>simplePliCTerm.name.AnnualCyclesUnstructured</label> <em>(opcional)</em>
			<textarea class="form-control" rows="3" name="annualCycle" ng-model="formData.annualCycle.annualCycleUnstructured"></textarea>
	  		
	  		<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addAncillaryData(formData.annualCycle.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
	  		
	  		<div class="form-group">
				<div class="col-xs-11">
					<div ng-repeat="ancillary in formData.annualCycle.ancillaryData">
						<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
						<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
						<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
						<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
						<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
						<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(formData.annualCycle.ancillaryData, ancillaryData)">Eliminar</button>
						
					</div>	
				</div>
			</div>
	  	</div>	
	</div>	

	<div class="panel panel-default">
		<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.Feeding" | translate}}<spanT>
	  	</div>
	  	<div class="panel-body">
			<div ng-repeat="feedingAtomized in formData.feeding.feedingAtomized" class="selected-item">
				<div ng-show="feedingAtomized">
	   				<div>{{feedingAtomized.type}}</div>
	   				<div ng-repeat="thropic in feedingAtomized.thropic" class="selected-item">
	   					<div ng-show="thropic">
	   						{{thropic.strategy}} - {{thropic.strategyRemarks}}
	   					</div>	
	   				</div>	
				</div>
			</div>

			<div class="form-group">
				<label for="type" class="col-xs-2 control-label" translate>simplePliCTerm.name.type</label>
				<div class="col-xs-10">
					<div class="panel" ng-controller="checkBoxController">
						<div ng-repeat="source in primaryDietSource">
				        	<input type="checkbox" ng-model="source.checked" ng-click="updateSelectionFeeding(source, primaryDietSource)"/>
				        	{{source.name}}
				      	</div>
				    </div>
			    </div>
			</div>


			<div class="form-group">   
			    <label for="strategy" class="col-xs-2 control-label" translate>simplePliCTerm.name.Strategy</label>
				<div class="col-xs-10">
					<div class="panel" ng-controller="checkBoxController">
						<div ng-repeat="strategy in strategies">
							<div class="action-checkbox">
						        <input type="checkbox" ng-model="strategy.checked" ng-click="updateSelectionThropic(strategy, strategies)"/>
						        {{strategy.name}}
							</div>
						</div>
					</div>
					<label translate>simplePliCTerm.name.StrategyRemarks</label>
					<input type="text" class="form-control" name="feeding" ng-model="thropic.strategyRemarks"/>
					<button type="button" class="btn btn-default btn-sm" ng-click="addThropic(feedingAtomizedType.thropic,thropic)">Guardar estrategia</button>
			    </div>
		    </div>

			<button type="button" class="btn btn-default btn-sm pull-right" ng-click="addFeedingAtomizedType(formData.feeding.feedingAtomized,feedingAtomizedType)">Guardar</button>	
				
			
			<div class="form-group">   

				<hr>
				
				<label for="feedingUnstructured" translate>simplePliCTerm.name.FeedingUnstructured</label> <em>(opcional)</em>
				<textarea class="form-control" rows="3" name="feeding" ng-model="formData.feeding.feedingUnstructured"></textarea>
		  		
		  		<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addAncillaryData(formData.feeding.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
		  		
		  		<div class="form-group">
					<div class="col-xs-11">
						<div ng-repeat="ancillary in formData.feeding.ancillaryData">
							<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(formData.feeding.ancillaryData, ancillaryData)">Eliminar</button>
							
						</div>	
					</div>
				</div>
			</div>
	  	</div>	
	</div>	

	<div class="panel panel-default">
		<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.Dispersal" | translate}}<spanT>
	  	</div>
	  	<div class="panel-body">

	  		<div ng-repeat="purpose in formData.dispersal.dispersalAtomized.purpose">
				{{purpose}}
			</div>
			
			<div class="form-group">
				<label for="purpose" class="col-xs-2 control-label" translate>simplePliCTerm.name.Purpose</label>
			    <div class="col-xs-10">
			    	<div ng-controller="MeasurementCtrl" >
						<select ng-model="dispersalAtomized.purpose.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in purposes | unique:'measurementtype'">
							<option value="">- Seleccione -</option>
						</select>  

						<select ng-model="dispersalAtomized.purpose.measurementValue" ng-disabled="!dispersalAtomized.purpose.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr ">
							<option value="">- Seleccione -</option>
						</select>
						<button class="btn btn-default btn-xs pull-right" ng-click="addMeasurementOrFactVector(formData.dispersal.dispersalAtomized.purpose, measurementOrFact)"> Guardar proposito </button>	
					</div>
			    </div>
			</div>

			
			
			<div class="form-group">
				<label for="type" class="col-xs-2 control-label" translate>simplePliCTerm.name.Type</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
				    	<div ng-repeat="type in dispersalType">	
							<div class="action-checkbox">
						        <input type="checkbox" ng-model="type.checked" ng-click="updateSelectionDispersalType(type, dispersalType)"/>
						        {{type.name}}
							</div>
						</div>
					</div>
			    </div>
			</div>
				
			<div class="form-group">
				<label for="structureDispersed" class="col-xs-2 control-label" translate>simplePliCTerm.name.StructureDispersed</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
				    	<div ng-repeat="structure in structureDispersed">	
							<div class="action-checkbox">
						        <input type="checkbox" ng-model="structure.checked" ng-click="updateSelectionStructureDispersed(structure, structureDispersed)"/>
						        {{structure.name}}
							</div>
						</div>
					</div>
			    </div>
			</div>
				
			<div class="form-group">
				<label for="distance" class="col-xs-2 control-label" translate>simplePliCTerm.name.Distance</label>
			    <div class="col-xs-10">
			    	<div ng-controller="MeasurementCtrl" >
						<select ng-model="formData.dispersal.dispersalAtomized.distance.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in distance | unique:'measurementtype'">
							<option value="">- Seleccione -</option>
						</select>  

						<select ng-model="formData.dispersal.dispersalAtomized.distance.measurementValue" ng-disabled="!formData.dispersal.dispersalAtomized.distance.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr ">
							<option value="">- Seleccione -</option>
						</select>
					</div>
			    </div>
			</div>

			
			
			<div class="form-group">
				<hr>
				<label for="dispersalUnstructured" translate>simplePliCTerm.name.DispersalUnstructured</label> <em>(opcional)</em>
				<textarea class="form-control" rows="3" name="dispersal" ng-model="formData.dispersal.dispersalUnstructured"></textarea>
		  		
		  		<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addAncillaryData(formData.dispersal.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
		  		
		  		<div class="form-group">
					<div class="col-xs-11">
						<div ng-repeat="ancillary in formData.dispersal.ancillaryData">
							<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(formData.dispersal.ancillaryData, ancillaryData)">Eliminar</button>
							
						</div>	
					</div>
				</div>
			</div>
	  	</div>	
	</div>	
	
</div> 

<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.historyC" class="btn btn-block btn-info">
    Siguiente Sección <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>