<div class="form-group">

	<div class="panel panel-default">
		<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.Invasiveness" | translate}}<spanT>
	  	</div>
	  	<div class="panel-body">
		  	<div ng-repeat="invasivenessAtomizedType in formData.invasiveness.invasivenessAtomized.invasivenessAtomizedType" class="selected-item">
				<div ng-show="invasivenessAtomizedType">
					<div>{{invasivenessAtomizedType}}</div>
				</div>
			</div>

			<div class="form-group">
				<label for="origin" class="col-xs-2 control-label" translate>simplePliCTerm.name.origin</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
			    		<div ng-repeat="ori in origin">
							    <input type="checkbox" ng-model="ori.checked" ng-click="updateSelectionOrigin(ori, origin)"/>
							    {{ori.name}}
					    </div>
			    	</div>
			    </div>
			</div>
				
			<div class="form-group">
				<label for="presence" class="col-xs-2 control-label" translate>simplePliCTerm.name.presence</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
			    		<div ng-repeat="pre in presence">
						 	    <input type="checkbox" ng-model="pre.checked" ng-click="updateSelectionPresence(pre, presence)"/>
							    {{pre.name}}
					    </div>
			    	</div>
			    </div>
			</div>

			<div class="form-group">
				<label for="persistence" class="col-xs-2 control-label" translate>simplePliCTerm.name.persistence</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
			    		<div ng-repeat="per in persistence">
							    <input type="checkbox" ng-model="per.checked" ng-click="updateSelectionPersistence(per, persistence)"/>
							    {{per.name}}
					    </div>
			    	</div>
			    </div>
			</div>
			<div class="form-group">
				<label for="distribution" class="col-xs-2 control-label" translate>simplePliCTerm.name.distribution</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
			    		<div ng-repeat="dis in distribution">
							    <input type="checkbox" ng-model="dis.checked" ng-click="updateSelectionDistribution(dis.name)"/>
							    {{dis.name}}
					    </div>
			    	</div>
			    </div>
			</div>
			
			<div class="form-group">
				<label for="harmful" class="col-xs-2 control-label" translate>simplePliCTerm.name.harmful</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
			    		<div ng-repeat="har in harmful">
							    <input type="checkbox" ng-model="har.checked" ng-click="updateSelectionHarmful(har, harmful)"/>
							    {{har.name}}
					    </div>
			    	</div>
			    </div>
			</div>		

			<div class="form-group">
				<label for="modified" class="col-xs-2 control-label" translate>simplePliCTerm.name.modified</label>
			    <div class="col-xs-10">
			    	<input id="modified" class="form-control" type="date" ng-model="invasivenessAtomizedType.modified"/>
			    </div>
			</div>

			<div class="form-group">
				<label for="startValidateDate" class="col-xs-2 control-label" translate>simplePliCTerm.name.startValidateDate</label>
			    <div class="col-xs-10">
			    	<input id="startValidateDate" class="form-control" type="date" ng-model="invasivenessAtomizedType.startValidateDate"/>
			    </div>
			</div>

			<div class="form-group">
				<label for="endValidateDate" class="col-xs-2 control-label" translate>simplePliCTerm.name.endValidateDate</label>
			    <div class="col-xs-10">
			    	<input id="endValidateDate" class="form-control" type="date" ng-model="invasivenessAtomizedType.endValidateDate"/>
			    </div>
			</div>	

			<div class="form-group">
				<label for="countryCode" class="col-xs-2 control-label" translate>simplePliCTerm.name.countryCode</label>
			    <div class="col-xs-10">
			    	<div ng-controller="UbicacionCtrl" >
						<select ng-model="invasivenessAtomizedType.countryCode" ng-options="attr.countryName as attr.countryName for attr in ubicacion ">
							<option value="">- Seleccione -</option>
						</select>  	
				    </div>
			    </div>
			</div>

			<div class="form-group">
				<label for="stateProvince" class="col-xs-2 control-label" translate>simplePliCTerm.name.stateProvince</label>
			    <div class="col-xs-10">
			    	<div ng-controller="UbicacionCtrl" >
						 <select ng-model="invasivenessAtomizedType.stateProvince" ng-disabled="!invasivenessAtomizedType.countryCode" ng-options="item.departmentName as item.departmentName for item in selectedAttr.departments ">
							<option value="">- Seleccione -</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="county" class="col-xs-2 control-label" translate>simplePliCTerm.name.county</label>
			    <div class="col-xs-10">
			    	<div ng-controller="UbicacionCtrl" >
						<select ng-model="invasivenessAtomizedType.county" ng-disabled="!invasivenessAtomizedType.countryCode || !invasivenessAtomizedType.stateProvince" ng-options="item.countyName as item.countyName for item in selectedAttr2.counties ">
							<option value="">- Seleccione -</option>
						</select>
					</div>
				</div>
			</div>		

			<div class="form-group">
				<label for="localityName" class="col-xs-2 control-label" translate>simplePliCTerm.name.localityName</label>
			    <div class="col-xs-10">
			    	<input type="text" class="form-control" name="localityName" ng-model="invasivenessAtomizedType.localityName"/>
			    </div>
			</div>

			<div class="form-group">
				<label for="language" class="col-xs-2 control-label" translate>simplePliCTerm.name.language</label>
			    <div class="col-xs-10">
			    	<select ng-model="invasivenessAtomizedType.language" ng-options="lang.Idioma as lang.Idioma for lang in idiomas ">
						<option value="">- Seleccione -</option>
					</select>
			    </div>
			</div>

			<div class="form-group">
				<label for="citation" class="col-xs-2 control-label" translate>simplePliCTerm.name.citation</label>
			    <div class="col-xs-10">
			    	<input type="text" class="form-control" name="citation" ng-model="invasivenessAtomizedType.citation"/>
			    </div>
			</div>
	
			<div class="form-group">
				<label for="abundance" class="col-xs-2 control-label" translate>simplePliCTerm.name.abundance</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
				    	<div ng-repeat="abu in abundance">
							    <input type="checkbox" ng-model="abu.checked" ng-click="updateSelectionAbundance(abu, abundance)"/>
							    {{abu.name}}
					    </div>
			    	</div>
			    </div>
			</div>

			<div class="form-group">
				<label for="trend" class="col-xs-2 control-label" translate>simplePliCTerm.name.trend</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
				    	<div ng-repeat="tre in trend">
							    <input type="checkbox" ng-model="tre.checked" ng-click="updateSelectionTrend(tre, trend)"/>
							    {{tre.name}}
					    </div>
			    	</div>
			    </div>
			</div>

			<div class="form-group">
				<label for="rateOfSpread" class="col-xs-2 control-label" translate>simplePliCTerm.name.rateOfSpread</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
				    	<div ng-repeat="ros in rateOfSpread">
							    <input type="checkbox" ng-model="ros.checked" ng-click="updateSelectionRateOfSpread(ros, rateOfSpread)"/>
							    {{ros.name}}
					    </div>
			    	</div>
			    </div>
			</div>

			<div class="form-group">
				<label for="regulatoryListing" class="col-xs-2 control-label" translate>simplePliCTerm.name.regulatoryListing</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
				    	<div ng-repeat="rl in regulatoryListing">
							    <input type="checkbox" ng-model="rl.checked" ng-click="updateSelectionRegulatoryListing(rl, regulatoryListing)"/>
							   {{rl.name}}
					    </div>
			    	</div>
			    </div>
			</div>			

			<div class="form-group">
				<label for="memo" class="col-xs-2 control-label" translate>simplePliCTerm.name.memo</label>
			    <div class="col-xs-10">
			    	<input type="text" class="form-control" name="memo" ng-model="invasivenessAtomizedType.memo"/>
			    </div>
			</div>

			<div class="form-group">
				<label for="publicationDate" class="col-xs-2 control-label" translate>simplePliCTerm.name.publicationDate</label>
			    <div class="col-xs-10">
			    	<input id="publicationDate" class="form-control" type="date" ng-model="invasivenessAtomizedType.publicationDate"/>
			    </div>
			</div>

			<div class="form-group">
				<label for="localityType" class="col-xs-2 control-label" translate>simplePliCTerm.name.localityType</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
				    	<div ng-repeat="lt in localityType">
							    <input type="checkbox" ng-model="lt.checked" ng-click="updateSelectionLocalityType(lt, localityType)"/>
							    {{lt.name}}
					    </div>
			    	</div>
			    </div>
			</div>

			<div class="form-group">
				<label for="locationValue" class="col-xs-2 control-label" translate>simplePliCTerm.name.locationValue</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
				    	<div ng-repeat="lv in locationValue">
							    <input type="checkbox" ng-model="lv.checked" ng-click="updateSelectionLocationValue(lv, locationValue)"/>
							    {{lv.name}}
					    </div>
			    	</div>
			    </div>
			</div>

			<div class="form-group">
				<label for="publicationDatePrecision" class="col-xs-2 control-label" translate>simplePliCTerm.name.publicationDatePrecision</label>
			    <div class="col-xs-10">
			    	<div class="panel" ng-controller="checkBoxController">
				    	<div ng-repeat="pdp in publicationDatePrecision">
							    <input type="checkbox" ng-model="pdp.checked" ng-click="updateSelectionPublicationDatePrecision(pdp, publicationDatePrecision)"/>
							    {{pdp.name}}
					    </div>
			    	</div>
			    </div>
			</div>

			<div class="form-group">
				<label for="WhatImpact" class="col-xs-2 control-label" translate>simplePliCTerm.name.WhatImpact</label>
			    <div class="col-xs-10">
			    	<input type="text" class="form-control" name="whatImpact" ng-model="invasivenessAtomizedType.whatImpact"/>
			    </div>
			</div>

			<div class="form-group">
				<label for="vector" class="col-xs-2 control-label" translate>simplePliCTerm.name.vector</label>
			    <div class="col-xs-10">
			    	<input type="text" class="form-control" name="whatImpact" ng-model="invasivenessAtomizedType.vector"/>
			    </div>
			</div>

			<div class="form-group">
				<label for="route" class="col-xs-2 control-label" translate>simplePliCTerm.name.route</label>
			    <div class="col-xs-10">
			    	<input type="text" class="form-control" name="route" ng-model="invasivenessAtomizedType.route"/>
			    </div>
			</div>

			<div class="form-group">
				<label for="target" class="col-xs-2 control-label" translate>simplePliCTerm.name.target</label>
			    <div class="col-xs-10">
			    	<input type="text" class="form-control" name="route" ng-model="invasivenessAtomizedType.target"/>
			    </div>
			</div>

			<div class="form-group">
				<label for="Mechanism" class="col-xs-2 control-label" translate>simplePliCTerm.name.Mechanism</label>
			    <div class="col-xs-10">
			    	<input type="text" class="form-control" name="mechanism" ng-model="invasivenessAtomizedType.mechanism"/>
			    </div>
			</div>
			
			<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addAncillaryData(formData.invasiveness.invasivenessAtomized.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
	  		<br><br>
	  		<div class="form-group">
				<div class="col-xs-11">
					<div ng-repeat="ancillary in formData.invasiveness.invasivenessAtomized.ancillaryData">
						<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
						<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
						<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
						<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
						<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
						<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(formData.invasiveness.invasivenessAtomized.ancillaryData, ancillaryData)">Eliminar</button>
						<br><br>
					</div>	
				</div>
			</div>
			
			<button type="button" class="btn btn-primary btn-sm" ng-click="addInvasiveness(invasivenessAtomizedType)">Agregar<span class="glyphicon glyphicon-plus"></span> </button>
			<hr>
			
			<label for="invasivenessUnstructured" translate>Descripción</label> <em>(opcional)</em>
			<textarea class="form-control" rows="3" name="invasiveness" ng-model="formData.invasiveness.invasivenessUnstructured"></textarea>
	  		
	  		<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addAncillaryData(formData.invasiveness.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
	  		<br><br>
	  		<div class="form-group">
				<div class="col-xs-11">
					<div ng-repeat="ancillary in formData.invasiveness.ancillaryData">
						<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
						<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
						<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
						<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
						<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
						<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(formData.invasiveness.ancillaryData, ancillaryData)">Eliminar</button>
						<br><br>
					</div>	
				</div>
			</div>
	  	</div>	
	</div>
</div> 
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.habitat" class="btn btn-block btn-info">
    Siguiente Sección <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>