<div class="form-group">
	<h3>Invasiveness Atomized:</h3>
	<div ng-controller="CollapseDemoCtrl">

		<div ng-repeat="measurementOrFact in formData.invasiveness.invasivenessAtomized.measurementOrFact" class="selected-item">
			<div ng-show="measurementOrFact">
				<div>{{measurementOrFact}}</div>
			</div>
		</div>
	
		<button class="btn btn-default" ng-click="isCollapsed_1 = !isCollapsed_1"> Add Invasiveness </button>
		<div collapse="isCollapsed_1">
			<div class="panel" ng-controller="checkBoxController">
				<div ng-repeat="employee in employees">
					<div class="action-checkbox">
						<input id="{{employee.name}}" type="checkbox" value="{{employee.name}}" ng-checked="formData.invasiveness.invasivenessAtomized.measurementOrFact.indexOf(employee.name) > -1" ng-click="toggleSelection(formData.invasiveness.invasivenessAtomized.measurementOrFact,employee.name)" />
						<label for="{{employee.name}}"></label>
						{{employee.name}}
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!--<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.invasiveness.invasivenessAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
	<div ng-repeat="ancillary in formData.invasiveness.invasivenessAtomized.ancillaryData">
		<div class="form-group">
			<h4>License:</h4>
			<input type="text"  ng-model="ancillary.license"/>
			<hr>
			<h4>Rights Holder:</h4>
			<input type="text"  ng-model="ancillary.rightsHolder"/>
			<hr>
			<h4>Bibliographic Citation:</h4>
			<input type="text"  ng-model="ancillary.bibliographicCitation"/>
			<hr>
			<h4>Source:</h4>
			<input type="text"  ng-model="ancillary.source"/>
			<hr>
			<h4>Media URL:</h4>
			<input type="text"  ng-model="ancillary.mediaURL"/>
			<hr>
			<h4>References:</h4>
			<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
			</div>
			<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
			<hr>
		</div>
	</div>-->
	<br>

	<h3>Invasiveness Unstructured:</h3>
	<input type="text" class="form-control" name="invasiveness" ng-model="formData.invasiveness.invasivenessUnstructured"/>
	
	<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.invasiveness.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
	<div ng-repeat="ancillary in formData.invasiveness.ancillaryData">
		<div class="form-group">
			<h4>License:</h4>
			<input type="text"  ng-model="ancillary.license"/>
			<hr>
			<h4>Rights Holder:</h4>
			<input type="text"  ng-model="ancillary.rightsHolder"/>
			<hr>
			<h4>Bibliographic Citation:</h4>
			<input type="text"  ng-model="ancillary.bibliographicCitation"/>
			<hr>
			<h4>Source:</h4>
			<input type="text"  ng-model="ancillary.source"/>
			<hr>
			<h4>Media URL:</h4>
			<input type="text"  ng-model="ancillary.mediaURL"/>
			<hr>
			<h4>References:</h4>
			<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
			</div>
			<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
			<hr>
		</div>
	</div>
	<br>
	
	
</div> 
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.habitat" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>