<div class="form-group">

	<h3>Descripción General:</h3>
	<hr>
	<input type="text" class="form-control" name="abstract" ng-model="formData.abstract"/> <br>

	<input type="text" class="form-control" name="taxonRecordName" ng-model="taxonNameResearch"/> 
	<button class="btn btn-default btn-sm" ng-click="getTaxonInformation(taxonNameResearch)">Traer información</button>
	<br>

	<div ng-show="formData.taxonRecordName.scientificName.simple">
   		<div> 
   			<h3>Nombre científico</h3> 
   			{{formData.taxonRecordName.scientificName.simple}}
   		</div>
	</div>
	<div ng-show="formData.taxonRecordName.scientificName.publishedln.simple">
   		<div>Published ln :{{formData.taxonRecordName.scientificName.publishedln.simple}}</div>
	</div>
	<hr>

	<h3>Sinónimos:</h3>
	<hr noshade>
	<div ng-repeat="synonymAtomized in formData.synonymsAtomized">
		<span ng-show="synonymAtomized.synonymName.simple" display:"inline">
       		{{synonymAtomized.synonymName.simple}}
       	</span>
       	<span ng-show="synonymAtomized.synonymStatus" display:"inline">
       			Estado nomenclatural :{{synonymAtomized.synonymStatus}}	
    	</span>

    <br>
	</div>
	<div ng-controller="CollapseDemoCtrl">
	    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Crear un nuevo sinónimo</button>
	    <hr>
	    <div collapse="isCollapsed">
			<div class="form-group">
					<h4>Sinónimo:</h4>
					<input type="text"  ng-model="synonmy.canonicalName"/>
					<br>
					<h4>Estado nomenclatural:</h4>
					<input type="text"  ng-model="synonmy.synonymStatus"/>
					<br>
					<h4>Publicado en:</h4>
					<div class="form-group">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="synonmy.publishedln.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="synonmy.publishedln.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="synonmy.publishedln.source"/>
					</div>
					<br>
					<h4>Datos Auxiliares:</h4>
					<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(synonmy.ancillaryData)">Datos Auxiliares<span class="glyphicon glyphicon-plus"></span> </button>
					<div ng-repeat="ancillary in synonmy.ancillaryData">
						<div class="form-group">
							<h4>License:</h4>
							<input type="text"  ng-model="ancillary.license"/>
							<hr>
							<h4>Rights Holder:</h4>
							<input type="text"  ng-model="ancillary.rightsHolder"/>
							<hr>
							<h4>Bibliographic Citation:</h4>
							<input type="text"  ng-model="ancillary.bibliographicCitation"/>
							<hr>
							<h4>Source:</h4>
							<input type="text"  ng-model="ancillary.source"/>
							<hr>
							<h4>Media URL:</h4>
							<input type="text"  ng-model="ancillary.mediaURL"/>
							<hr>
							<h4>References:</h4>
							<div ng-repeat="ref in ancillary.reference">
								<h5>Identifier:</h5>
								<input type="text"  ng-model="ref.identifier"/>
								<br>
								<h5>Datatype:</h5>
								<input type="text"  ng-model="ref.datatype"/>
								<br>
								<h5>Source:</h5>
								<input type="text"  ng-model="ref.source"/>
								<hr>
							</div>
							<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Referencia<span class="glyphicon glyphicon-plus"></span> </button>
							<hr>
						</div>
					</div>
					<br>
					<button type="button" class="btn btn-info btn-sm" ng-click="addSynonymsAtomized(formData.synonymsAtomized,synonmy)">Agregar</button>
				</div>
			</div>
		</div>		
	<br>

	<h3>Nombres comúnes:</h3>
	<hr>
	<div ng-repeat="commonNameAtomized in formData.commonNameAtomized | orderBy:'-language.languageIso'">
		<span ng-show="commonNameAtomized.name">
       		{{commonNameAtomized.name}}
       	</span>
   		<span ng-show="commonNameAtomized.language">
   			{{commonNameAtomized.language}}
		</span>
		<span ng-show="commonNameAtomized.usedIn.distributionUnstructured">
       		Usado en :{{commonNameAtomized.usedIn.distributionUnstructured}}
    	</span>
    	<span ng-show="commonNameAtomized.usedBy">
       		Usado por :{{commonNameAtomized.usedBy}}
    	</span>
	</div>
	<div ng-controller="CollapseDemoCtrl">
	    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Agregar nombre común</button>
	    <hr>
	    <div collapse="isCollapsed">
			<div class="form-group">
				<h4>Nombre común:</h4>
				<input type="text"  ng-model="commonName.name"/>
				<br>
				<h4>Idioma:</h4>
				<select ng-model="commonName.language" ng-options="lang.Idioma as lang.Idioma for lang in idiomas ">
					<option value="">- Seleccione -</option>
				</select> 
				<br>
				<h4>Usado en:</h4>
				<input type="text"  ng-model="commonName.usedIn"/>
				<br>
				<h4>Usado por:</h4>
				<input type="text"  ng-model="commonName.usedBy"/>
				<br>
				<h4>Datos Auxiliares:</h4>
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(commonName.ancillaryData)">Datos Auxiliares<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in commonName.ancillaryData">
					<div class="form-group">
						<h4>License:</h4>
						<input type="text"  ng-model="ancillary.license"/>
						<hr>
						<h4>Rights Holder:</h4>
						<input type="text"  ng-model="ancillary.rightsHolder"/>
						<hr>
						<h4>Bibliographic Citation:</h4>
						<input type="text"  ng-model="ancillary.bibliographicCitation"/>
						<hr>
						<h4>Source:</h4>
						<input type="text"  ng-model="ancillary.source"/>
						<hr>
						<h4>Media URL:</h4>
						<input type="text"  ng-model="ancillary.mediaURL"/>
						<hr>
						<h4>References:</h4>
						<div ng-repeat="ref in ancillary.reference">
							<h5>Identifier:</h5>
							<input type="text"  ng-model="ref.identifier"/>
							<br>
							<h5>Datatype:</h5>
							<input type="text"  ng-model="ref.datatype"/>
							<br>
							<h5>Source:</h5>
							<input type="text"  ng-model="ref.source"/>
							<hr>
						</div>
						<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Referencia<span class="glyphicon glyphicon-plus"></span> </button>
						<hr>
					</div>
				</div>
				<br>
				<button type="button" class="btn btn-info btn-sm" ng-click="addCommonNamesAtomized(formData.commonNameAtomized,commonName)">Accept</button>
			</div>
		</div>
	</div>
	<br>

	

	<h3>Jerarquía:</h3>
	<hr>
	<div ng-repeat="hierarchy in formData.hierarchy">
		<div ng-show="hierarchy.classification">
       		<div>classification :{{hierarchy.classification}}</div>
    	</div>
    	<div ng-show="hierarchy.recommended">
       		<div>recommended :{{hierarchy.recommended}}</div>
    	</div>
    	<div ng-show="hierarchy.kingdom">
       		<div>Reino:{{hierarchy.kingdom}}</div>
    	</div>
    	<div ng-show="hierarchy.phylum">
       		<div>Filo :{{hierarchy.phylum}}</div>
    	</div>
    	<div ng-show="hierarchy.classHierarchy">
       		<div>Clase :{{hierarchy.classHierarchy}}</div>
    	</div>
    	<div ng-show="hierarchy.order">
       		<div>Orden :{{hierarchy.order}}</div>
    	</div>
    	<div ng-show="hierarchy.family">
       		<div>Familia :{{hierarchy.family}}</div>
    	</div>
    	<div ng-show="hierarchy.genus">
       		<div>Género :{{hierarchy.genus}}</div>
    	</div>
    	<div ng-show="hierarchy.subGenus">
       		<div>Subgénero :{{hierarchy.subGenus}}</div>
    	</div>
    	<!--<div ng-show="hierarchy.taxonRank">
       		<div>Categoría del taxón :{{hierarchy.taxonRank}}</div>
    	</div>-->
    	<div ng-show="hierarchy.specificEpithet">
       		<div>Epíteto específico :{{hierarchy.specificEpithet}}</div>
    	</div>
    	<div ng-show="hierarchy.infraspecificEpithet">
       		<div>Epítelo infraespecífico :{{hierarchy.infraspecificEpithet}}</div>
    	</div>
    	<div ng-show="hierarchy.higherClassification">
       		<div>Clasificacíon superior :{{hierarchy.higherClassification}}</div>
    	</div>
    	<!--<div ng-show="hierarchy.parentTaxon">
       		<div>parentTaxon :{{hierarchy.parentTaxon}}</div>
    	</div>	 -->
    	<div ng-show="hierarchy.ancillaryData[0].source">
       		<div>Fuente :{{hierarchy.ancillaryData[0].source}}</div>
    	</div>
    	<hr>
	</div>

	<!--<div ng-controller="CollapseDemoCtrl">
	    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Add Hierarchy</button>
	    <hr>
	    <div collapse="isCollapsed">
	    	<div class="form-group">
				<h4>Classification:</h4>
				<input type="text"  ng-model="hierarchy.classification"/>
				<br>
				<h4>Recommended:</h4>
				<input type="text"  ng-model="hierarchy.recommended"/>
				<br>
				<h4>Reino:</h4>
				<input type="text"  ng-model="hierarchy.kingdom"/>
				<br>
				<h4>Filo:</h4>
				<input type="text"  ng-model="hierarchy.phylum"/>
				<br>
				<h4>Clase:</h4>
				<input type="text"  ng-model="hierarchy.classHierarchy"/>
				<br>
				<h4>Orden:</h4>
				<input type="text"  ng-model="hierarchy.order"/>
				<br>
				<h4>Familia:</h4>
				<input type="text"  ng-model="hierarchy.family"/>
				<br>
				<h4>Género:</h4>
				<input type="text"  ng-model="hierarchy.genus"/>
				<br>
				<h4>Subgénero:</h4>
				<input type="text"  ng-model="hierarchy.subGenus"/>
				<br>
				<h4>Categoría del taxón:</h4>
				<input type="text"  ng-model="hierarchy.taxonRank"/>
				<br>
				<h4>Epíteto específico:</h4>
				<input type="text"  ng-model="hierarchy.specificEpithet"/>
				<br>
				<h4>Epítelo infraespecífico:</h4>
				<input type="text"  ng-model="hierarchy.infraspecificEpithet"/>
				<br>
				<h4>Clasificacíon superior:</h4>
				<input type="text"  ng-model="hierarchy.higherClassification"/>
				<br>
				<h4>Taxón parental:</h4>
				<input type="text"  ng-model="hierarchy.parentTaxon"/>
				<br>
				<h4>Datos Auxiliares:</h4>
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(hierarchy.ancillaryData)">Datos Auxiliares<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in hierarchy.ancillaryData">
					<div class="form-group">
						<h4>License:</h4>
						<input type="text"  ng-model="ancillary.license"/>
						<hr>
						<h4>Rights Holder:</h4>
						<input type="text"  ng-model="ancillary.rightsHolder"/>
						<hr>
						<h4>Bibliographic Citation:</h4>
						<input type="text"  ng-model="ancillary.bibliographicCitation"/>
						<hr>
						<h4>Source:</h4>
						<input type="text"  ng-model="ancillary.source"/>
						<hr>
						<h4>Media URL:</h4>
						<input type="text"  ng-model="ancillary.mediaURL"/>
						<hr>
						<h4>References:</h4>
						<div ng-repeat="ref in ancillary.reference">
							<h5>Identifier:</h5>
							<input type="text"  ng-model="ref.identifier"/>
							<br>
							<h5>Datatype:</h5>
							<input type="text"  ng-model="ref.datatype"/>
							<br>
							<h5>Source:</h5>
							<input type="text"  ng-model="ref.source"/>
							<hr>
						</div>
						<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Referencia<span class="glyphicon glyphicon-plus"></span> </button>
						<hr>
					</div>
				</div>
				<br>
				<button type="button" class="btn btn-info btn-sm" ng-click="addHierarchy(formData.hierarchy,hierarchy)">Accept</button>
			</div>
		</div>
	</div>	
	<br> -->

</div> 

<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.taxoDesc" class="btn btn-block btn-info">
    Siguiente Sección <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>