<div class="form-group">

	
	<input type="text" class="form-control" name="taxonRecordName" ng-model="taxonNameResearch"/> 
	<button class="btn btn-default btn-sm" ng-click="getTaxonInformation(taxonNameResearch)">Get information</button>
	<br>

	<h3>Taxon Record Name:</h3>
	<hr>
	<div ng-show="formData.taxonRecordName.scientificName.simple">
   		<div>Scientific Name :{{formData.taxonRecordName.scientificName.simple}}</div>
	</div>
	<div ng-show="formData.taxonRecordName.scientificName.publishedln.simple">
   		<div>Published ln :{{formData.taxonRecordName.scientificName.publishedln.simple}}</div>
	</div>
	<hr>

	<h3>Synonyms:</h3>
	<hr noshade>
	<div ng-repeat="synonymAtomized in formData.synonymsAtomized">
		<div ng-show="synonymAtomized.synonymName.simple">
       		<div>Synonym Name :{{synonymAtomized.synonymName.simple}}</div>
    	</div>
    	<div ng-show="synonymAtomized.synonymStatus">
       		<div>Synonym Status :{{synonymAtomized.synonymStatus}}</div>
    	</div>
    	<hr>
	</div>
	<div ng-controller="CollapseDemoCtrl">
	    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Add Synonym</button>
	    <hr>
	    <div collapse="isCollapsed">
			<div class="form-group">
					<h4>Synonym Name:</h4>
					<input type="text"  ng-model="synonmy.canonicalName"/>
					<br>
					<h4>Synonym Status:</h4>
					<input type="text"  ng-model="synonmy.synonymStatus"/>
					<br>
					<h4>Published ln:</h4>
					<div class="form-group">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="synonmy.publishedln.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="synonmy.publishedln.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="synonmy.publishedln.source"/>
					</div>
					<br>
					<h4>Ancillary Data:</h4>
					<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(synonmy.ancillaryData)">Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
					<div ng-repeat="ancillary in synonmy.ancillaryData">
						<div class="form-group">
							<h4>License:</h4>
							<input type="text"  ng-model="ancillary.license"/>
							<hr>
							<h4>Rights Holder:</h4>
							<input type="text"  ng-model="ancillary.rightsHolder"/>
							<hr>
							<h4>Bibliographic Citation:</h4>
							<input type="text"  ng-model="ancillary.bibliographicCitation"/>
							<hr>
							<h4>Source:</h4>
							<input type="text"  ng-model="ancillary.source"/>
							<hr>
							<h4>Media URL:</h4>
							<input type="text"  ng-model="ancillary.mediaURL"/>
							<hr>
							<h4>References:</h4>
							<div ng-repeat="ref in ancillary.reference">
								<h5>Identifier:</h5>
								<input type="text"  ng-model="ref.identifier"/>
								<br>
								<h5>Datatype:</h5>
								<input type="text"  ng-model="ref.datatype"/>
								<br>
								<h5>Source:</h5>
								<input type="text"  ng-model="ref.source"/>
								<hr>
							</div>
							<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
							<hr>
						</div>
					</div>
					<br>
					<button type="button" class="btn btn-info btn-sm" ng-click="addSynonymsAtomized(formData.synonymsAtomized,synonmy)">Accept</button>
				</div>
			</div>
		</div>		
	<br>

	<h3>Common Names:</h3>
	<hr>
	<div ng-repeat="commonNameAtomized in formData.commonNameAtomized">
		<div ng-show="commonNameAtomized.name">
       		<div>Common Name :{{commonNameAtomized.name}}</div>
    	</div>
    	<div ng-show="commonNameAtomized.language">
       		<div>Language :{{commonNameAtomized.language}}</div>
    	</div>
    	<div ng-show="commonNameAtomized.usedIn.distributionUnstructured">
       		<div>Used In :{{commonNameAtomized.usedIn.distributionUnstructured}}</div>
    	</div>
    	<div ng-show="commonNameAtomized.usedBy">
       		<div>used By :{{commonNameAtomized.usedBy}}</div>
    	</div>
    	<hr>
	</div>
	<div ng-controller="CollapseDemoCtrl">
	    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Add Common Name</button>
	    <hr>
	    <div collapse="isCollapsed">
			<div class="form-group">
				<h4>Name:</h4>
				<input type="text"  ng-model="commonName.name"/>
				<br>
				<h4>Language:</h4>
				<input type="text"  ng-model="commonName.language"/>
				<br>
				<h4>Used In:</h4>
				<input type="text"  ng-model="commonName.usedIn"/>
				<br>
				<h4>Used By:</h4>
				<input type="text"  ng-model="commonName.usedBy"/>
				<br>
				<h4>Ancillary Data:</h4>
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(commonName.ancillaryData)">Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in commonName.ancillaryData">
					<div class="form-group">
						<h4>License:</h4>
						<input type="text"  ng-model="ancillary.license"/>
						<hr>
						<h4>Rights Holder:</h4>
						<input type="text"  ng-model="ancillary.rightsHolder"/>
						<hr>
						<h4>Bibliographic Citation:</h4>
						<input type="text"  ng-model="ancillary.bibliographicCitation"/>
						<hr>
						<h4>Source:</h4>
						<input type="text"  ng-model="ancillary.source"/>
						<hr>
						<h4>Media URL:</h4>
						<input type="text"  ng-model="ancillary.mediaURL"/>
						<hr>
						<h4>References:</h4>
						<div ng-repeat="ref in ancillary.reference">
							<h5>Identifier:</h5>
							<input type="text"  ng-model="ref.identifier"/>
							<br>
							<h5>Datatype:</h5>
							<input type="text"  ng-model="ref.datatype"/>
							<br>
							<h5>Source:</h5>
							<input type="text"  ng-model="ref.source"/>
							<hr>
						</div>
						<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
						<hr>
					</div>
				</div>
				<br>
				<button type="button" class="btn btn-info btn-sm" ng-click="addCommonNamesAtomized(formData.commonNameAtomized,commonName)">Accept</button>
			</div>
		</div>
	</div>
	<br>

	

	<h3>Hierarchies:</h3>
	<hr>
	<div ng-repeat="hierarchy in formData.hierarchy">
		<div ng-show="hierarchy.classification">
       		<div>classification :{{hierarchy.classification}}</div>
    	</div>
    	<div ng-show="hierarchy.recommended">
       		<div>recommended :{{hierarchy.recommended}}</div>
    	</div>
    	<div ng-show="hierarchy.kingdom">
       		<div>kingdom:{{hierarchy.kingdom}}</div>
    	</div>
    	<div ng-show="hierarchy.phylum">
       		<div>phylum :{{hierarchy.phylum}}</div>
    	</div>
    	<div ng-show="hierarchy.classHierarchy">
       		<div>class :{{hierarchy.classHierarchy}}</div>
    	</div>
    	<div ng-show="hierarchy.order">
       		<div>order :{{hierarchy.order}}</div>
    	</div>
    	<div ng-show="hierarchy.family">
       		<div>family :{{hierarchy.family}}</div>
    	</div>
    	<div ng-show="hierarchy.genus">
       		<div>genus :{{hierarchy.genus}}</div>
    	</div>
    	<div ng-show="hierarchy.subGenus">
       		<div>subGenus :{{hierarchy.subGenus}}</div>
    	</div>
    	<!--<div ng-show="hierarchy.taxonRank">
       		<div>taxonRank :{{hierarchy.taxonRank}}</div>
    	</div>-->
    	<div ng-show="hierarchy.specificEpithet">
       		<div>specificEpithet :{{hierarchy.specificEpithet}}</div>
    	</div>
    	<div ng-show="hierarchy.infraspecificEpithet">
       		<div>infraspecificEpithet :{{hierarchy.infraspecificEpithet}}</div>
    	</div>
    	<div ng-show="hierarchy.higherClassification">
       		<div>higherClassification :{{hierarchy.higherClassification}}</div>
    	</div>
    	<!--<div ng-show="hierarchy.parentTaxon">
       		<div>parentTaxon :{{hierarchy.parentTaxon}}</div>
    	</div>	 -->
    	<div ng-show="hierarchy.ancillaryData[0].source">
       		<div>Source :{{hierarchy.ancillaryData[0].source}}</div>
    	</div>
    	<hr>
	</div>

	<!--<div ng-controller="CollapseDemoCtrl">
	    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Add Hierarchy</button>
	    <hr>
	    <div collapse="isCollapsed">
	    	<div class="form-group">
				<h4>Classification:</h4>
				<input type="text"  ng-model="hierarchy.classification"/>
				<br>
				<h4>Recommended:</h4>
				<input type="text"  ng-model="hierarchy.recommended"/>
				<br>
				<h4>Kingdom:</h4>
				<input type="text"  ng-model="hierarchy.kingdom"/>
				<br>
				<h4>Phylum:</h4>
				<input type="text"  ng-model="hierarchy.phylum"/>
				<br>
				<h4>Class:</h4>
				<input type="text"  ng-model="hierarchy.classHierarchy"/>
				<br>
				<h4>Order:</h4>
				<input type="text"  ng-model="hierarchy.order"/>
				<br>
				<h4>Family:</h4>
				<input type="text"  ng-model="hierarchy.family"/>
				<br>
				<h4>Genus:</h4>
				<input type="text"  ng-model="hierarchy.genus"/>
				<br>
				<h4>Sub Genus:</h4>
				<input type="text"  ng-model="hierarchy.subGenus"/>
				<br>
				<h4>Taxon Rank:</h4>
				<input type="text"  ng-model="hierarchy.taxonRank"/>
				<br>
				<h4>Specific Epithet:</h4>
				<input type="text"  ng-model="hierarchy.specificEpithet"/>
				<br>
				<h4>Infraspecific Epithet:</h4>
				<input type="text"  ng-model="hierarchy.infraspecificEpithet"/>
				<br>
				<h4>Higher Classification:</h4>
				<input type="text"  ng-model="hierarchy.higherClassification"/>
				<br>
				<h4>Parent Taxon:</h4>
				<input type="text"  ng-model="hierarchy.parentTaxon"/>
				<br>
				<h4>Ancillary Data:</h4>
				<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(hierarchy.ancillaryData)">Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
				<div ng-repeat="ancillary in hierarchy.ancillaryData">
					<div class="form-group">
						<h4>License:</h4>
						<input type="text"  ng-model="ancillary.license"/>
						<hr>
						<h4>Rights Holder:</h4>
						<input type="text"  ng-model="ancillary.rightsHolder"/>
						<hr>
						<h4>Bibliographic Citation:</h4>
						<input type="text"  ng-model="ancillary.bibliographicCitation"/>
						<hr>
						<h4>Source:</h4>
						<input type="text"  ng-model="ancillary.source"/>
						<hr>
						<h4>Media URL:</h4>
						<input type="text"  ng-model="ancillary.mediaURL"/>
						<hr>
						<h4>References:</h4>
						<div ng-repeat="ref in ancillary.reference">
							<h5>Identifier:</h5>
							<input type="text"  ng-model="ref.identifier"/>
							<br>
							<h5>Datatype:</h5>
							<input type="text"  ng-model="ref.datatype"/>
							<br>
							<h5>Source:</h5>
							<input type="text"  ng-model="ref.source"/>
							<hr>
						</div>
						<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
						<hr>
					</div>
				</div>
				<br>
				<button type="button" class="btn btn-info btn-sm" ng-click="addHierarchy(formData.hierarchy,hierarchy)">Accept</button>
			</div>
		</div>
	</div>	
	<br> -->

</div> 

<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.taxoDesc" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>