/* BASIC STYLINGS
============================================================================= */
body                            { padding-top:20px; }
pre                             { margin-bottom:20px; }

/* form styling */
#form-container                { background:#ffffff; margin-bottom:10px;
    border-radius:5px; }
#form-container .page-header   { background:#ffffff; margin:0; padding:20px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#000000; display:inline-block; font-size:11px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#ffffff; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#00BC8C; }

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }
.form-control ,input{
     color: black;
}
.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}
/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;   
}

.drop-box {
    background: #adadad;
    border: 5px dashed #DDD;
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.h3{
  text-transform:uppercase;
}

.parrafo div {display: inline;}
.parrafo div p{display: inline;}
.parrafo-pegado div p{display: inline;}

@media screen and (min-width: 768px) {
  .equal, .equal > div[class*='col-'] {  
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex:1 1 auto;
  }
}
label+em{ color: #aaa;}

.panel-heading spanT{
  font-size:18px; 
  font-weight:bold;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}

.form-group{clear: both;}

.form-group input[type=text],
.form-group input[type="date"],
.form-group textarea,
.form-group select {
  width: 92% !important;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 5px;
}

.col-xs-11 input[type=text], {
  width: 90% !important;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.col-xs-10 select:focus {
   outline: none;
}

.pager li>a, .pager li>span {
  display: inline;
  padding: 5px 10px; 
  border-radius: 4px;
}

.nav>li>a:hover, 
.nav>li>a:focus {
    color: #ffffff;
    background-color: #446e9b;
    border-radius: 2px;
}