<div class="form-group">
	
	<h3>Brief Description:</h3>
	<hr>
	<input type="text" class="form-control" name="briefDescription" ng-model="formData.briefDescription"/>
	<br>

	
	<div ng-controller="CollapseDemoCtrl">
	    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed"> Full Description </button>
	    <hr>
	    <div collapse="isCollapsed">
			<h3>Full Description Unstructured:</h3>
			<input type="text" class="form-control" name="fullDescription" ng-model="formData.fullDescription.fullDescriptionUnstructured"/>
			
			<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.fullDescription.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in formData.fullDescription.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div>
			<br>
			
			<h3>Full Description Atomized:</h3>

			<div ng-repeat="measurementOrFact in formData.fullDescription.fullDescriptionAtomized.measurementOrFact" class="selected-item">
				<div ng-show="measurementOrFact">
       				<div>{{measurementOrFact}}</div>
    			</div>
			</div>

			<button class="btn btn-default" ng-click="isCollapsed_1 = !isCollapsed_1"> Add Full Description </button>
			<div collapse="isCollapsed_1">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="employee in employees">
						<div class="action-checkbox">
							<input id="{{employee.name}}" type="checkbox" value="{{employee.name}}" ng-checked="formData.fullDescription.fullDescriptionAtomized.measurementOrFact.indexOf(employee.name) > -1" ng-click="toggleSelection(formData.fullDescription.fullDescriptionAtomized.measurementOrFact,employee.name)" />
							<label for="{{employee.name}}"></label>
							{{employee.name}}
						</div>
					</div>
				</div>
			</div>	

			<!--<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.fullDescription.fullDescriptionAtomized.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
			<div ng-repeat="ancillary in formData.fullDescription.fullDescriptionAtomized.ancillaryData">
				<div class="form-group">
					<h4>License:</h4>
					<input type="text"  ng-model="ancillary.license"/>
					<hr>
					<h4>Rights Holder:</h4>
					<input type="text"  ng-model="ancillary.rightsHolder"/>
					<hr>
					<h4>Bibliographic Citation:</h4>
					<input type="text"  ng-model="ancillary.bibliographicCitation"/>
					<hr>
					<h4>Source:</h4>
					<input type="text"  ng-model="ancillary.source"/>
					<hr>
					<h4>Media URL:</h4>
					<input type="text"  ng-model="ancillary.mediaURL"/>
					<hr>
					<h4>References:</h4>
					<div ng-repeat="ref in ancillary.reference">
						<h5>Identifier:</h5>
						<input type="text"  ng-model="ref.identifier"/>
						<br>
						<h5>Datatype:</h5>
						<input type="text"  ng-model="ref.datatype"/>
						<br>
						<h5>Source:</h5>
						<input type="text"  ng-model="ref.source"/>
						<hr>
					</div>
					<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
					<hr>
				</div>
			</div> -->

			
		</div>
	</div>			
	<br>

	<h3>Identification Keys:</h3>
	<hr>
	<input type="text" class="form-control" name="identificationKeys" ng-model="formData.identificationKeys.keys"/> 

	<button type="button" class="btn btn-info btn-sm" ng-click="addAncillaryData(formData.identificationKeys.ancillaryData)">Add Ancillary Data<span class="glyphicon glyphicon-plus"></span> </button>
	<div ng-repeat="ancillary in formData.identificationKeys.ancillaryData">
		<div class="form-group">
			<h4>License:</h4>
			<input type="text"  ng-model="ancillary.license"/>
			<hr>
			<h4>Rights Holder:</h4>
			<input type="text"  ng-model="ancillary.rightsHolder"/>
			<hr>
			<h4>Bibliographic Citation:</h4>
			<input type="text"  ng-model="ancillary.bibliographicCitation"/>
			<hr>
			<h4>Source:</h4>
			<input type="text"  ng-model="ancillary.source"/>
			<hr>
			<h4>Media URL:</h4>
			<input type="text"  ng-model="ancillary.mediaURL"/>
			<hr>
			<h4>References:</h4>
			<div ng-repeat="ref in ancillary.reference">
				<h5>Identifier:</h5>
				<input type="text"  ng-model="ref.identifier"/>
				<br>
				<h5>Datatype:</h5>
				<input type="text"  ng-model="ref.datatype"/>
				<br>
				<h5>Source:</h5>
				<input type="text"  ng-model="ref.source"/>
				<hr>
			</div>
			<button type="button" class="btn btn-info btn-sm" ng-click="addReference(ancillary.reference)">Add Reference<span class="glyphicon glyphicon-plus"></span> </button>
			<hr>
		</div>
	</div>

</div> 

<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.history" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>