<div class="form-group">
	<div class="panel panel-default">
		<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.Uses"|translate}}<spanT>
	  	</div>
	  	<div class="panel-body">
  			<div ng-repeat="usesAtomized in formData.usesManagementAndConservation.usesAtomized" class="selected-item">
				<div ng-show="usesAtomized">
					<div>{{usesAtomized}}</div>
				</div>
			</div>

			<div class="form-group">
				<label for="sourceOfInformation" class="col-xs-2 control-label" translate>simplePliCTerm.name.SourceOfInformation</label>	
				<div class="col-xs-10">
                	<input id="sourceOfInformation" class="form-control" type="text" ng-model="usesAtomizedType.sourceOfInformation.sourceOfInformationText"/>
				</div>	
			</div>


			<div class="form-group">
				<label for="use-Value" class="col-xs-2 control-label" translate>simplePliCTerm.name.Use-Value</label>	
				<div class="col-xs-10">
					<input id="useValue" class="form-control" type="text" ng-model="usesAtomizedType.useValue"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="partUsed" class="col-xs-2 control-label" translate>simplePliCTerm.name.PartUsed</label>	
				<div class="col-xs-10">
					<div class="panel" ng-controller="checkBoxController">
						<div ng-repeat="pu in partUsed">
						    <input type="checkbox" ng-model="pu.checked" ng-click="updateSelectionPartUsedCategory(pu, partUsed)"/>
						    {{tc.name}}
				    	</div>
				    </div>
				</div>	
			</div>

			<div class="form-group">
				<label for="users" class="col-xs-2 control-label" translate>simplePliCTerm.name.Users</label>	
				<div class="col-xs-10">
					<input id="users" class="form-control" type="text" ng-model="usesAtomizedType.users"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="organisms" class="col-xs-2 control-label" translate>simplePliCTerm.name.Organisms</label>	
				<div class="col-xs-10">
					<input id="organisms" class="form-control" type="text" ng-model="usesAtomizedType.organisms"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="vernacularNameUseAnnotations" class="col-xs-2 control-label" translate>simplePliCTerm.name.VernacuarNameUseAnnotations</label>	
				<div class="col-xs-10">
					<input id="vernacularNameUseAnnotations" class="form-control" type="text" ng-model="usesAtomizedType.vernacularNameUseAnnotations"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="productionDetails" class="col-xs-2 control-label" translate>simplePliCTerm.name.ProductionDetails</label>	
				<div class="col-xs-10">
					<input id="productionDetails" class="form-control" type="text" ng-model="usesAtomizedType.productionDetails"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="administration" class="col-xs-2 control-label" translate>simplePliCTerm.name.MeansOfApplication-Administration</label>	
				<div class="col-xs-10">
					<input id="meansOfApplicationAdministration" class="form-control" type="text" ng-model="usesAtomizedType.meansOfApplicationAdministration"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="seasonOfAvailabilityUse" class="col-xs-2 control-label" translate>simplePliCTerm.name.SeasonOfAvailability-Use</label>	
				<div class="col-xs-10">
					<input id="seasonOfAvailabilityUse" class="form-control" type="text" ng-model="usesAtomizedType.seasonOfAvailabilityUse"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="conservationExplotationData" class="col-xs-2 control-label" translate>simplePliCTerm.name.Conservation-ExplotationData</label>	
				<div class="col-xs-10">
					<input id="conservationExplotationData" class="form-control" type="text" ng-model="usesAtomizedType.conservationExplotationData"/>
				</div>	
			</div>


			<div class="form-group">
				<label for="useTypeAtomized" class="col-xs-2 control-label" translate>simplePliCTerm.name.UseTypeAtomized</label>	
				<div class="col-xs-10">
					<div class="panel" ng-controller="checkBoxController">
						<div ng-repeat="uta in useTypeAtomized">
						    <input type="checkbox" ng-model="uta.checked" ng-click="updateSelectionUseTypeAtomized(uta, useTypeAtomized)"/>
						    {{uta.name}}
			    		</div>
					</div>
				</div>	
			</div>

			<div class="form-group">
				<label for="economics" class="col-xs-2 control-label" translate>simplePliCTerm.name.Economics</label>	
				<div class="col-xs-10">
					<input id="economics" class="form-control" type="text" ng-model="usesAtomizedType.economics"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="ratingPopularity" class="col-xs-2 control-label" translate>simplePliCTerm.name.RatingPopularity</label>	
				<div class="col-xs-10">
					<input id="ratingPopularity" class="form-control" type="text" ng-model="usesAtomizedType.ratingPopularity"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="administration" class="col-xs-2 control-label" translate>simplePliCTerm.name.Properties</label>	
				<div class="col-xs-10">
					<input id="properties" class="form-control" type="text" ng-model="usesAtomizedType.properties"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="potential" class="col-xs-2 control-label" translate>simplePliCTerm.name.Potential</label>	
				<div class="col-xs-10">
					<input id="potential" class="form-control" type="text" ng-model="usesAtomizedType.potential"/>
				</div>	
			</div>

			<div class="form-group">
				<label for="useNotes" class="col-xs-2 control-label" translate>simplePliCTerm.name.UsesNotes</label>	
				<div class="col-xs-10">
					<input id="useNotes" class="form-control" type="text" ng-model="usesAtomizedType.useNotes"/>
				</div>	
			</div>

			
			<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addAncillaryData(usesAtomizedType.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
		  		
	  		<div class="form-group">
				<div class="col-xs-11">
					<div ng-repeat="ancillary in usesAtomizedType.ancillaryData">
						<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
						<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
						<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
						<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
						<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
						<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(usesAtomizedType.ancillaryData, ancillaryData)">Eliminar</button>
					</div>	
				</div>
			</div>

			<button type="button" class="btn btn-default btn-sm pull-right" ng-click="addUsesAtomized(usesAtomizedType)">Guardar </button>
	  	</div>	
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.ManagementAndConservation"|translate}}<spanT>
	  	</div>
	  	<div class="panel-body">
  			<div ng-repeat="managementAndConservationAtomized in formData.usesManagementAndConservation.managementAndConservationAtomized" class="selected-item">
				<div ng-show="managementAndConservationAtomized">
					<div>{{managementAndConservationAtomized}}</div>
				</div>
			</div>

			<div class="form-group">
				<label for="type" class="col-xs-2 control-label" translate>simplePliCTerm.name.Type</label>	
				<div class="col-xs-10">
					<div class="panel" ng-controller="checkBoxController">
						<div ng-repeat="mt in managementType">
						    <input type="checkbox" ng-model="mt.checked" ng-click="updateSelectionManagementType(mt, managementType)"/>
						    {{mt.name}}
					    </div>
					</div>
				</div>	
			</div>


			<div class="form-group">
				<label for="objectives" class="col-xs-2 control-label" translate>simplePliCTerm.name.Objectives</label>	
				<div class="col-xs-10">
					 <input id="objective" class="form-control" type="text" ng-model="managementAndConservationAtomizedType.objective"/>
				</div>	
			</div>

	
			<div class="form-group">
				<label for="managementPlan" class="col-xs-2 control-label" translate>simplePliCTerm.name.ManagementPlan</label>	
				<div class="col-xs-10">
					 <input id="managementPlan" class="form-control" type="text" ng-model="managementAndConservationAtomizedType.managementPlan"/>
				</div>	
			</div>


			<div class="form-group">
				<label for="actions" class="col-xs-2 control-label" translate>simplePliCTerm.name.Actions</label>	
				<div class="col-xs-10">
					<div class="panel" ng-controller="checkBoxController">
						<div ng-repeat="ma in managementAction">
						    <input type="checkbox" ng-model="ma.checked" ng-click="updateSelectionManagementAction(ma)"/>
						    {{ma.name}}
					    </div>
					</div>
				</div>	
			</div>

			<div class="form-group">
				<label for="humanAndEnvironmentalRelevance" class="col-xs-2 control-label" translate>simplePliCTerm.name.HumanAndEnvironmentalRelevance</label>	
				<div class="col-xs-10">
	                <input id="humanAndEnvironmentalrelevanc" class="form-control" type="text" ng-model="managementAndConservationAtomizedType.humanAndEnvironmentalrelevanc"/>
				</div>	
			</div>
			
		  		
	  		<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addAncillaryData(managementAndConservationAtomizedType.ancillaryData)" translate>simplePliCTerm.name.AncillaryData<span class="glyphicon glyphicon-plus"></span> </button>
	  		
	  		<div class="form-group">
				<div class="col-xs-11">
					<div ng-repeat="ancillary in managementAndConservationAtomizedType.ancillaryData">
						<input type="text"  ng-model="ancillary.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
						<input type="text"  ng-model="ancillary.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
						<input type="text"  ng-model="ancillary.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
						<input type="text"  ng-model="ancillary.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
						<input type="text"  ng-model="ancillary.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
						<button type="button" class="btn btn-primary btn-sm" ng-click="removeAncillaryData(managementAndConservationAtomizedType.ancillaryData, ancillaryData)">Eliminar</button>
					</div>	
				</div>
			</div>

			<button type="button" class="btn btn-default btn-sm pull-right" ng-click="addManagementAndConservation(managementAndConservationAtomizedType)">Guardar </button>
	  	</div>	
	</div>
</div> 

<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.associatedParty" class="btn btn-block btn-info">
    Siguiente Sección <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>