
<div data-ng-controller="BriefDescriptionCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <spant>{{"simplePliCTerm.name.BriefDescription"|translate}} 
        <spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.BriefDescription&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
      </spant>
      <button type="button" data-ng-click="addBriefDescription()" class="btn btn-success btn-xs pull-right"> <span aria-hidden="true" class="glyphicon glyphicon-floppy-disk"></span></button>
    </div>
    <div class="panel-body">
      <textarea rows="3" name="briefDescription" data-ng-model="formData.briefDescription"></textarea>
    </div>
  </div>
</div>