
<div data-ng-controller="CommonNameCtrl">
  <div data-ng-controller="CollapseDemoCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">
        <spant>{{"simplePliCTerm.name.CommonNamesAtomized"|translate}}</spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.CommonNamesAtomized&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
        <button data-ng-click="isCollapsed = !isCollapsed" class="btn btn-success btn-xs pull-right"><span ng-class="{'glyphicon glyphicon-plus': isCollapsed , 'glyphicon glyphicon-minus' : !isCollapsed}" aria-hidden="true"></span></button>
      </div>
      <div class="panel-body">
        <div uib-collapse="isCollapsed" id="commonNameForm">
          <div class="form-group">
            <div class="form-group">
              <label for="canonicalName" translate="" class="col-xs-2 control-label">simplePliCTerm.name.Name</label>
              <div class="col-xs-10">
                <input type="text" data-ng-model="commonName.name"/><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.Name&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
              </div>
            </div>
            <div class="form-group">
              <label for="language" translate="" class="col-xs-2 control-label">simplePliCTerm.name.Language</label>
              <div class="col-xs-4">
                <select data-ng-model="commonName.language" ng-options="lang.Idioma as lang.Idioma for lang in idiomas ">
                  <option value="">- Seleccione -</option>
                </select>
              </div>
              <div class="col-xs-4">
                <input type="text" data-ng-model="commonName.language" placeholder="Otro"/>
              </div>
              <div class="col-xs-2"><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.Language&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></div>
            </div>
            <div class="form-group">
              <label for="usedIn" translate="" class="col-xs-2 control-label">simplePliCTerm.name.UsedIn</label>
              <div class="col-xs-10">
                <input type="text" data-ng-model="commonName.usedIn.distributionUnstructured"/><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.UsedIn&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
              </div>
            </div>
            <div class="form-group">
              <label for="usedBy" translate="" class="col-xs-2 control-label">simplePliCTerm.name.UsedBy</label>
              <div class="col-xs-10">
                <input type="text" data-ng-model="commonName.usedBy"/><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.UsedBy&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
              </div>
            </div>
            <div class="form-group">
              <label for="ancillaryData" translate="" class="col-xs-2 control-label">Licencia</label>
              <div class="col-xs-10">
                <div data-ng-show="(commonName.ancillaryData).length" class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>{{"simplePliCTerm.name.license"|translate}}</th>
                        <!--th {{"simplePliCTerm.name.References"|translate}}-->
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="ancillary in commonName.ancillaryData track by $index">
                        <td>{{ancillary.license}}</td>
                        <!--td 
                        .selected-item(data-ng-repeat='ref in ancillary.reference track by $index')
                        	div(data-ng-show='ref')
                        		textarea(disabled)
                        			| {{ref|references_format}}
                        -->
                        <td>
                          <button data-ng-click="removeAncillaryData(commonName.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                          <button data-ng-click="editAncillaryData(commonName.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--input(type='text', data-ng-model='ancillaryData.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')-->
                <!--button.btn-xs(data-ng-click='findAncillary(ancillaryData.source)')span.glyphicon.glyphicon-search
                -->
                <!--.panel.panel-default
                .panel-heading
                	spant {{"simplePliCTerm.name.References"|translate}}
                	a.btn-xs(data-container='body', data-toggle='popover', data-placement='left', title='{{"simplePliCTerm.definition.References"|translate}}')
                		span.glyphicon.glyphicon-info-sign
                	span(data-ng-controller="ModalCtrl")
                		script(type = "text/ng-template" id="referenceSearch")
                			include referenceSearch
                		button.btn.btn-success.btn-xs.pull-right(data-ng-click="open(formData.references,ancillaryData.reference)")
                			span.glyphicon.glyphicon-search
                		button.btn.btn-success.btn-xs.pull-right(href="", data-ng-click="slide()")
                			span(ng-class="{'glyphicon glyphicon-plus': !checked , 'glyphicon glyphicon-minus' : checked}", aria-hidden='true')
                	
                .panel-body
                	div.table-responsive(data-ng-show='(ancillaryData.reference).length')
                		table.table.table-striped
                			tbody
                				tr(data-ng-repeat="ref in ancillaryData.reference track by $index")
                					td.col-xs-9
                						textarea(disabled)
                							| {{ref|references_format}}
                					td.col-xs-1
                						button.btn(data-ng-click='removeReference(ancillaryData.reference,reference)')
                							span(class="glyphicon glyphicon-trash", aria-hidden='true')
                						button.btn(data-ng-click='editReference(ancillaryData.reference,ref)')
                							span(class="glyphicon glyphicon-pencil", aria-hidden='true')
                
                	div(pageslide ps-open="checked" ps-key-listener="true")
                		div(style="padding:30px" id="demo-right")
                			h3 Agregar nueva referencia
                			.form-group
                				select(data-ng-model='reference.type', ng-options='type.original as type.view for type in lenguajes.reference_type ')
                					option(value='') - {{"simplePliCTerm.name.type"|translate}} 
                				input(type='text', data-ng-model='reference.source', placeholder='{{"simplePliCTerm.name.Source"|translate}}')
                				input(type='text', data-ng-model='reference.title', placeholder='{{"simplePliCTerm.name.title"|translate}}')
                				input(type='text', data-ng-model='reference.authors', placeholder='{{"simplePliCTerm.name.authors"|translate}}')
                				input(type='text', data-ng-model='reference.year', placeholder='{{"simplePliCTerm.name.year"|translate}}')
                				input(type='text', data-ng-model='reference.volume', placeholder='{{"simplePliCTerm.name.volume"|translate}}')
                				input(type='text', data-ng-model='reference.issue', placeholder='{{"simplePliCTerm.name.issue"|translate}}')
                				input(type='text', data-ng-model='reference.pages', placeholder='{{"simplePliCTerm.name.pages"|translate}}')
                				input(type='text', data-ng-model='reference.series', placeholder='{{"simplePliCTerm.name.series"|translate}}')
                				input(type='text', data-ng-model='reference.chapter', placeholder='{{"simplePliCTerm.name.chapter"|translate}}')
                				input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.websites"|translate}}')
                				input(type='text', data-ng-model='reference.accessed', placeholder='{{"simplePliCTerm.name.accessed"|translate}}')
                				input(type='text', data-ng-model='reference.publisher', placeholder='{{"simplePliCTerm.name.publisher"|translate}}')
                				input(type='text', data-ng-model='reference.address', placeholder='{{"simplePliCTerm.name.city"|translate}}')
                				input(type='text', data-ng-model='reference.edition', placeholder='{{"simplePliCTerm.name.edition"|translate}}')
                				input(type='text', data-ng-model='reference.institution', placeholder='{{"simplePliCTerm.name.institution"|translate}}')
                				input(type='text', data-ng-model='reference.editors', placeholder='{{"simplePliCTerm.name.editors"|translate}}')
                				input(type='text', data-ng-model='reference.keywords', placeholder='{{"simplePliCTerm.name.keywords"|translate}}')
                				input(type='text', data-ng-model='reference.doi', placeholder='{{"simplePliCTerm.name.doi"|translate}}')
                				input(type='text', data-ng-model='reference.isbn', placeholder='{{"simplePliCTerm.name.isbn"|translate}}')
                				input(type='text', data-ng-model='reference.issn', placeholder='{{"simplePliCTerm.name.issn"|translate}}')
                				//input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')
                				div.pull-right
                					button.btn.btn-primary.btn-xs(type='button', data-ng-click='addReference(ancillaryData.reference,reference, checked)', translate='') Guardar
                					button.btn.btn-primary.btn-xs(type='button', data-ng-click='cancelReference()', translate='') Cancelar
                -->
                <div class="form-group">
                  <panel data-ng-controller="CheckBoxCrtl">
                    <div data-ng-repeat="lic in lincese_list | filter:{nombre : '!Otra'}">
                      <input type="checkbox" data-ng-model="lic.checked" data-ng-click="updateSelectionLicence(lic, lincese_list, &quot;ManualLicenseFullDescription&quot;)"/><a data-ng-href="{{lic.url}}" target="_blank"><img id="image" data-ng-src="{{lic.image_url || '//:0' }}" hspace="10" vspace="7"/>{{lic.nombre}}</a>
                      <spant data-ng-show="lic.definicion"></spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{lic.definicion}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
                    </div>
                    <p id="ManualLicenseFullDescription"></p>
                    <p style="font-size:90%;"><i>* Para uso de otras licencias que no estén en este listado por favor escribenos a: sib+ac@humboldt.org.co</i></p>
                  </panel>
                  <label for="rights" translate="" class="control-label">simplePliCTerm.name.rights</label>
                  <select data-ng-model="ancillaryData.rights" ng-options="prov.proveedorDeContenido as prov.proveedorDeContenido for prov in prov_contenido | unique:'proveedorDeContenido'">
                    <option value="">- Seleccione -</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="button" data-ng-click="addAncillaryData(commonName.ancillaryData,ancillaryData)" translate="" class="btn btn-primary btn-xs pull-right">Guardar licencia</button>
            </div>
            <div class="form-group">
              <div class="pull-right">
                <button type="button" data-ng-click="addCommonNamesAtomized(formData.commonNameAtomized,commonName)" class="btn btn-success btn-sm">Guardar</button>
                <button type="button" data-ng-click="cancelCommonNamesAtomized()" class="btn btn-success btn-sm">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div data-ng-show="(formData.commonNameAtomized).length" class="table-responsive">
          <hr/>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-md-2">
                   
                  {{"simplePliCTerm.name.Name"|translate}}
                </th>
                <th class="col-md-2">
                   
                  {{"simplePliCTerm.name.Language"|translate}}
                </th>
                <th class="col-md-2">
                   
                  {{"simplePliCTerm.name.UsedIn"|translate}}
                </th>
                <th class="col-md-2">
                   
                  {{"simplePliCTerm.name.UsedBy"|translate}}
                </th>
                <th class="col-md-2"></th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="commonName in formData.commonNameAtomized track by $index">
                <td>
                  <div data-ng-show="commonName.name">{{commonName.name}}</div>
                </td>
                <td>
                  <div data-ng-show="commonName.language">{{commonName.language}}</div>
                </td>
                <td>
                  <div data-ng-show="commonName.usedIn.distributionUnstructured">{{commonName.usedIn.distributionUnstructured}}</div>
                </td>
                <td>
                  <div data-ng-show="commonName.usedBy">{{commonName.usedBy}}</div>
                </td>
                <td>
                  <button data-ng-click="removeCommonNamesAtomized(formData.commonNameAtomized,commonName)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                  <button data-ng-click="editCommonNamesAtomized(formData.commonNameAtomized,commonName)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>