
<div data-ng-controller="DistributionCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <spant>{{"simplePliCTerm.name.Distribution"|translate}}
        <spant></spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.Distribution&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
      </spant>
      <!--button.btn.btn-success.btn-xs.pull-right(data-ng-click='addDistribution(formData.distribution,distributionClass)')span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
      -->
    </div>
    <div class="panel-body">
      <div data-ng-show="(formData.distribution).length" class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{{"simplePliCTerm.name.DistributionScope"|translate}}</th>
              <th>{{"simplePliCTerm.name.TemporalCoverage"|translate}}</th>
              <th>Distribución atomizada</th>
              <th>{{"simplePliCTerm.name.DistributionUnstructured"|translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="distribution in formData.distribution">
              <td>{{distribution.distributionScope.type}}</td>
              <td>{{distribution.temporalCoverage.startDate|split:'T':0}} / {{distribution.temporalCoverage.endDate|split:'T':0}}	</td>
              <td>
                <div data-ng-repeat="distributionA in distribution.distributionAtomized" class="selected-item">
                  <div data-ng-show="distributionA">{{distributionA.country}} - {{distributionA.stateProvince}} - {{distributionA.county}}</div>
                </div>
              </td>
              <td>{{distribution.distributionUnstructured}}</td>
              <td>
                <button data-ng-click="removeDistribution(formData.distribution,distribution)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                <button data-ng-click="editDistribution(formData.distribution,distribution)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr/>
      </div>
      <div class="form-group">
        <label for="distributionScope" translate="" class="col-xs-2 control-label">simplePliCTerm.name.DistributionScope</label>
        <div class="col-xs-10">
          <div data-ng-controller="CheckBoxCrtl" class="panel">
            <div data-ng-repeat="ds in lenguajes.distributionScope">
              <input type="checkbox" data-ng-model="ds.checked" data-ng-click="updateSelectionDistributionScope(ds, lenguajes.distributionScope)"/>{{ds.name}}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="temporalCoverage" translate="" class="col-xs-2 control-label">simplePliCTerm.name.TemporalCoverage</label>
        <div class="col-xs-4">
          <label>{{simplePliCTerm.name.startDate|translate}} </label>
          <div data-ng-controller="DatepickerCtrl">
            <p class="input-group">
              <input type="text" uib-datepicker-popup="yyyy/MM/dd" data-ng-model="distributionClass.temporalCoverage.startDate" is-open="status.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" class="form-control"/><span class="input-group-btn">
                <button type="button" data-ng-click="open($event)" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button></span>
            </p>
          </div>
        </div>
        <div class="col-xs-4">
          <label>{{simplePliCTerm.name.endDate|translate}}</label>
          <div data-ng-controller="DatepickerCtrl">
            <p class="input-group">
              <input type="text" uib-datepicker-popup="yyyy/MM/dd" data-ng-model="distributionClass.temporalCoverage.endDate" is-open="status.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" class="form-control"/><span class="input-group-btn">
                <button type="button" data-ng-click="open($event)" class="btn btn-default"><i class="glyphicon glyphicon-calendar"> </i></button></span>
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="temporalCoverage" translate="" class="col-xs-2 control-label">Distribución atomizada</label>
        <div data-ng-controller="UbicacionCtrl">
          <div class="col-xs-3">
            <select data-ng-model="distributionOpt2.country" ng-options="attr.countryName as attr.countryName for attr in ubicacion ">
              <option value="">{{"simplePliCTerm.name.country"|translate}}</option>
            </select>
          </div>
          <div class="col-xs-3">
            <select data-ng-model="distributionOpt2.stateProvince" data-ng-disabled="!distributionOpt2.country" ng-options="item.departmentName as item.departmentName for item in selectedAttr.departments ">
              <option value="">{{"simplePliCTerm.name.stateProvince"|translate}}</option>
            </select>
          </div>
          <div class="col-xs-3">
            <select data-ng-model="distributionOpt2.county" data-ng-disabled="!distributionOpt2.country || !distributionOpt2.stateProvince" ng-options="item.countyName as item.countyName for item in selectedAttr2.counties ">
              <option value="">{{"simplePliCTerm.name.county"|translate}}</option>
            </select>
          </div>
          <div class="col-xs-1">
            <button data-ng-click="addDistributionOpt2(distributionClass.distributionAtomized,distributionOpt2)" class="btn btn-success btn-xs pull-right">Agregar</button>
          </div>
        </div>
        <label for="temporalCoverage" translate="" class="col-xs-2 control-label"> </label>
        <div class="col-xs-10">
          <div data-ng-show="(distributionClass.distributionAtomized).length" class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>{{"simplePliCTerm.name.country"|translate}}</th>
                  <th>{{"simplePliCTerm.name.stateProvince"|translate}}</th>
                  <th>{{"simplePliCTerm.name.county"|translate}}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="distribution in distributionClass.distributionAtomized">
                  <td>{{distribution.country}}</td>
                  <td>{{distribution.stateProvince}}	</td>
                  <td>{{distribution.county}}</td>
                  <td>
                    <button data-ng-click="removeDistributionOpt2(distributionClass.distributionAtomized,distribution)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-2">
          <label for="distributionUnstructured" translate="">simplePliCTerm.name.DistributionUnstructured</label><em>(opcional)</em><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.DistributionUnstructured&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
        </div>
        <div class="col-xs-10">
          <textarea rows="3" name="distribution" data-ng-model="distributionClass.distributionUnstructured"></textarea>
          <div class="form-group">
            <div data-ng-show="(distributionClass.ancillaryData).length" class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="col-xs-1">{{"simplePliCTerm.name.source"|translate}}</th>
                    <!--th {{"simplePliCTerm.name.bibliographicCitation"|translate}}-->
                    <!--th {{"simplePliCTerm.name.license"|translate}}-->
                    <!--th {{"simplePliCTerm.name.rights"|translate}}-->
                    <th class="col-xs-9">{{"simplePliCTerm.name.References"|translate}}</th>
                    <th class="col-xs-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="ancillary in distributionClass.ancillaryData track by $index">
                    <td>{{ancillary.source}}	</td>
                    <!--td| {{ancillary.bibliographicCitation}}
                    -->
                    <!--td| {{ancillary.license}}	
                    -->
                    <!--td
                    | {{ancillary.rights}}
                    
                    -->
                    <td>
                      <div data-ng-repeat="ref in ancillary.reference track by $index" class="selected-item">
                        <div data-ng-show="ref">
                          <textarea disabled="disabled">{{ref|references_format}}</textarea>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button data-ng-click="removeAncillaryData(distributionClass.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                      <button data-ng-click="editAncillaryData(distributionClass.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div data-ng-controller="CollapseDemoCtrl">
            <button type="button" data-ng-click="isCollapsed = !isCollapsed" class="btn btn-primary btn-sm pull-right">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
            <div uib-collapse="isCollapsed" id="ancillaryDistribution">
              <input type="text" data-ng-model="ancillaryData.source" placeholder="{{&quot;simplePliCTerm.name.source&quot;|translate}}"/>
              <button data-ng-click="findAncillary(ancillaryData.source)" class="btn-xs"><span class="glyphicon glyphicon-search"></span></button>
              <input type="text" data-ng-model="ancillaryData.bibliographicCitation" placeholder="{{&quot;simplePliCTerm.name.bibliographicCitation&quot;|translate}}"/>
              <input type="text" data-ng-model="ancillaryData.license" placeholder="{{&quot;simplePliCTerm.name.license&quot;|translate}}"/>
              <input type="text" data-ng-model="ancillaryData.rights" placeholder="{{&quot;simplePliCTerm.name.rights&quot;|translate}}"/>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <spant>{{"simplePliCTerm.name.References"|translate}}</spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.References&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a><span data-ng-controller="ModalCtrl">
                    <script type="text/ng-template" id="referenceSearch">
                      <div class="modal-header">
                        <h3 class="modal-title">Referencias disponibles
                          <button data-ng-click="cancel()" class="btn btn-xs pull-right"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
                        </h3>
                      </div>
                      <div class="modal-body">
                        <div data-ng-repeat="item in items track by $index">
                          <input type="checkbox" ng-checked="list.indexOf(item) &gt; -1" data-ng-click="toggleSelection(item)"/>{{item|references_format_without_url}}
                        </div>
                      </div>
                      <div class="modal-footer"></div>
                    </script>
                    <button data-ng-click="open(formData.references,ancillaryData.reference)" class="btn btn-success btn-xs pull-right"><span class="glyphicon glyphicon-search"></span></button></span>
                  <button data-ng-click="isCollapsed_1 = !isCollapsed_1" class="btn btn-success btn-xs pull-right"><span ng-class="{'glyphicon glyphicon-plus': isCollapsed_1 , 'glyphicon glyphicon-minus' : !isCollapsed_1}" aria-hidden="true"></span></button>
                </div>
                <div class="panel-body">
                  <div data-ng-show="(ancillaryData.reference).length" class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr data-ng-repeat="ref in ancillaryData.reference track by $index">
                          <td class="col-xs-9">
                            <textarea disabled="disabled">{{ref|references_format}}</textarea>
                          </td>
                          <td class="col-xs-1">
                            <button data-ng-click="removeReference(ancillaryData.reference,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                            <button data-ng-click="editReference(ancillaryData.reference,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div uib-collapse="isCollapsed_1" id="referenceDistribution">
                    <div class="form-group">
                      <select data-ng-model="reference.type" ng-options="type.original as type.view for type in lenguajes.reference_type ">
                        <option value="">- {{"simplePliCTerm.name.type"|translate}} </option>
                      </select>
                      <input type="text" data-ng-model="reference.source" placeholder="{{&quot;simplePliCTerm.name.Source&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.title" placeholder="{{&quot;simplePliCTerm.name.title&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.authors" placeholder="{{&quot;simplePliCTerm.name.authors&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.year" placeholder="{{&quot;simplePliCTerm.name.year&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.volume" placeholder="{{&quot;simplePliCTerm.name.volume&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.issue" placeholder="{{&quot;simplePliCTerm.name.issue&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.pages" placeholder="{{&quot;simplePliCTerm.name.pages&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.series" placeholder="{{&quot;simplePliCTerm.name.series&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.chapter" placeholder="{{&quot;simplePliCTerm.name.chapter&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.link" placeholder="{{&quot;simplePliCTerm.name.websites&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.accessed" placeholder="{{&quot;simplePliCTerm.name.accessed&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.publisher" placeholder="{{&quot;simplePliCTerm.name.publisher&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.address" placeholder="{{&quot;simplePliCTerm.name.city&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.edition" placeholder="{{&quot;simplePliCTerm.name.edition&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.institution" placeholder="{{&quot;simplePliCTerm.name.institution&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.editors" placeholder="{{&quot;simplePliCTerm.name.editors&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.keywords" placeholder="{{&quot;simplePliCTerm.name.keywords&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.doi" placeholder="{{&quot;simplePliCTerm.name.doi&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.isbn" placeholder="{{&quot;simplePliCTerm.name.isbn&quot;|translate}}"/>
                      <input type="text" data-ng-model="reference.issn" placeholder="{{&quot;simplePliCTerm.name.issn&quot;|translate}}"/>
                      <!--input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')-->
                    </div>
                    <button type="button" data-ng-click="addReference(ancillaryData.reference,reference)" translate="" class="btn btn-primary btn-xs pull-right">Guardar Referencia</button>
                    <button type="button" data-ng-click="cancelReference()" class="btn btn-primary btn-xs pull-right">Cancelar</button>
                  </div>
                </div>
              </div>
              <button type="button" data-ng-click="addAncillaryData(distributionClass.ancillaryData,ancillaryData)" translate="" class="btn btn-primary btn-sm">Guardar</button>
              <button type="button" data-ng-click="cancelAncillaryData()" class="btn btn-primary btn-sm">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button data-ng-click="addDistribution(formData.distribution,distributionClass)" class="btn btn-success btn-sm pull-right">Guardar</button>
      </div>
    </div>
  </div>
</div>