
<div data-ng-controller="LifeFormCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <spant>{{"simplePliCTerm.name.LifeForm" | translate}}
        <spant></spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.LifeForm&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
      </spant>
      <!--button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addLifeForm()') span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
      -->
    </div>
    <div class="panel-body">
      <div data-ng-show="(formData.lifeForm.lifeFormAtomized).length" class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fuente de Información</th>
              <th> </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="lifeFormAtomized in formData.lifeForm.lifeFormAtomized track by $index">
              <td>{{lifeFormAtomized.measurementOrFact.measurementType}}</td>
              <td>{{lifeFormAtomized.measurementOrFact.measurementValue}}</td>
              <td>
                <button data-ng-click="removeLifeFormAtomized(formData.lifeForm.lifeFormAtomized, lifeFormAtomized)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <div data-ng-controller="MeasurementCtrl">
          <div class="col-xs-5">
            <select data-ng-model="lifeFormAtomized.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in lenguajes.lifeForms | unique:'measurementtype'">
              <option value="">- Seleccione -</option>
            </select>
          </div>
          <div class="col-xs-5">
            <select data-ng-model="lifeFormAtomized.measurementValue" data-ng-disabled="!lifeFormAtomized.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr">
              <option value="">- Seleccione -</option>
            </select>
          </div>
          <div class="col-xs-2">
            <button data-ng-click="addMeasurementOrFactVector(formData.lifeForm.lifeFormAtomized, measurementOrFact)" class="btn btn-success btn-xs pull-right">Guardar </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <hr/>
        <label for="lifeFormUnstructured" translate="">simplePliCTerm.name.LifeFormUnstructured</label><em>(opcional)</em><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.LifeFormUnstructured&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
        <textarea rows="3" name="lifeForm" data-ng-model="formData.lifeForm.lifeFormUnstructured"></textarea>
        <div data-ng-controller="CollapseDemoCtrl">
          <div class="form-group">
            <div data-ng-show="(formData.lifeForm.ancillaryData).length" class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>{{"simplePliCTerm.name.source"|translate}}</th>
                    <th>{{"simplePliCTerm.name.bibliographicCitation"|translate}}</th>
                    <th>{{"simplePliCTerm.name.license"|translate}}</th>
                    <th>{{"simplePliCTerm.name.rights"|translate}}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="ancillary in formData.lifeForm.ancillaryData track by $index">
                    <td>{{ancillary.source}}</td>
                    <td>{{ancillary.bibliographicCitation}}</td>
                    <td>{{ancillary.license}}	</td>
                    <td>{{ancillary.rights}}</td>
                    <td>
                      <button data-ng-click="removeAncillaryData(formData.lifeForm.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                      <button data-ng-click="editAncillaryData(formData.lifeForm.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button type="button" data-ng-click="isCollapsed = !isCollapsed" class="btn btn-primary btn-sm">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
            <div class="col-xs-10">
              <div uib-collapse="isCollapsed" id="ancillaryLifeForm">
                <input type="text" data-ng-model="ancillaryData.source" placeholder="{{&quot;simplePliCTerm.name.source&quot;|translate}}"/>
                <button data-ng-click="findAncillary(ancillaryData.source)" class="btn-xs"><span class="glyphicon glyphicon-search"></span></button>
                <input type="text" data-ng-model="ancillaryData.bibliographicCitation" placeholder="{{&quot;simplePliCTerm.name.bibliographicCitation&quot;|translate}}"/>
                <input type="text" data-ng-model="ancillaryData.license" placeholder="{{&quot;simplePliCTerm.name.license&quot;|translate}}"/>
                <input type="text" data-ng-model="ancillaryData.rights" placeholder="{{&quot;simplePliCTerm.name.rights&quot;|translate}}"/>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <spant>{{"simplePliCTerm.name.References"|translate}}</spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.References&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a><span data-ng-controller="ModalCtrl">
                      <script type="text/ng-template" id="referenceSearch">
                        <div class="modal-header">
                          <h3 class="modal-title">Referencias disponibles
                            <button data-ng-click="cancel()" class="btn btn-xs pull-right"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
                          </h3>
                        </div>
                        <div class="modal-body">
                          <div data-ng-repeat="item in items">
                            <input type="checkbox" ng-checked="list.indexOf(item) &gt; -1" data-ng-click="toggleSelection(item)"/>{{item.title}}
                          </div>
                        </div>
                        <div class="modal-footer"></div>
                      </script>
                      <button data-ng-click="open(formData.references,ancillaryData.reference)" class="btn btn-success btn-xs pull-right"><span class="glyphicon glyphicon-search"></span></button></span>
                    <button data-ng-click="isCollapsed_1 = !isCollapsed_1" class="btn btn-success btn-xs pull-right"><span ng-class="{'glyphicon glyphicon-plus': isCollapsed_1 , 'glyphicon glyphicon-minus' : !isCollapsed_1}" aria-hidden="true"></span></button>
                  </div>
                  <div class="panel-body">
                    <div data-ng-show="(ancillaryData.reference).length" class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>{{"simplePliCTerm.name.type"|translate}}</th>
                            <th>{{"simplePliCTerm.name.Source"|translate}}</th>
                            <th>{{"simplePliCTerm.name.title"|translate}}</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr data-ng-repeat="ref in ancillaryData.reference track by $index">
                            <td>{{ref.type|references_translate:this}}</td>
                            <td>{{ref.source}}</td>
                            <td>{{ref.title}}</td>
                            <td>
                              <button data-ng-click="removeReference(ancillaryData.reference,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                              <button data-ng-click="editReference(ancillaryData.reference,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div uib-collapse="isCollapsed_1" id="referenceLifeForm">
                      <div class="form-group">
                        <select data-ng-model="reference.type" ng-options="type.original as type.view for type in lenguajes.reference_type ">
                          <option value="">- {{"simplePliCTerm.name.type"|translate}} </option>
                        </select>
                        <input type="text" data-ng-model="reference.source" placeholder="{{&quot;simplePliCTerm.name.Source&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.title" placeholder="{{&quot;simplePliCTerm.name.title&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.authors" placeholder="{{&quot;simplePliCTerm.name.authors&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.year" placeholder="{{&quot;simplePliCTerm.name.year&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.volume" placeholder="{{&quot;simplePliCTerm.name.volume&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.issue" placeholder="{{&quot;simplePliCTerm.name.issue&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.pages" placeholder="{{&quot;simplePliCTerm.name.pages&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.series" placeholder="{{&quot;simplePliCTerm.name.series&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.chapter" placeholder="{{&quot;simplePliCTerm.name.chapter&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.websites" placeholder="{{&quot;simplePliCTerm.name.websites&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.accessed" placeholder="{{&quot;simplePliCTerm.name.accessed&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.publisher" placeholder="{{&quot;simplePliCTerm.name.publisher&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.address" placeholder="{{&quot;simplePliCTerm.name.city&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.edition" placeholder="{{&quot;simplePliCTerm.name.edition&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.institution" placeholder="{{&quot;simplePliCTerm.name.institution&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.editors" placeholder="{{&quot;simplePliCTerm.name.editors&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.keywords" placeholder="{{&quot;simplePliCTerm.name.keywords&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.doi" placeholder="{{&quot;simplePliCTerm.name.doi&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.isbn" placeholder="{{&quot;simplePliCTerm.name.isbn&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.issn" placeholder="{{&quot;simplePliCTerm.name.issn&quot;|translate}}"/>
                        <!--input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')-->
                      </div>
                      <button type="button" data-ng-click="addReference(ancillaryData.reference,reference)" translate="" class="btn btn-primary btn-xs pull-right">Guardar Referencia</button>
                      <button type="button" data-ng-click="cancelReference()" class="btn btn-primary btn-xs pull-right">Cancelar</button>
                    </div>
                  </div>
                </div>
                <button type="button" data-ng-click="addAncillaryData(formData.lifeForm.ancillaryData,ancillaryData)" translate="" class="btn btn-primary btn-sm">Guardar</button>
                <button type="button" data-ng-click="cancelAncillaryData()" class="btn btn-primary btn-sm">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>