
<div data-ng-controller="MoreInformationCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <spant>Más Información</spant>
      <!--button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addMoreInformation()') span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
      -->
    </div>
    <div class="panel-body">
      <div class="form-group">
        <textarea rows="3" name="moreInformation" data-ng-model="formData.moreInformation"></textarea>
      </div>
    </div>
  </div>
</div>