
<div data-ng-controller="MoreInformationCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <spant>Más Información</spant>
      <button type="button" data-ng-click="addMoreInformation()" class="btn btn-success btn-xs pull-right"> <span aria-hidden="true" class="glyphicon glyphicon-floppy-disk"></span></button>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <textarea rows="3" name="moreInformation" data-ng-model="formData.moreInformation"></textarea>
      </div>
    </div>
  </div>
</div>