
<div data-ng-controller="TerritoryCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <spant>{{"simplePliCTerm.name.Territory"|translate}}
        <spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.Territory&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></spant>
      </spant>
      <!--button.btn.btn-success.btn-xs.pull-right(type='button', data-ng-click='addTerritory()') span(class="glyphicon glyphicon-floppy-disk", aria-hidden='true')
      -->
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="extentOfOccurrence" translate="" class="col-xs-2 control-label">simplePliCTerm.name.ExtentOfOccurrence</label>
        <div class="col-xs-10">
          <input type="text" data-ng-model="formData.territory.territoryAtomized.extentOfOccurrence"/>
        </div>
      </div>
      <div class="form-group">
        <label for="areaOfOccupancy" translate="" class="col-xs-2 control-label">simplePliCTerm.name.AreaOfOccupancy</label>
        <div class="col-xs-10">
          <input type="text" data-ng-model="formData.territory.territoryAtomized.areaOfOccupancy"/>
        </div>
      </div>
      <div class="form-group">
        <hr/>
        <label for="territoryUnstructured" translate="" class="col-xs-2 control-label">simplePliCTerm.name.TerritoryUnstructured</label><em>(opcional)</em><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.TerritoryUnstructured&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
        <textarea rows="3" name="territory" data-ng-model="formData.territory.territoryUnstructured"></textarea>
        <div data-ng-controller="CollapseDemoCtrl">
          <div class="form-group">
            <div data-ng-show="(formData.territory.ancillaryData).length" class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <!--th.col-xs-1 {{"simplePliCTerm.name.source"|translate}}-->
                    <!--th.col-xs-1 {{"simplePliCTerm.name.bibliographicCitation"|translate}}-->
                    <th class="col-xs-3">{{"simplePliCTerm.name.license"|translate}}</th>
                    <!--th.col-xs-1 {{"simplePliCTerm.name.rights"|translate}}-->
                    <th class="col-xs-6">{{"simplePliCTerm.name.References"|translate}}</th>
                    <th class="col-xs-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="ancillary in formData.territory.ancillaryData track by $index">
                    <!--td| {{ancillary.source}}
                    -->
                    <!--td| {{ancillary.bibliographicCitation}}
                    -->
                    <td>{{ancillary.license}}	</td>
                    <!--td
                    | {{ancillary.rights}}
                    
                    -->
                    <td>
                      <div data-ng-repeat="ref in ancillary.reference track by $index" class="selected-item">
                        <div data-ng-show="ref">
                          <textarea disabled="disabled">{{ref|references_format}}		</textarea>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button data-ng-click="removeAncillaryData(formData.territory.ancillaryData,ancillary)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                      <button data-ng-click="editAncillaryData(formData.territory.ancillaryData,ancillary,$index)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button type="button" data-ng-click="isCollapsed = !isCollapsed" class="btn btn-primary btn-xs pull-right">Referencias y licencias</button>
            <div class="divider"></div>
            <div class="col-xs-9 col-xs-offset-1">
              <div uib-collapse="isCollapsed" id="ancillaryTerritory">
                <!--input(type='text', data-ng-model='ancillaryData.source', placeholder='{{"simplePliCTerm.name.source"|translate}}')-->
                <!--button.btn-xs(data-ng-click='findAncillary(ancillaryData.source)')span.glyphicon.glyphicon-search
                -->
                <div class="form-group">
                  <label for="reference" translate="" class="control-label">simplePliCTerm.name.References</label><a data-container="body" data-toggle="popover" data-placement="left" title="{{&quot;simplePliCTerm.definition.References&quot;|translate}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a><span data-ng-controller="ModalCtrl">
                    <script type="text/ng-template" id="referenceSearch">
                      <div class="modal-header">
                        <h3 class="modal-title">Referencias disponibles
                          <button data-ng-click="cancel()" class="btn btn-xs pull-right"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
                        </h3>
                      </div>
                      <div class="modal-body">
                        <div data-ng-repeat="item in items track by $index">
                          <input type="checkbox" ng-checked="list.indexOf(item) &gt; -1" data-ng-click="toggleSelection(item)"/>{{item|references_format_without_url}}
                        </div>
                      </div>
                      <div class="modal-footer"></div>
                    </script>
                    <button data-ng-click="open(formData.references,ancillaryData.reference)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-search"></span></button></span>
                  <button href="" data-ng-click="slide()" class="btn btn-success btn-xs"><span ng-class="{'glyphicon glyphicon-plus': !checked , 'glyphicon glyphicon-minus' : checked}" aria-hidden="true"></span></button>
                  <hr/>
                  <div data-ng-show="(ancillaryData.reference).length" class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr data-ng-repeat="ref in ancillaryData.reference track by $index">
                          <td class="col-xs-9">
                            <textarea disabled="disabled">{{ref|references_format}}</textarea>
                          </td>
                          <td class="col-xs-1">
                            <button data-ng-click="removeReference(ancillaryData.reference,ref)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                            <button data-ng-click="editReference(ancillaryData.reference,ref,$index)" class="btn"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div pageslide="pageslide" ps-open="checked" ps-key-listener="true">
                    <div style="padding:30px" id="demo-right">
                      <h3>Agregar nueva referencia</h3>
                      <div class="form-group">
                        <select data-ng-model="reference.type" ng-options="type.original as type.view for type in lenguajes.reference_type ">
                          <option value="">- {{"simplePliCTerm.name.type"|translate}} </option>
                        </select>
                        <input type="text" data-ng-model="reference.source" placeholder="{{&quot;simplePliCTerm.name.Source&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.title" placeholder="{{&quot;simplePliCTerm.name.title&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.authors" placeholder="{{&quot;simplePliCTerm.name.authors&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.year" placeholder="{{&quot;simplePliCTerm.name.year&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.volume" placeholder="{{&quot;simplePliCTerm.name.volume&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.issue" placeholder="{{&quot;simplePliCTerm.name.issue&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.pages" placeholder="{{&quot;simplePliCTerm.name.pages&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.series" placeholder="{{&quot;simplePliCTerm.name.series&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.chapter" placeholder="{{&quot;simplePliCTerm.name.chapter&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.link" placeholder="{{&quot;simplePliCTerm.name.websites&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.accessed" placeholder="{{&quot;simplePliCTerm.name.accessed&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.publisher" placeholder="{{&quot;simplePliCTerm.name.publisher&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.address" placeholder="{{&quot;simplePliCTerm.name.city&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.edition" placeholder="{{&quot;simplePliCTerm.name.edition&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.institution" placeholder="{{&quot;simplePliCTerm.name.institution&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.editors" placeholder="{{&quot;simplePliCTerm.name.editors&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.keywords" placeholder="{{&quot;simplePliCTerm.name.keywords&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.doi" placeholder="{{&quot;simplePliCTerm.name.doi&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.isbn" placeholder="{{&quot;simplePliCTerm.name.isbn&quot;|translate}}"/>
                        <input type="text" data-ng-model="reference.issn" placeholder="{{&quot;simplePliCTerm.name.issn&quot;|translate}}"/>
                        <!--input(type='text', data-ng-model='reference.link', placeholder='{{"simplePliCTerm.name.link"|translate}}')-->
                        <div class="pull-right">
                          <button type="button" data-ng-click="addReference(ancillaryData.reference,reference, checked)" translate="" class="btn btn-primary btn-xs">Guardar</button>
                          <button type="button" data-ng-click="cancelReference()" translate="" class="btn btn-primary btn-xs">Cancelar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="license" translate="" class="control-label">simplePliCTerm.name.license</label>
                  <panel data-ng-controller="CheckBoxCrtl">
                    <div data-ng-repeat="lic in lincese_list | filter:{nombre : '!Otra'}">
                      <input type="checkbox" data-ng-model="lic.checked" data-ng-click="updateSelectionLicence(lic, lincese_list, &quot;ManualLicenseFullDescription&quot;)"/><a data-ng-href="{{lic.url}}" target="_blank"><img id="image" data-ng-src="{{lic.image_url || '//:0' }}" hspace="10" vspace="7"/>{{lic.nombre}}</a>
                      <spant data-ng-show="lic.definicion"></spant><a data-container="body" data-toggle="popover" data-placement="left" title="{{lic.definicion}}" class="btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a>
                    </div>
                    <p id="ManualLicenseFullDescription"></p>
                    <p style="font-size:90%;"><i>* Para uso de otras licencias que no estén en este listado por favor escribenos a: sib+ac@humboldt.org.co</i></p>
                  </panel>
                  <label for="rights" translate="" class="control-label">simplePliCTerm.name.rights</label>
                  <select data-ng-model="ancillaryData.rights" ng-options="prov.proveedorDeContenido as prov.proveedorDeContenido for prov in prov_contenido | unique:'proveedorDeContenido'">
                    <option value="">- Seleccione -</option>
                  </select>
                  <!--label.control-label(for='bibliographicCitation', translate='') simplePliCTerm.name.bibliographicCitation	-->
                  <!--input(type='text', data-ng-model='ancillaryData.bibliographicCitation')-->
                </div>
                <button type="button" data-ng-click="addAncillaryData(formData.territory.ancillaryData,ancillaryData)" translate="" class="btn btn-primary btn-sm">Guardar</button>
                <button type="button" data-ng-click="cancelAncillaryData()" class="btn btn-primary btn-sm">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>