<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bower_components/ng-table/dist/ng-table.min.css">
  </head>
  <body>
    <div class="wrapper">
      <!--include ../includes/header-->
      <div data-ng-app="homeApp" data-ng-controller="homeController as home" data-ng-init="home.init('')">
        <!-- views will be injected here-->
        <div class="container">
          <div class="row">
            <div id="form-container">
              <div class="page-header text-center">
                <div class="row">
                  <div class="col-md-1"><span class="glyphicon glyphicon-user"></span></div>
                  <div class="col-md-10 text-center">
                    <h1>EDITOR DE FICHAS</h1>
                  </div>
                  <div class="col-md-1"><a href="/logout">
                      <button type="button" class="btn btn-success">Salir <span class="glyphicon glyphicon-log-out"></span></button></a></div>
                </div>
              </div>
              <div class="divider"></div>
              <div class="row">
                <div class="col-md-3"><a href="/new">
                    <button type="button" class="btn btn-success">CREAR UNA NUEVA FICHA	</button></a></div>
                <div class="col-md-9">
                  <form data-ng-submit="search()">
                    <div class="input-group">
                      <input type="search" name="q" x-webkit-speech data-ng-model="searchT" placeholder="Buscar las fichas por creador o nombre del taxon ..." required class="form-control"><span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button></span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="divider"></div>
              <div class="row">
                <div class="panel panel-primary filterable">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">FICHAS</h3>
                  </div>
                  <table data-ng-table="tableParams" class="table">
                    <thead>
                      <tr class="filters">
                        <th class="col-xs-3">ID</th>
                        <th class="col-xs-3">TAXON</th>
                        <th class="col-xs-3">CREADOR</th>
                        <th class="col-xs-3">FECHA DE CREACIÓN</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="field in $data track by field._id">
                        <td class="text-center"> <a href="/edit?id={{field._id}}">{{field._id}}</a></td>
                        <td class="text-center">{{field.taxonRecordName.scientificName.simple}}</td>
                        <td class="text-center">
                          <div data-ng-repeat="associatedParty in field.associatedParty" class="selected-item">{{associatedParty.firstName}} - {{associatedParty.lastName}}</div>
                        </td>
                        <td class="text-center">
                           
                          {{field.creation_date}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--include ../includes/footer-->
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="/bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="/bower_components/angular-ui/build/angular-ui.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="/bower_components/oboe/dist/oboe-browser.min.js"></script>
    <script src="/bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="/bower_components/async/dist/async.js"></script>
    <script src="/javascripts/home.js"></script>
  </body>
</html>