<div class="panel panel-default">
	<div class="panel-heading">
  		<spanT>{{"simplePliCTerm.name.AnnualCycles" | translate}}<spanT>
  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.AnnualCycles"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
  	</div>
  	<div class="panel-body">
		<div ng-repeat="annualCycleAtomized in formData.annualCycle.annualCycleAtomized" class="selected-item">
			<div ng-show="annualCycleAtomized">
   				<div>Evento: {{annualCycleAtomized.Event}}</div>
   				<div>Start Time: {{annualCycleAtomized.startTimeInterval| date: 'yyyy-MM-dd'}}</div>
   				<div>End Time: {{annualCycleAtomized.endTimeInterval| date: 'yyyy-MM-dd'}}</div>
			</div>
		</div>

		<div class="form-group">
			<label for="event" class="col-xs-2 control-label" translate>simplePliCTerm.name.Event</label>
		    <div class="col-xs-10">
		    	<div class="panel" ng-controller="checkBoxController">
			    	<div ng-repeat="eve in event">
				        <input type="checkbox" ng-model="eve.checked" ng-click="updateSelection(eve, event, annualCycleAtomizedType.Event)"/>
				        {{eve.name}}
				    </div>
				</div>
		    </div>
		</div>

		

		<div class="form-group">
			<label for="startTimeInterval" class="col-xs-2 control-label" translate>simplePliCTerm.name.startTimeInterval</label>
		    <div class="col-xs-10">
		    	<input id="startTimeInterval" type="date" ng-model="annualCycleAtomizedType.startTimeInterval"/>
		    </div>
		</div>

		

		<div class="form-group">
			<label for="endTimeInterval" class="col-xs-2 control-label" translate>simplePliCTerm.name.endTimeInterval</label>
		    <div class="col-xs-10">
		    	<input id="endTimeInterval" type="date" ng-model="annualCycleAtomizedType.endTimeInterval"/>
		    </div>
		</div>

		<div ng-repeat="ancillary in annualCycleAtomizedType.ancillaryData">
			{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
		</div>

		<div class="form-group">
			<div ng-controller="CollapseDemoCtrl">
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
					<div class="col-xs-10">
						<div collapse="isCollapsed">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(annualCycleAtomizedType.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
		</div>	

		<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addAnnualCycleAtomizedType(formData.annualCycle.annualCycleAtomized, annualCycleAtomizedType)">Guardar</button>

		<div class="form-group">
			<hr>

			<label for="annualCyclesUnstructured" translate>simplePliCTerm.name.AnnualCyclesUnstructured</label> <em>(opcional)</em>
			<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.AnnualCyclesUnstructured"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			<textarea rows="3" name="annualCycle" ng-model="formData.annualCycle.annualCycleUnstructured"></textarea>
	  		
			<div ng-repeat="ancillary in formData.annualCycle.ancillaryData">
				{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
			</div>
			<div ng-controller="CollapseDemoCtrl">
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
					<div class="col-xs-10">
						<div collapse="isCollapsed">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(formData.annualCycle.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>	
</div>