<div class="panel panel-default">
	<div class="panel-heading">
  		<spanT>{{"simplePliCTerm.name.Dispersal" | translate}}<spanT>
  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Dispersal"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
  	</div>
  	<div class="panel-body">

  		<div ng-repeat="purpose in formData.dispersal.dispersalAtomized.purpose">
			{{purpose}}
		</div>
		
		<div class="form-group">
			<label for="purpose" class="col-xs-2 control-label" translate>simplePliCTerm.name.Purpose</label>
		    <div class="col-xs-10">
		    	<div ng-controller="MeasurementCtrl" >
					<select ng-model="dispersalAtomized.purpose.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in purposes | unique:'measurementtype'">
						<option value="">- Seleccione -</option>
					</select>  

					<select ng-model="dispersalAtomized.purpose.measurementValue" ng-disabled="!dispersalAtomized.purpose.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr ">
						<option value="">- Seleccione -</option>
					</select>
					<button class="btn btn-success btn-xs pull-right" ng-click="addMeasurementOrFactVector(formData.dispersal.dispersalAtomized.purpose, measurementOrFact)"> Guardar proposito </button>	
				</div>
		    </div>
		</div>

		
		
		<div class="form-group">
			<label for="type" class="col-xs-2 control-label" translate>simplePliCTerm.name.Type</label>
		    <div class="col-xs-10">
		    	<div class="panel" ng-controller="CheckBoxCrtl">
			    	<div ng-repeat="type in dispersalType">	
						<div class="action-checkbox">
					        <input type="checkbox" ng-model="type.checked" ng-click="updateSelectionDispersalType(type, dispersalType)"/>
					        {{type.name}}
						</div>
					</div>
				</div>
		    </div>
		</div>
			
		<div class="form-group">
			<label for="structureDispersed" class="col-xs-2 control-label" translate>simplePliCTerm.name.StructureDispersed</label>
		    <div class="col-xs-10">
		    	<div class="panel" ng-controller="CheckBoxCrtl">
			    	<div ng-repeat="structure in structureDispersed">	
						<div class="action-checkbox">
					        <input type="checkbox" ng-model="structure.checked" ng-click="updateSelectionStructureDispersed(structure, structureDispersed)"/>
					        {{structure.name}}
						</div>
					</div>
				</div>
		    </div>
		</div>
			
		<div class="form-group">
			<label for="distance" class="col-xs-2 control-label" translate>simplePliCTerm.name.Distance</label>
		    <div class="col-xs-10">
		    	<div ng-controller="MeasurementCtrl" >
					<select ng-model="formData.dispersal.dispersalAtomized.distance.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in distance | unique:'measurementtype'">
						<option value="">- Seleccione -</option>
					</select>  

					<select ng-model="formData.dispersal.dispersalAtomized.distance.measurementValue" ng-disabled="!formData.dispersal.dispersalAtomized.distance.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr ">
						<option value="">- Seleccione -</option>
					</select>
				</div>
		    </div>
		</div>

		
		
		<div class="form-group">
			<hr>
			<label for="dispersalUnstructured" translate>simplePliCTerm.name.DispersalUnstructured</label> <em>(opcional)</em>
			<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.DispersalUnstructured"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			<textarea rows="3" name="dispersal" ng-model="formData.dispersal.dispersalUnstructured"></textarea>
	  		
			<div ng-repeat="ancillary in formData.dispersal.ancillaryData">
				{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
			</div>
			<div ng-controller="CollapseDemoCtrl">
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
					<div class="col-xs-10">
						<div collapse="isCollapsed">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(formData.dispersal.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>	
</div>