<div class="panel panel-default">
	<div class="panel-heading">
  		<spanT>{{"simplePliCTerm.name.Distribution"|translate}}<spanT>
  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Distribution"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
  	</div>
  	<div class="panel-body">
	  	<div ng-repeat="distribution in formData.distribution.distributionAtomized.distributionOpt2" class="selected-item">
			<div ng-show="distribution">
				{{distribution.country}}
				{{distribution.stateProvince}}
				{{distribution.county}}
				
			</div>
		</div>

		<div class="form-group">
			<label for="distributionScope" class="col-xs-2 control-label" translate>simplePliCTerm.name.DistributionScope</label>
		    <div class="col-xs-10">
				<div ng-repeat="ds in distributionScope">
					    <input type="checkbox" ng-model="ds.checked" ng-click="updateSelectionDistributionScope(ds, publicationDatePrecision)"/>
					    {{ds.name}}
			    </div>
			</div>
		</div>

		<div class="form-group">
			<label for="temporalCoverage" class="col-xs-2 control-label" translate>simplePliCTerm.name.TemporalCoverage</label>
		    <div class="col-xs-10">
		    	<label> {{simplePliCTerm.name.startDate|translate}} </label>
                <input id="startValidateDate" type="date" ng-model="distributionClass.temporalCoverage.startDate"/>
                <label> {{simplePliCTerm.name.endDate|translate}} </label>
                <input id="endValidateDate" type="date" ng-model="distributionClass.temporalCoverage.endDate"/>
			</div>
		</div>
		
		<div class="form-group">
			<label for="temporalCoverage" class="col-xs-2 control-label" translate>simplePliCTerm.name.countryCode</label>
			<div class="col-xs-10">
				<div ng-controller="UbicacionCtrl">
					<select ng-model="distributionOpt2.country" ng-options="attr.countryName as attr.countryName for attr in ubicacion ">
						<option value="">- Seleccione -</option>
					</select> 
				</div> 
			</div>
		</div>

		<div class="form-group">
			<label for="temporalCoverage" class="col-xs-2 control-label" translate>simplePliCTerm.name.stateProvince</label>
			<div class="col-xs-10">
				<div ng-controller="UbicacionCtrl">
					<select ng-model="distributionOpt2.stateProvince" ng-disabled="!distributionOpt2.country" ng-options="item.departmentName as item.departmentName for item in selectedAttr.departments ">
						<option value="">- Seleccione -</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="temporalCoverage" class="col-xs-2 control-label" translate>simplePliCTerm.name.county</label>
			<div class="col-xs-10">
				<div ng-controller="UbicacionCtrl">
					<select ng-model="distributionOpt2.county" ng-disabled="!distributionOpt2.country || !distributionOpt2.stateProvince" ng-options="item.countyName as item.countyName for item in selectedAttr2.counties ">
						<option value="">- Seleccione -</option>
					</select>
				</div>
			</div>
		</div>

		<button class="btn btn-success btn-sm pull-right" ng-click="addDistributionOpt2(distributionClass.distributionAtomized,distributionOpt2)"> Guardar </button>

		<div class="form-group">
			<hr>
			
			<label for="distributionUnstructured" translate>simplePliCTerm.name.DistributionUnstructured</label> <em>(opcional)</em>
			<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.DistributionUnstructured"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			<textarea rows="3" name="distribution" ng-model="distributionClass.distributionUnstructured"></textarea>
	  		
			<div ng-repeat="ancillary in distributionClass.ancillaryData">
				{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
			</div>
			<div ng-controller="CollapseDemoCtrl">
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
					<div class="col-xs-10">
						<div collapse="isCollapsed">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(distributionClass.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
		</div>	
  	</div>	
</div>