<div class="panel panel-default">
	<div class="panel-heading">
  		<spanT>{{"simplePliCTerm.name.Feeding" | translate}}<spanT>
  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Feeding"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
  	</div>
  	<div class="panel-body">
		<div ng-repeat="feedingAtomized in formData.feeding.feedingAtomized" class="selected-item">
			<div ng-show="feedingAtomized">
   				<div>{{feedingAtomized.type}}</div>
   				<div ng-repeat="thropic in feedingAtomized.thropic" class="selected-item">
   					<div ng-show="thropic">
   						{{thropic.strategy}} - {{thropic.strategyRemarks}}
   					</div>	
   				</div>	
			</div>
		</div>

		<div class="form-group">
			<label for="type" class="col-xs-2 control-label" translate>simplePliCTerm.name.type</label>
			<div class="col-xs-10">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="source in primaryDietSource">
			        	<input type="checkbox" ng-model="source.checked" ng-click="updateSelectionFeeding(source, primaryDietSource)"/>
			        	{{source.name}}
			      	</div>
			    </div>
		    </div>
		</div>


		<div class="form-group">   
		    <label for="strategy" class="col-xs-2 control-label" translate>simplePliCTerm.name.Strategy</label>
			<div class="col-xs-10">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="strategy in strategies">
						<div class="action-checkbox">
					        <input type="checkbox" ng-model="strategy.checked" ng-click="updateSelectionThropic(strategy, strategies)"/>
					        {{strategy.name}}
						</div>
					</div>
				</div>
				<label translate>simplePliCTerm.name.StrategyRemarks</label>
				<textarea rows="3" name="strategyRemarks" ng-model="thropic.strategyRemarks"></textarea>
				<button type="button" class="btn btn-success btn-sm" ng-click="addThropic(feedingAtomizedType.thropic,thropic)">Guardar estrategia</button>
		    </div>
	    </div>

		<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addFeedingAtomizedType(formData.feeding.feedingAtomized,feedingAtomizedType)">Guardar</button>	
			
		
		<div class="form-group">   

			<hr>
			
			<label for="feedingUnstructured" translate>simplePliCTerm.name.FeedingUnstructured</label> <em>(opcional)</em>
			<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.FeedingUnstructured"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			<textarea rows="3" name="feeding" ng-model="formData.feeding.feedingUnstructured"></textarea>
	  		
			<div ng-repeat="ancillary in formData.feeding.ancillaryData">
				{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
			</div>
			<div ng-controller="CollapseDemoCtrl">
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
					<div class="col-xs-10">
						<div collapse="isCollapsed">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(formData.feeding.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>	
</div>