<div ng-controller="CollapseDemoCtrl">
	<div class="panel panel-default">
			<div class="panel-heading">
				<spanT>{{"simplePliCTerm.name.Hierarchy"|translate}} </spanT>
			<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Hierarchy"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			<button class="btn btn-success btn-xs pull-right" ng-click="isCollapsed = !isCollapsed"><span ng-class="{'glyphicon glyphicon-plus': isCollapsed , 'glyphicon glyphicon-minus' : !isCollapsed}" aria-hidden="true"></span></button>
		</div>
	  	<div class="panel-body">
			<div ng-repeat="hierarchy in formData.hierarchy" class="parrafo-pegado">
				<div ng-show="hierarchy.classification">
		       		<div>classification :{{hierarchy.classification}}</div>
		    	</div>
		    	<div ng-show="hierarchy.recommended">
		       		<div>recommended :{{hierarchy.recommended}}</div>
		    	</div>
		    	<div ng-show="hierarchy.kingdom">
		       		<div>
		       			<p translate>simplePliCTerm.name.kingdom</p>: {{hierarchy.kingdom}}
		       		</div>
		    	</div>
		    	<div ng-show="hierarchy.phylum">
		       		<div>
		       			<p translate>simplePliCTerm.name.phylum</p>: {{hierarchy.phylum}}
		       		</div>
		    	</div>
		    	<div ng-show="hierarchy.classHierarchy">
		       		<div>
		       			<p translate>simplePliCTerm.name.class</p>: {{hierarchy.classHierarchy}}
		       		</div>
		    	</div>
		    	<div ng-show="hierarchy.order">
		       		<div>
		       			<p translate>simplePliCTerm.name.order</p>:{{hierarchy.order}}
		       		</div>
		    	</div>
		    	<div ng-show="hierarchy.family">
		       		<div><p translate>simplePliCTerm.name.family</p>:{{hierarchy.family}}</div>
		    	</div>
		    	<div ng-show="hierarchy.genus">
		       		<div>
		       			<p translate>simplePliCTerm.name.genus</p>:{{hierarchy.genus}}
		       		</div>
		    	</div>
		    	<div ng-show="hierarchy.subGenus">
		       		<div>
		       			<p translate>simplePliCTerm.name.subgenus</p>:{{hierarchy.subGenus}}
		       		</div>
		    	</div>
		    	<!--<div ng-show="hierarchy.taxonRank">
		       		<div>Categoría del taxón :{{hierarchy.taxonRank}}</div>
		    	</div>-->
		    	<div ng-show="hierarchy.specificEpithet">
		       		<div>
		       			<p translate>simplePliCTerm.name.specificEpithet</p>:{{hierarchy.specificEpithet}}
		       		</div>
		    	</div>
		    	<div ng-show="hierarchy.infraspecificEpithet">
		       		<div>
		       			<p translate>simplePliCTerm.name.infraSpecificEpithet</p>:{{hierarchy.infraspecificEpithet}}
		       		</div>
		    	</div>
		    	<div ng-show="hierarchy.higherClassification">
		       		<div>
		       			<p translate>simplePliCTerm.name.higherClassification</p>:{{hierarchy.higherClassification}}
		       		</div>
		    	</div>
		    	<!--<div ng-show="hierarchy.parentTaxon">
		       		<div>parentTaxon :{{hierarchy.parentTaxon}}</div>
		    	</div>	 -->
		    	<div ng-show="hierarchy.ancillaryData[0].source">
		       		<div>Fuente :{{hierarchy.ancillaryData[0].source}}</div>
		    	</div>
			</div>

		    <div collapse="isCollapsed">
		    	<hr>
		    	<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>Classification</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.classification">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{""|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>Recommended</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.recommended">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{""|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.kingdom</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.kingdom">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.kingdom"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.phylum</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.phylum">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.phylum"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.class</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.classHierarchy">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.class"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.order</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.order">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.order"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.family</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.family">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.family"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.genus</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.genus">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.genus"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.subgenus</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.subGenus">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.subgenus"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.taxonRank</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.taxonRank">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.taxonRank"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.specificEpithet</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.specificEpithet">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.specificEpithet"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.infraSpecificEpithet</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.infraspecificEpithet">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.infraSpecificEpithet"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.higherClassification</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.higherClassification">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.higherClassification"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.ParentTaxon</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="hierarchy.parentTaxon">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.ParentTaxon"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				
				<div class="form-group">
					<label for="ancillaryData" class="col-xs-2 control-label" translate>simplePliCTerm.name.AncillaryData</label>
					<div class="col-xs-10">
						<div ng-repeat="ancillary in hierarchy.ancillaryData">
							{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
						</div>
				  		<button class="btn btn-success btn-xs" ng-click="isCollapsed_1 = !isCollapsed_1"><span ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed_1 , 'glyphicon glyphicon-chevron-up' : !isCollapsed_1}" aria-hidden="true"></span></button>

						<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.AncillaryData"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
						<div collapse="isCollapsed_1">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(hierarchy.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addHierarchy(formData.hierarchy,hierarchy)">Guardar</button>
			</div>
		</div>
	</div>	
</div>