<div class="panel panel-default">
	<div class="panel-heading">
  		<spanT>{{"simplePliCTerm.name.Legislation"|translate}}<spanT>
  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Legislation"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
  	</div>
  	<div class="panel-body">
			<div ng-repeat="legislationAtomized in formData.legislation.legislationAtomized" class="selected-item">
			<div ng-show="legislationAtomized">
				<div>{{legislationAtomized}}</div>
			</div>
		</div>

		<div class="form-group">
			<label for="legislationName" class="col-xs-2 control-label" translate>simplePliCTerm.name.LegislationName</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="legislationAtomizedType.legislationName"/>
			</div>	
		</div>

		<div class="form-group">
			<label for="protectionLegalStatus" class="col-xs-2 control-label" translate>simplePliCTerm.name.ProtectionLegalStatus</label>	
			<div class="col-xs-10">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="lp in legislationProtection">
					    <input type="checkbox" ng-model="lp.checked" ng-click="updateSelectionProtectionLegal(lp,legislationProtection)"/>
					    {{lp.name}}
			    	</div>
				</div>
			</div>	
		</div>

		<div class="form-group">
			<label for="LegislationRead" class="col-xs-2 control-label" translate>simplePliCTerm.name.LegislationRead</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="legislationAtomizedType.legislationRead"/>
			</div>	
		</div>

		<div class="form-group">
			<label for="status" class="col-xs-2 control-label" translate>simplePliCTerm.name.Status</label>	
			<div class="col-xs-10">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="ls in legislationStatus">
						<input type="checkbox" ng-model="ls.checked" ng-click="updateSelectionProtectionLegalStatus(ls,legislationStatus)"/>
						{{ls.name}}
				    </div>
			    </div>
			</div>	
		</div>

		<div class="form-group">
			<label for="Type" class="col-xs-2 control-label" translate>simplePliCTerm.name.Type</label>	
			<div class="col-xs-10">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="lt in legislationType">
					    <input type="checkbox" ng-model="lt.checked" ng-click="updateSelectionProtectionLegalType(lt,legislationType)"/>
					    {{lt.name}}
				    </div>
			    </div>
			</div>	
		</div>

		<div class="form-group">
			<label for="Norm" class="col-xs-2 control-label" translate>simplePliCTerm.name.Norm</label>	
			<div class="col-xs-10">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="ln in legislationNorm">
					    <input type="checkbox" ng-model="ln.checked" ng-click="updateSelectionProtectionLegalNorm(ln,legislationNorm)"/>
					    {{ln.name}}
				    </div>
			    </div>
			</div>	
		</div>

		<div class="form-group">
			<label for="appliesTo" class="col-xs-2 control-label" translate>simplePliCTerm.name.AppliesTo</label>	
			<div class="col-xs-10">
				<div ng-controller="UbicacionCtrl" >
					<select ng-model="legislationAtomizedType.aplliesTo.country" ng-options="attr.countryName as attr.countryName for attr in ubicacion ">
						<option value="">- Seleccione -</option>
					</select>  
					
					<select ng-model="legislationAtomizedType.aplliesTo.stateProvince" ng-disabled="!legislationAtomizedType.aplliesTo.country" ng-options="item.departmentName as item.departmentName for item in selectedAttr.departments ">
						<option value="">- Seleccione -</option>
					</select>
					<select ng-model="legislationAtomizedType.aplliesTo.county" ng-disabled="!legislationAtomizedType.aplliesTo.country || !legislationAtomizedType.aplliesTo.stateProvince" ng-options="item.countyName as item.countyName for item in selectedAttr2.counties ">
						<option value="">- Seleccione -</option>
						</select>
			    </div>
			</div>	
		</div>

		
		<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addLegislationAtomized(legislationAtomizedType)">Guardar</button>

		<div class="form-group">
			<hr>
			<label for="legislationUnstructured" translate>simplePliCTerm.name.LegislationUnstructured</label> <em>(opcional)</em>
			<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.LegislationUnstructured"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			<textarea rows="3" name="legislation" ng-model="formData.legislation.legislationUnstructured"></textarea>
	  		
			<div ng-repeat="ancillary in formData.legislation.ancillaryData">
				{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
			</div>
			<div ng-controller="CollapseDemoCtrl">
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
					<div class="col-xs-10">
						<div collapse="isCollapsed">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(formData.legislation.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
		</div>	
  	</div>	
</div>