<div class="panel panel-default">
	<div class="panel-heading">
  		<spanT>{{"simplePliCTerm.name.ManagementAndConservation"|translate}}<spanT>
  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.ManagementAndConservation"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
  	</div>
  	<div class="panel-body">
			<div ng-repeat="managementAndConservationAtomized in formData.usesManagementAndConservation.managementAndConservationAtomized" class="selected-item">
			<div ng-show="managementAndConservationAtomized">
				<div>{{managementAndConservationAtomized}}</div>
			</div>
		</div>

		<div class="form-group">
			<label for="type" class="col-xs-2 control-label" translate>simplePliCTerm.name.Type</label>	
			<div class="col-xs-10">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="mt in managementType">
					    <input type="checkbox" ng-model="mt.checked" ng-click="updateSelectionManagementType(mt, managementType)"/>
					    {{mt.name}}
				    </div>
				</div>
			</div>	
		</div>


		<div class="form-group">
			<label for="objectives" class="col-xs-2 control-label" translate>simplePliCTerm.name.Objectives</label>	
			<div class="col-xs-10">
				 <input id="objective" type="text" ng-model="managementAndConservationAtomizedType.objective"/>
			</div>	
		</div>


		<div class="form-group">
			<label for="managementPlan" class="col-xs-2 control-label" translate>simplePliCTerm.name.ManagementPlan</label>	
			<div class="col-xs-10">
				 <input id="managementPlan" type="text" ng-model="managementAndConservationAtomizedType.managementPlan"/>
			</div>	
		</div>


		<div class="form-group">
			<label for="actions" class="col-xs-2 control-label" translate>simplePliCTerm.name.Actions</label>	
			<div class="col-xs-10">
				<div class="panel" ng-controller="checkBoxController">
					<div ng-repeat="ma in managementAction">
					    <input type="checkbox" ng-model="ma.checked" ng-click="updateSelectionManagementAction(ma)"/>
					    {{ma.name}}
				    </div>
				</div>
			</div>	
		</div>

		<div class="form-group">
			<label for="humanAndEnvironmentalRelevance" class="col-xs-2 control-label" translate>simplePliCTerm.name.HumanAndEnvironmentalRelevance</label>	
			<div class="col-xs-10">
                <input id="humanAndEnvironmentalrelevanc" type="text" ng-model="managementAndConservationAtomizedType.humanAndEnvironmentalrelevanc"/>
			</div>	
		</div>
		
		<div class="form-group">
			<div ng-repeat="ancillary in managementAndConservationAtomizedType.ancillaryData">
				{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
			</div>
			<div ng-controller="CollapseDemoCtrl">
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm" ng-click="isCollapsed = !isCollapsed">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
					<div class="col-xs-10">
						<div collapse="isCollapsed">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(managementAndConservationAtomizedType.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addManagementAndConservation(managementAndConservationAtomizedType)">Guardar </button>
		</div>
  	</div>	
</div>
