<div class="panel panel-default">
	<div class="panel-heading">
  		<spanT>{{"simplePliCTerm.name.MolecularData" | translate}}<spanT>
  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.MolecularData"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
  	</div>
  	<div class="panel-body">
		<div ng-repeat="measurementOrFact in formData.molecularData.molecularDataAtomized.measurementOrFact" class="selected-item">
			<div ng-show="measurementOrFact">
   				<div>{{measurementOrFact}}</div>
			</div>
		</div>

		<div class="form-group">
			<div ng-controller="MeasurementCtrl" >
				<select ng-model="molecularDataAtomizedType.measurementOrFact.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in molecularDatas | unique:'measurementtype'">
					<option value="">- Seleccione -</option>
				</select>  

				<select ng-model="molecularDataAtomizedType.measurementOrFact.measurementValue" ng-disabled="!molecularDataAtomizedType.measurementOrFact.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr ">
					<option value="">- Seleccione -</option>
				</select>
			</div>
		</div>


		<div class="form-group">
			<label for="relatedTo" class="col-xs-2 control-label" translate>simplePliCTerm.name.Related to</label>
			<div class="col-xs-10">
				<textarea rows="3" name="relatedTo" ng-model="molecularDataAtomizedType.relatedTo"></textarea>
		    </div>
		</div>

		
		<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addMolecularDataAtomizedType(formData.molecularData.molecularDataAtomized,molecularDataAtomizedType)">Guardar</button>
		
		<div class="form-group">
			<hr>
			
			<label for="molecularDataUnstructured" translate>simplePliCTerm.name.MolecularDataUnstructured</label> <em>(opcional)</em>
			<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.MolecularDataUnstructured"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			<textarea rows="3" name="molecularData" ng-model="formData.molecularData.molecularDataUnstructured"></textarea>
	  		
			<div ng-repeat="ancillary in formData.molecularData.ancillaryData">
				{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
			</div>
			<div ng-controller="CollapseDemoCtrl">
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
					<div class="col-xs-10">
						<div collapse="isCollapsed">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(formData.molecularData.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>	
</div>