<div class="panel panel-default">
	<div class="panel-heading">
  		<spanT>{{"simplePliCTerm.name.PopulationBiology"|translate}}<spanT>
  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.PopulationBiology"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
  	</div>
  	<div class="panel-body">
			<div ng-repeat="populationBiologyAtomized in formData.populationBiology.populationBiologyAtomized" class="selected-item">
			<div ng-show="populationBiologyAtomized">
				<div>{{populationBiologyAtomized}}</div>
			</div>
		</div>

		<div class="form-group">
			<label for="Region" class="col-xs-2 control-label" translate>simplePliCTerm.name.Region</label>	
			<div class="col-xs-10">
				<div class="panel" ng-controller="CheckBoxCrtl">
					<div ng-repeat="reg in region">
					    <input type="checkbox" ng-model="reg.checked" ng-click="updateSelectionRegion(reg, region)"/>
					    {{reg.name}}
				    </div>
				 </div>
			</div>	
		</div>

		<div class="form-group">
			<label for="abundanceData" class="col-xs-2 control-label" translate>simplePliCTerm.name.AbundanceData</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.abundanceData.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.AbundanceData"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="densityData" class="col-xs-2 control-label" translate>simplePliCTerm.name.DensityData</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.densityData.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.DensityData"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="patternDistribution" class="col-xs-2 control-label" translate>simplePliCTerm.name.PatternDistrubution</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.patternDistribution.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.PatternDistrubution"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="size" class="col-xs-2 control-label" translate>simplePliCTerm.name.Size</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.size.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Size"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="sexRatio" class="col-xs-2 control-label" translate>simplePliCTerm.name.SexRatio</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.sexRatio.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.SexRatio"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="fecundity" class="col-xs-2 control-label" translate>simplePliCTerm.name.Fecundity</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.fecundity.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Fecundity"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="mortalityRate" class="col-xs-2 control-label" translate>simplePliCTerm.name.MortalityRate</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.mortalityRate.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.MortalityRate"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="birthRate" class="col-xs-2 control-label" translate>simplePliCTerm.name.BirthRate</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.birthRate.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.BirthRate"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="numberIndividualsPerObservation" class="col-xs-2 control-label" translate>simplePliCTerm.name.NumberIndividualsPerObservation</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.numberIndividualsPerObservation.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.NumberIndividualsPerObservation"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="averageDensity" class="col-xs-2 control-label" translate>simplePliCTerm.name.AverageDensity</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.averageDensity.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.AverageDensity"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="populationTrend" class="col-xs-2 control-label" translate>simplePliCTerm.name.PopulationTrend</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.populationTrend.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.PopulationTrend"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="recruitment" class="col-xs-2 control-label" translate>simplePliCTerm.name.Recruitment</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.recruitment.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Recruitment"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="populationGrowthRate" class="col-xs-2 control-label" translate>simplePliCTerm.name.PopulationGrowthRate</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.populationGrowthRate.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.PopulationGrowthRate"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="emigration" class="col-xs-2 control-label" translate>simplePliCTerm.name.Emigration</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.emigration.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Emigration"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="immigration" class="col-xs-2 control-label" translate>simplePliCTerm.name.Immigration</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.immigration.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Immigration"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="descriptionLifeStages" class="col-xs-2 control-label" translate>simplePliCTerm.name.DescriptionLifeStages</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.descriptionLifeStages.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.DescriptionLifeStages"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="proportionIndividualsPerStageLife" class="col-xs-2 control-label" translate>simplePliCTerm.name.ProportionIndividualsPerStage</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.proportionIndividualsPerStageLife.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.ProportionIndividualsPerStage"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<div class="form-group">
			<label for="carryingCapacity" class="col-xs-2 control-label" translate>simplePliCTerm.name.CarryingCapacity</label>	
			<div class="col-xs-10">
				<input type="text"  ng-model="populationBiologyAtomized.carryingCapacity.measurementValue"/>
				<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.CarryingCapacity"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			</div>
		</div>

		<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addPopulationBiology(populationBiologyAtomized)">Guardar</button>

		<div class="form-group">
			<hr>
			<label for="populationBiologyUnstructured" class="col-xs-2 control-label" translate>simplePliCTerm.name.PopulationBiologyUnstructured</label> <em>(opcional)</em>
			<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.PopulationBiologyUnstructured"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			<textarea rows="3" name="populationBiology" ng-model="formData.populationBiology.populationBiologyUnstructured"></textarea>
	  		
			<div ng-repeat="ancillary in formData.territory.ancillaryData">
				{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
			</div>
			<div ng-controller="CollapseDemoCtrl">
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
					<div class="col-xs-10">
						<div collapse="isCollapsed">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(formData.territory.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
		</div>	
  	</div>	
</div>
