<div ng-controller="CollapseDemoCtrl">
	<div class="panel panel-default">
	  	<div class="panel-heading">
	  		<spanT>{{"simplePliCTerm.name.SynonymsAtomized"|translate}}</spanT> 
	  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.SynonymsAtomized"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
	  		<button class="btn btn-success btn-xs pull-right" ng-click="isCollapsed = !isCollapsed"><span ng-class="{'glyphicon glyphicon-plus': isCollapsed , 'glyphicon glyphicon-minus' : !isCollapsed}" aria-hidden="true"></span></button>
	  	</div>
	  	<div class="panel-body">
			<div ng-repeat="synonymAtomized in formData.synonymsAtomized" class="parrafo">
				<div ng-show="synonymAtomized.synonymName.canonicalName.simple" display:"inline">
		       		{{synonymAtomized.synonymName.canonicalName.simple}}
		       	</div>
		       	<div ng-show="synonymAtomized.synonymStatus" display:"inline">
		       			<p translate>simplePliCTerm.name.SynonymStatus</p> {{synonymAtomized.synonymStatus}}	
		    	</div>
	    		
			</div>

		    <div collapse="isCollapsed">
		    	<hr>
				<div class="form-group">
					<label for="canonicalName" class="col-xs-2 control-label" translate>simplePliCTerm.name.SynonymName</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="synonmy.canonicalName">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.SynonymName"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>

				    </div>
				</div>
				<div class="form-group">
					<label for="synonymStatus" class="col-xs-2 control-label" translate>simplePliCTerm.name.SynonymStatus</label>
				    <div class="col-xs-10">
				    	<input type="text" ng-model="synonmy.SynonymStatus">
				    	<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.SynonymStatus"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
				    </div>
				</div>
				<div class="form-group">
					<label for="publishedln" class="col-xs-2 control-label" translate>simplePliCTerm.name.Publishedln</label>
					<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Publishedln"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
					<div class="col-xs-10">
						<input type="text"  ng-model="synonmy.publishedln.identifier" placeholder={{"simplePliCTerm.name.Identifier"|translate}}>
						<input type="text"  ng-model="synonmy.publishedln.datatype" placeholder={{"simplePliCTerm.name.Datatype"|translate}}>
						<input type="text"  ng-model="synonmy.publishedln.source" placeholder={{"simplePliCTerm.name.Source"|translate}}>
					</div>
				</div>	
				<div class="form-group">
					<label for="ancillaryData" class="col-xs-2 control-label" translate>simplePliCTerm.name.AncillaryData</label>
					<div class="col-xs-10">
						<div ng-repeat="ancillary in synonmy.ancillaryData">
							{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
						</div>
						<button class="btn btn-success btn-xs" ng-click="isCollapsed_1 = !isCollapsed_1"><span ng-class="{'glyphicon glyphicon-chevron-down': isCollapsed_1 , 'glyphicon glyphicon-chevron-up' : !isCollapsed_1}" aria-hidden="true"></span></button>

						<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.AncillaryData"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
						<div collapse="isCollapsed_1">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(synonmy.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-success btn-sm pull-right" ng-click="addSynonymsAtomized(formData.synonymsAtomized,synonmy)">Guardar</button>
			</div>
		</div>
	</div>
</div>