<div class="panel panel-default">
	<div class="panel-heading">
  		<spanT>{{"simplePliCTerm.name.Territory"|translate}}<spanT>
  		<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.Territory"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
  	</div>
  	<div class="panel-body">
  		<div class="form-group">
  			<label for="extentOfOccurrence" class="col-xs-2 control-label" class="col-xs-2 control-label" translate>simplePliCTerm.name.ExtentOfOccurrence</label>
  			<div class="col-xs-10">
				<div ng-controller="MeasurementCtrl" >
					<select ng-model="territoryAtomized.extentOfOccurrence.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in extentOfOccurrence | unique:'measurementtype'">
						<option value="">- Seleccione -</option>
					</select>  

					<select ng-model="territoryAtomized.extentOfOccurrence.measurementValue" ng-disabled="!territoryAtomized.extentOfOccurrence.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr ">
						<option value="">- Seleccione -</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="areaOfOccupancy" class="col-xs-2 control-label" class="col-xs-2 control-label" translate>simplePliCTerm.name.AreaOfOccupancy</label>	
			<div class="col-xs-10">
				<div ng-repeat="areaOfOccupancy in formData.territory.territoryAtomized.areaOfOccupancy" class="selected-item">
					<div ng-show="areaOfOccupancy">
						<div>{{areaOfOccupancy}}</div>
					</div>
				</div>
			</div>	
		</div>

		<div class="form-group">
			<div ng-controller="MeasurementCtrl" >
				<select ng-model="territoryAtomized.areaOfOccupancy.measurementType" ng-options="attr.measurementtype as attr.measurementtype for attr in areaOfOccupancy | unique:'measurementtype'">
					<option value="">- Seleccione -</option>
				</select>  

				<select ng-model="territoryAtomized.areaOfOccupancy.measurementValue" ng-disabled="!territoryAtomized.areaOfOccupancy.measurementType" ng-options="item.measurementvalue as item.measurementvalue for item in selectedAttr ">
					<option value="">- Seleccione -</option>
				</select>
			</div>
			<button class="btn btn-success btn-sm pull-right" ng-click="addMeasurementOrFactVector(formData.territory.territoryAtomized.areaOfOccupancy, measurementOrFact)"> Guardar </button>
		</div>

		<div class="form-group">
			<hr>
			<label for="territoryUnstructured" class="col-xs-2 control-label" translate>simplePliCTerm.name.TerritoryUnstructured</label> <em>(opcional)</em>
			<a  class="btn-xs" data-container="body" data-toggle="popover" data-placement="left" title={{"simplePliCTerm.definition.TerritoryUnstructured"|translate}}><span class="glyphicon glyphicon-info-sign"></span></a>
			<textarea rows="3" name="territory" ng-model="formData.territory.territoryUnstructured"></textarea>
	  		
			<div ng-repeat="ancillary in formData.territory.ancillaryData">
				{{ancillary.license}} - {{ancillary.rights}} - {{ancillary.mediaURL}}
			</div>
			<div ng-controller="CollapseDemoCtrl">
				<div class="form-group">
					<button type="button" class="btn btn-primary btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">{{"simplePliCTerm.name.AncillaryData"|translate}}</button>
					<div class="col-xs-10">
						<div collapse="isCollapsed">
							<input type="text"  ng-model="ancillaryData.license" placeholder={{"simplePliCTerm.name.license"|translate}}>
							<input type="text"  ng-model="ancillaryData.rights" placeholder={{"simplePliCTerm.name.rights"|translate}}>
							<input type="text"  ng-model="ancillaryData.bibliographicCitation" placeholder={{"simplePliCTerm.name.bibliographicCitation"|translate}}>
							<input type="text"  ng-model="ancillaryData.source" placeholder={{"simplePliCTerm.name.source"|translate}}>
							<input type="text"  ng-model="ancillaryData.mediaURL" placeholder={{"simplePliCTerm.name.mediaURL"|translate}}>
							<button type="button" class="btn btn-primary btn-sm" ng-click="addAncillaryData(formData.territory.ancillaryData,ancillaryData)" translate>Guardar<span class="glyphicon glyphicon-plus"></span> </button>
						</div>
					</div>
				</div>
			</div>
		</div>	
  	</div>	
</div>